@charset "utf-8";

/* sub-wrap */
#sub-wrap{margin-top:30px;margin-bottom:30px;}
#sub-wrap .contents{height:100%;}
	
/* left(menu) */
.left-menu {margin-top: 3px;}
.sub .left .left-head h2{background:#1378cb;height:100px;font-family:"Nanum Square";text-align:center;vertical-align:middle;font-size:27px;font-weight:bold;line-height:100px;color:#fff;}
.sub .left .left-head h2:after{content:'';display:block;clear:both;}
.sub .left .left-menu a{display:block;width:100%;height:100%;}
.sub .left .left-menu a:hover,.left .left-menu a:visited,.left .left-menu a:focus{text-decoration:none;}
.sub .panel {background:transparent!important;margin-bottom:0;border-radius:0!important;border:0;box-shadow:0 0 0 0;}
.sub .panel-heading{border-radius:0;padding:0;}
.sub .panel-group{margin:0;}
.sub .left .left-menu .depth2 > .panel {margin:0;border-bottom:1px solid #eee;}
.sub .left .left-menu .depth2 .panel-heading{background:transparent;}
.sub .left .left-menu .depth2 .panel-heading:hover{background:#f8f8f8;}
.sub .left .left-menu .depth2 > .panel > .panel-heading a{color:#222;font-size:17px;padding:10px 20px;}
.sub .left .left-menu .depth2 > .panel > .panel-heading a .fa{float:right;font-size:14px;margin-top:4px;}
.sub .left .left-menu .depth2 > .panel > .panel-heading a .fa:before{content:'\f067';}
.sub .left .left-menu .depth2 > .panel > .panel-heading.active a .fa:before{content:'\f068';}
.sub .left .left-menu .depth2 .panel-body{background:transparent;color:#222;font-size:15px;border:0;border-radius:0;padding:0;}
.sub .left .left-menu .depth2 > .panel > .panel-heading.active{background:#1378cb;}
.sub .left .left-menu .depth2 > .panel > .panel-heading.active .panel-title a{color:#fff;font-size:17px;}

.sub .left .left-menu .depth3{background:#f0f1f6;border:0;border-radius:0;padding-top:7px;padding-bottom:7px;}
.sub .left .left-menu .depth3 .panel{margin:0;}
.sub .left .left-menu .depth3 .panel .panel-heading .panel-title a{color:#7d7f7e;font-size:15px;padding:6px 20px;}
.sub .left .left-menu .depth3 .panel .panel-heading .panel-title a i{margin-right:5px;}
.sub .left .left-menu .depth3 .panel .panel-heading.active .panel-title a{color:#1378cb;}

.new-window {text-indent:-10000px;background:url(http://www.gangnam.go.kr/assets/images/icon/newwindow.png) no-repeat;width:11px;height:12px;margin-left:5px;display:inline-block;vertical-align:baseline}

/* sub-header(title, navi, dashboard) */
.sub .sub-header .navi{margin-top:10px;font-size:12px;}
.sub .sub-header .navi ul{list-style:none;color:#676767;}
.sub .sub-header .navi ul li{float:left;}
.sub .sub-header .navi ul li a{color:#676767;}
.sub .sub-header .navi ul li a:hover,.sub .sub-header .navi ul li a:visited,.sub .sub-header .navi ul li a:focus{color:#676767;text-decoration:none;}
.sub .sub-header .navi ul li:after{color:#ccc;content:'\f105';padding:0 10px;display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0);}
.sub .sub-header .navi ul li:nth-last-child(1):after{display:none;}

.sub .title-wrap {margin-top:17px; position: relative;}
.sub .title-wrap h3.con-title{font-family:"Nanum Square";font-size:37px;font-weight:bold;padding:0;}
.sub .title-wrap .sep-line{height:0;border-bottom:3px solid #333;margin-top:18px;}

.sub .sub-header .dashboard{z-index:5;margin-top:6px;padding:0;}
.sub .sub-header .sns_share{position: absolute;right: 70px; cursor: pointer; top: 10px;}
.sub .sub-header .print_btn{position: absolute;right: 17px; cursor: pointer; top: 10px;}
.sub .sub-header .dashboard ul{list-style:none;display:inline-block;float:right;}
.sub .sub-header .dashboard ul:after{content:'';display:block;clear:both;}
.sub .sub-header .dashboard ul li{float:left;margin-right:10px;}
.sub .sub-header .dashboard ul li:nth-last-child(1){margin:0;}
.sub .sub-header .dashboard ul li a{cursor:pointer;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.sub .sub-header .dashboard ul li a:hover,.sub .sub-header .dashboard ul li a:visited,.sub .sub-header .dashboard ul li a:focus{opacity:0.8;}
.sub .sub-header .dashboard .mobile_sns_list{display:none;}
.sub .sub-header .dashboard .sns_list{display:none;background-color: #fff; border:1px solid #ddd; padding: 10px;  position: absolute; right: 0; top: 52px; display:none;}

/* tab-menu(depth4)
.sub .tab-menu{margin-top:40px;list-style:none;}
.sub .tab-menu li{float:left;border-top:1px solid #bbb;border-left:1px solid #bbb;border-bottom:1px solid #bbb;text-align:center;padding:0;}
.sub .tab-menu li:nth-last-child(1){border-right:1px solid #bbb;}
.sub .tab-menu li a{display:block;color:#454545;padding:12.5px 0;}
.sub .tab-menu li a:hover,.sub .sub-header .tab-menu li a:visited,.sub .sub-header .tab-menu li a:focus{color:#666;font-weight:bold;text-decoration:none;}
.sub .tab-menu li.active a{background:#646b7e;color:#fff;font-weight:bold;}*/

/* content */
.sub .contents{margin-top:30px; min-height:500px;}
.sub .food_txt_box {float:left;padding-left:20px;}
.sub .foodmarket_img {float:left;}
.sub .food_txt_box ul{padding-top:10px;} 

.sub .food_txt_box p.foodmarket_tit{font-size:18px;font-family:"Nanum Square";padding-top:10px;}

/*강남구소개*/
.gn-info .info_img_copy{background-color:#23346a;color:#fff;font-family:"Nanum Square";font-size:20px; padding:10px;}
.gn-info .info_img_copy>span{font-size:22px; font-weight:bold;}
.gn-info .info_character_txt{overflow:hidden;border-bottom:1px solid #eee;padding:20px 0;}
.gn-info .info_character_txt p{font-weight:bold; font-size:18px;padding:0}
.gn-info .info_character_txt p>span{display:block;}
.gn-info .info_character_txt ul{padding-left:30px;clear:inherit}
.gn-info .con_link_tab{overflow:hidden;}
.gn-info .con_link_tab>div{padding:5px}
.gn-info .con_link_tab .btn.con_link_active{background-color:#1378cb;font-weight:bold}
.gn-info .text-point{font-weight:bold;font-size:16px}
.gn-info .logo_color {height:20px}
.gn-info .logo_color1 {background-color:#063b94}
.gn-info .logo_color2 {background-color:#a09f9a}
.gn-info .gn_symbol li{padding:0 10px !important;text-align:center;}
.gn-info #dong_select_frm {padding:0;}

/*조직도*/
.org-content{overflow:hidden}
.org-content .gn-org-area {overflow:hidden}
.org-content ul.organization_wrap{position:relative;}
.org-content ul.organization_wrap li{font-size:16px; color:#fff}
.org-content .org_top_box{text-align:left;padding-bottom:20px}
.org-content .org_top_box:before{content:'';position:absolute;border-right:1px solid #ddd;height:130%;left:49%;top:50px;z-index:-1}
.org-content .org_top_box a {color:#fff}
.org-content .org_top_box>p.org_top_gumin {height:262px;width:277px; left:6px; padding-top:15px;text-align:center;margin:auto;position:relative}
.org-content .org_top_box>p {height:50px;width:160px;padding-top:15px;text-align:center;margin:auto;position:relative}
.org-content .org_top_box>ul {padding-left:160px;position:absolute;right:113px}
.org-content .org_top_box>ul:before {content:'';position:absolute;border-bottom:1px solid #ddd;width:100%;left:-0.48%;top:26px;z-index:-1}
.org-content .org_top_box>p.org_top_gumin span.org_top_name {position:absolute; left:105px; bottom:15px; color:#fff;font-size:20px;padding-left:8px;font-weight:400;font-family:"Nanum Square"}
.org-content .org_top_box>p span.org_top_name {color:#fffeb2;font-size:20px;padding-left:8px;font-weight:400}
.org-content .org_top_box>ul>li {width:150px;margin-bottom:10px;padding:10px 0;text-align:center;}
.org-content .top_box1 p.org_top_gumin {background-image:url('http://www.gangnam.go.kr/assets/images/contents/04/040801_gumin.png');background-repeat:no-repeat;background-size:cover}
.org-content .top_box1 p {background-image:url('http://www.gangnam.go.kr/assets/images/contents/04/040801_alderman.jpg');background-repeat:no-repeat;background-size:cover}
.org-content .top_box1 ul li {background-color:#5e69d0;}
.org-content .top_box2 {padding-top:65px!important}
.org-content .top_box2 p {background-image:url('http://www.gangnam.go.kr/assets/images/contents/04/040801_assi_alderman.jpg');background-repeat:no-repeat;background-size:cover}
.org-content .top_box2 ul {z-index:9999}
.org-content .top_box2 ul li{background-color:#1378cb;}
.org-content .org-bottom-box-area {padding-top:160px}
.org-content .org-bottom-box-area:before {content:'';position:absolute;border-top:1px solid #ddd;height:1px;left:7%;top:129px;z-index:-1;width:84%}
.org-content .org_bottom_box{text-align:left;padding:0 5px !important;width:14%;float:left}
.org-content .org_bottom_box>p {padding:10px 0;text-align:center;background-color:#444;}
.org-content .org_bottom_box>ul {height:230px;padding:5px 0;border:1px solid #ddd;font-weight:inherit;text-align:center;}
.org-content .org_bottom_box>ul>li {color:#666;font-size:13px;line-height:22px;}
.org-content .org_bottom_box>p span.org_bottom_name {font-size:13px;display:block}

.org-content .org-bottom-box-bk{ margin-top: 160px;padding: 1px;  border: 1px solid #ddd;}
.org-content .org-bottom-box-bk > .org-bottom-box-area.nsx {border: 1px solid #ddd; padding: 15px 0; background: #fff;}
.org-content .org-bottom-box-area:after{content: ''; display: block; clear: both;}
.org-content .org-bottom-box-area.nsx:before{display: none;}
.org-content .org-bottom-box-area.nsx .bottom-group:before{height: 30px;}
.org-content .org-bottom-box-area.nsx > li {margin-bottom: 20px;}
/* .org-content .org-bottom-box-area.nsx > li:nth-of-type(7n + 1){margin-left: 1%;} */
.org-content .org-bottom-box-area > li .hws > div{display: table; width: 100%; text-align: center; background: #34495e;}
.org-content .org-bottom-box-area > li .hws > div > a{display: table-cell; vertical-align: middle; height: 40px; padding: 0 4px; line-height: 16px; font-size: 14px; color: #fff; }
.org-content .org-bottom-box-area > li .hws > p{margin-top: 5px; margin-bottom: 0;}
.org-content .org-bottom-box-area > li .hws > p > a{font-size: 13px;}
				
.bottom-group {position:relative}
.bottom-group:before {content:'';position:absolute;border-right:1px solid #ddd;height:20%;left:50%;top:-31px;z-index:-1}

/* .org-top-area {padding-left:13%} */
.org_0101 {right:0!important;width:100%;padding-left:0!important;padding-right:120px!important;padding-left:120px!important;/* left:6.8% */}
.org_0101:before {width:50%!important;left:25%!important}
.org_1231:before {width:24.2%!important;left:25%!important}
.none-link {background-color:#fff!important;color:#5e69d0!important;box-shadow:inset 0 0 0 3px #5e69d0}
.district-council-group:before {display:none!important}
.district-council-group .district-council {background-color:#3F51B5!important}
.district-council-group .district-council>a, 
.district-council-group .district-council>a:hover, 
.district-council-group .district-council>a:focus {color:#fff}
/* 뉴디자인추진단 조직도 변경 */
.new-design-area {background-color:unset!important;padding:0!important}
.new-design-area .new-design {width:150px;margin-bottom:10px;padding:10px 0;text-align:center;background-color:#1378cb;display:block}
.new-design-area .new-design-list {border:1px solid #ddd}
.new-design-area .new-design-list li {background-color:#fff!important}
.new-design-area .new-design-list li>a {color:#333;font-size:13px}
.new-design-area .new-design-list li>a:hover {color:#999}

.center-org-area {border-top:1px solid #eaeaea;padding-top:20px}
.center-organization-wrap>li>p {font-size:17px;color:#fff;height:50px;width:160px;padding-top:15px;text-align:center;margin:auto;position:relative;background-image:url('http://www.gangnam.go.kr/assets/images/contents/04/040801_alderman.jpg');background-repeat:no-repeat;background-size:cover}
.center-org-box {margin-top:20px}
.center-org-box>li {float:left;width:10%!important;margin-bottom:11px!important;font-size:14px!important;padding:0 5px !important}
.center-org-box>li>a {display:block;width:100%;height:100%;background-color:#607D8B;color:#fff;text-align:center;font-size:13px;padding:5px 0}
.center-org-box>li>a:hover, .center-org-box>li>a:focus {color:#fff!important}

.dept-info {margin-top:20px}

/* 두근두근강남(palpitate) sub-main */
#sub-wrap.palpitate, #sub-wrap.communicate{margin:0;}

.palpitate .story-wrap{padding:30px 0;background:url('http://www.gangnam.go.kr/assets/images/main/sub/palpitate/story-wrap_bg.png');}
.palpitate .story-wrap .story{display:block;overflow:hidden;position:relative;cursor:pointer;}
.palpitate .story-wrap .story .caption{position:absolute;background:#033096;color:#fff;padding:5px 10px;top:10px;left:10px;vertical-align:middle;z-index:10;}
.palpitate .story-wrap .story img{width:100%;height:auto;}
.palpitate .story-wrap .story .info{opacity:0;position:absolute;width:100%;background:rgba(0,0,0,0.8);color:#fff;bottom:0;padding:20px;transform:translate(0,50px);transition:all 0.3s ease;}
.palpitate .story-wrap .big .info dt{font-family:"Nanum Square";font-size:30px;}
.palpitate .story-wrap .big .info dd{font-size:14px;margin-top:15px;}
.palpitate .story-wrap .small .info dt{font-family:"Nanum Square";font-size:20px;}
.palpitate .story-wrap .small .info dd{font-size:14px;margin-top:15px;}
.palpitate .story-wrap .story.on .info{opacity:1;transform:translate(0,0);}

.palpitate .news-latest-wrap{background:#f6f6f6;padding:30px 0;position:relative;}
.palpitate .news-latest-wrap .card-news h4{font-family:"Nanum Square";font-size:20px;font-weight:bold;}
.palpitate .news-latest-wrap .card-news .card-news-box{margin-top:15px;}
.palpitate .news-latest-wrap .card-news .more-btn{position:absolute;top:2px;right:15px;font-size:13px;color:#666;}
.palpitate .news-latest-wrap .bx-wrapper ul>li {list-style:none!important}
.palpitate .news-latest-wrap .bx-wrapper a {display:block;width:100%}
.palpitate .news-latest-wrap .bx-wrapper .slider a:after {content:""; display:block; width:100%; height:360px; box-sizing:border-box; position:absolute; top:0; bottom:0; left:0; right:0; border:3px solid #3498db; z-index:9; opacity:0;}
.palpitate .news-latest-wrap .bx-wrapper .slider a:focus:after {opacity:1}
.palpitate .news-latest-wrap .bx-wrapper img{width:100%;}
.palpitate .news-latest-wrap .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;}
.palpitate .news-latest-wrap .bx-wrapper .bx-pager.bx-default-pager a{text-indent:-9999px;display:block;width:14px;height:14px;margin:0 3px;border:1px solid #fff;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.palpitate .news-latest-wrap .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:#fff;}
.palpitate .news-latest-wrap .bx-wrapper .bx-pager{text-align:center;position:relative;top:-80px;z-index:10}
.palpitate .news-latest-wrap .bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;width:32px;height:32px;z-index:18;border-radius:16px;background:rgba(0,0,0,0.8);color:#fff;font-size:20px;text-align:center;padding:3px;}
.palpitate .news-latest-wrap .bx-wrapper .bx-prev{left:20px;}
.palpitate .news-latest-wrap .bx-wrapper .bx-next{right:20px;}
.palpitate .news-latest-wrap .clearfix{position:relative;}
.palpitate .news-latest-wrap .tab-title{position:absolute;background:#ececec;width:50%;font-family:"Nanum Square";font-size:15px;top:0;text-align:center;}
.palpitate .news-latest-wrap .tab-title a{padding:12px;color:#222;display:block;}
.palpitate .news-latest-wrap .tab-title.active{background:#fff;font-weight:bold;}
.palpitate .news-latest-wrap .tab-title.active a{color:#3498db;}
.palpitate .news-latest-wrap .tab-content.active{display:block;}
.palpitate .news-latest-wrap .tab-content{display:none;background:#fff;margin-top:39px;}
.palpitate .news-latest-wrap .tab-content a{width:100%;padding:22px 20px;position:relative;display:block;}
.palpitate .news-latest-wrap .tab-content a:after{content:'';display:block;clear:both;}
.palpitate .news-latest-wrap .tab-content a .image{float:right;overflow:hidden;}
.palpitate .news-latest-wrap .tab-content a .image img {max-width:134px;max-height:75px}
.palpitate .news-latest-wrap .tab-content a:hover .image{opacity:0.8;}
.palpitate .news-latest-wrap .tab-content a dl{float:left;width:170px;height:75px;}
.palpitate .news-latest-wrap .tab-content a dl dt{font-size:14px;color:#222;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.palpitate .news-latest-wrap .tab-content a dl dd{font-size:12px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-top:4px;height:32px;}
.palpitate .news-latest-wrap .tab-content a:hover dl dt{text-decoration:underline;}

.palpitate .news-latest-wrap #tab-weekly.tab-title{right:0;}
.palpitate .news-latest-wrap #tab-info.tab-title{right:0;}


.palpitate .gnnews-wrap{padding:30px 0px;}
.palpitate .gnnews-wrap>div{position:relative;}
.palpitate .gnnews-wrap h4{font-family:"Nanum Square";font-size:20px;font-weight:bold;margin-bottom:15px;}
.palpitate .gnnews-wrap .gnnews>div{text-align:center;color:#333!important}
.palpitate .gnnews-wrap .gnnews>div>.title {font-size:13px}
.palpitate .gnnews-wrap .gnnews>div .thumb{display:block;padding:0 15px 15px 0;}
.palpitate .gnnews-wrap .gnnews>div .thumb img{width:100%;border:1px solid #ddd;box-shadow:10px 10px 0 0 #ddd;}
.palpitate .gnnews-wrap .gnnews .btn-area{text-align:center;margin-top:15px;}
.palpitate .gnnews-wrap .gnnews .btn-area a{color:#666!important;border:1px solid #999;margin:0 5px;}
.palpitate .gnnews-wrap .gnnews .btn-area a:hover{color:#999!important;}
.palpitate .gnnews-wrap .more-btn{position:absolute;top:2px;right:15px;font-size:13px;color:#666;}

/* 소통과참여(communication) sub-main */
.communicate .sub-top{padding:50px 0;background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/sub-top_bg.jpg')center bottom;background-size:cover;}
.communicate .sub-top .quick-box{padding:0 5px;text-align:center;}
.communicate .sub-top .quick-box:nth-child(1){padding-left:15px;}
.communicate .sub-top .quick-box:nth-child(5){padding-right:15px;}
.communicate .sub-top .quick-box>a{display:block;background:rgba(0,0,0,0.60);padding:30px 15px;color:#fff;}
.communicate .sub-top .quick-box>a:hover,
.communicate .sub-top .quick-box>a:focus{display:block;background:rgba(255,255,255,0.80);}
.communicate .sub-top .quick-box>a:hover .title,
.communicate .sub-top .quick-box>a:focus .title{color:#984801;}
.communicate .sub-top .quick-box>a:hover .detail,
.communicate .sub-top .quick-box>a:focus .detail{color:#222;}
.communicate .sub-top .quick-box>a:hover .link-btn span,
.communicate .sub-top .quick-box>a:focus .link-btn span{background:#1378ca;}

.communicate .sub-top .quick-box .icon{height:72px;background-size:100px!important;}
.communicate .sub-top .quick-box.edu .icon{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-edu.png')no-repeat center center;}
.communicate .sub-top .quick-box.bike .icon{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-bike.png')no-repeat center center;}
.communicate .sub-top .quick-box.cal .icon{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-cal.png')no-repeat center center;}
.communicate .sub-top .quick-box.apply .icon{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-apply.png')no-repeat center center;}
.communicate .sub-top .quick-box.declaration .icon{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-declaration.png')no-repeat center center;}

.communicate .sub-top .quick-box.edu>a:hover .icon,
.communicate .sub-top .quick-box.edu>a:focus .icon{background-image:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-edu_over.png')}
.communicate .sub-top .quick-box.bike>a:hover .icon,
.communicate .sub-top .quick-box.bike>a:focus .icon{background-image:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-bike_over.png')}
.communicate .sub-top .quick-box.cal>a:hover .icon,
.communicate .sub-top .quick-box.cal>a:focus .icon{background-image:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-cal_over.png')}
.communicate .sub-top .quick-box.apply>a:hover .icon,
.communicate .sub-top .quick-box.apply>a:focus .icon{background-image:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-apply_over.png')}
.communicate .sub-top .quick-box.declaration>a:hover .icon,
.communicate .sub-top .quick-box.declaration>a:focus .icon{background-image:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/quick-declaration_over.png')}

.communicate .sub-top .quick-box .title{font-size:30px;font-family:"Nanum Square";font-weight:bold;margin-top:35px;}
.communicate .sub-top .quick-box .detail{font-size:17px;margin-top:17px;line-height:1.5em;}
.communicate .sub-top .quick-box .link-btn{margin-top:30px;}
.communicate .sub-top .quick-box .link-btn{margin-top:30px;}

.communicate .link-icon{padding:30px 0;}
.communicate .link-icon a{position:relative;display:block;}
.communicate .link-icon a:after{content:'';display:block;clear:both;}
.communicate .link-icon a > *{float:left;}
.communicate .link-icon .icon{width:100px;height:100px;}
.communicate .link-icon .icon img{height:100%;}
.communicate .link-icon dl{position:absolute;left:110px;}
.communicate .link-icon dl dt{font-size:17px;font-weight:bold;color:#222;}
.communicate .link-icon a:hover dl dt,
.communicate .link-icon a:focus dl dt{color:#1378cb;}
.communicate .link-icon a:hover .icon,
.communicate .link-icon a:focus .icon{opacity:0.8;}
.communicate .link-icon dl dd{font-size:14px;margin-top:10px;color:#666;}

.communicate .link-box{position:relative;}
.communicate .link-box .left,.communicate .link-box .right{position:relative;padding:30px 15px;}
.communicate .link-box .row:before{content:'';display:block;position:absolute;width:50%;height:100%;background:#d5eafb;top:0;left:0;}
.communicate .link-box .row:after{content:'';display:block;position:absolute;width:50%;height:100%;background:#072a67;top:0;right:0;}
.communicate .link-box .left,.communicate .link-box .right{z-index:2;}
.communicate .link-box img{position:absolute;}
.communicate .link-box dl dt{font-family:"Nanum Square";font-size:25px;}
.communicate .link-box dl dd{margin-top:10px;}
.communicate .link-box a{margin-top:20px;}
.communicate .link-box .left img{right:0;bottom:0;}
.communicate .link-box .left dl dt{color:#222;}
.communicate .link-box .left dl dd{color:#666;}
.communicate .link-box .right{padding-left:30px;}
.communicate .link-box .right img{right:15px;top:15px;}
.communicate .link-box .right dl dt{color:#fff;}
.communicate .link-box .right dl dd{color:#fff;}
	
.communicate .box-wrap{padding:30px 0;}
.communicate .box-wrap .top-box .box{height:262px;position:relative;display:block;}
.communicate .box-wrap .top-box a.box:hover,
.communicate .box-wrap .top-box a.box:focus{opacity:0.8;}
.communicate .box-wrap .top-box .box .caption{position:absolute;background:#033096;color:#fff;padding:5px 10px;top:10px;left:10px;vertical-align:middle;z-index:10;}
.communicate .box-wrap .top-box .box .center{display:table;width:100%;height:100%;}
.communicate .box-wrap .top-box .box .center>div{display:table-cell;vertical-align:middle;}
.communicate .box-wrap .top-box .box .center>div>img{text-align:center;width:80%}
.communicate .box-wrap .top-box .faq{background:#ffce55;}
.communicate .box-wrap .top-box .qna{background:#f6f6f6;padding-left:15px;padding-right:15px;}
.communicate .box-wrap .top-box .qna ul{margin-left:10px;width:215px;margin-top:30px;}
.communicate .box-wrap .top-box .qna ul li{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:7px 0;}
.communicate .box-wrap .top-box .qna ul li a{font-size:13px;color:#666;}
.communicate .box-wrap .top-box .qna ul li a:hover,
.communicate .box-wrap .top-box .qna ul li a:focus{color:#1378cb;font-weight:bold;}
.communicate .box-wrap .top-box .qna ul li a:before{content:'\f105';font-family:"fontawesome";margin-right:5px;}
.communicate .box-wrap .top-box .event{background:#4592d8;}
.communicate .box-wrap .top-box .gov30{background:#cbeaff;}
.communicate .box-wrap .btm-box{margin-top:30px;}
.communicate .box-wrap .btm-box .box{display:block;height:167px;}
.communicate .box-wrap .btm-box a.box:hover,
.communicate .box-wrap .btm-box a.box:focus	{opacity:0.8;}
.communicate .box-wrap .btm-box .box{background-size:cover!important;}
.communicate .box-wrap .btm-box .box .center{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;}
.communicate .box-wrap .btm-box .box .center .blank{display:inline-block;width:0;height:100%;vertical-align:middle;}
.communicate .box-wrap .btm-box .box .box-title{display:inline-block;vertical-align:middle;}
.communicate .box-wrap .btm-box .box .box-title:after{content:'';display:block;clear:both;width:0;height:0;}
.communicate .box-wrap .btm-box .box .box-title>div{float:left;}
.communicate .box-wrap .btm-box .box .title{color:#fff;font-weight:bold;font-size:20px;margin-left:10px;text-align:left;}
.communicate .box-wrap .btm-box .ic-support{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/btm_box_integrity_bg.png')no-repeat center center;}
.communicate .box-wrap .btm-box .goodcitizen{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/btm_box_goodcitizen_bg.png')no-repeat center center;}
.communicate .box-wrap .btm-box .eco{background:url('http://www.gangnam.go.kr/assets/images/main/sub/communicate/btm_box_eco_bg.png')no-repeat center center;}
.communicate .box-wrap .btm-box .eco .center{float:none;}
.communicate .box-wrap .btm-box .eco .box-title > *{float:none;}
.communicate .box-wrap .btm-box .eco .title{margin:0;}
.communicate .box-wrap .btm-box .eco a{width:170px;margin-top:15px;position:relative;}
.communicate .box-wrap .btm-box .eco a:after{content:'\f105';font-family:"fontawesome";position:absolute;right:10px;}
.communicate .box-wrap .btm-box .eco .vertical{position:absolute;top:50%;left:45px;margin-top:-44px;}

/* login_본인인증 */
.member-login {padding-left:0}
.member-login>form {border:1px solid #eaeaea;padding:15px}
.member-login .id-login {background:none;padding-left:0;border-bottom:1px solid #eee;padding-bottom:15px;display:block}
.member-login .id-login:before {font-family:"fontAwesome";content:"\f192";margin-right:8px;color:#1378cb}
.sms-login {border:1px solid #eaeaea;padding:15px}
.sms-login .phone-login {background:none;padding-left:0;border-bottom:1px solid #eee;padding-bottom:15px;display:block}
.sms-login .phone-login:before {font-family:"fontAwesome";content:"\f192";margin-right:8px;color:#1378cb}
	
	
/*contents_admin*/
.con-admin .sitelink{border-top:1px solid #d6d7db;padding-top:30px;margin-top:30px;}
.con-admin .sitelink .title span{background:url('http://www.gangnam.go.kr/assets/images/sub/con-admin/sitelink_title.png') no-repeat left;padding-left:26px;color:#444;font-size:16px;font-weight:bold;margin-bottom:14px;}
.con-admin .sitelink .site-wrap{background:#f0f1f7;padding:15px 30px;margin-top:15px;}
.con-admin .sitelink .site-wrap:after{content:'';display:block;clear:both;}
.con-admin .sitelink .site-wrap .site{padding:0 5px;}
.con-admin .sitelink .site-wrap .site a{display:block;font-size:13px;text-align:center;color:#666;background:#fff;width:100%;padding:9px 15px;margin:5px 0;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s}
.con-admin .sitelink .site-wrap .site a:hover{color:#1378cb;font-weight:bold;text-decoration:none;box-shadow:inset 0 0 0 2px #1378cb;-webkit-box-shadow:inset 0 0 0 2px #1378cb;-moz-box-shadow:inset 0 0 0 2px #1378cb}
.con-admin .con-poll{margin-top:20px;}
.con-admin .con-poll .top{background:#636879;color:#fff;font-size:13px;padding:12px 0;}
.con-admin .con-poll .top:after{content:'';display:block;clear:both;}
.con-admin .con-poll .top .title{text-align:left;font-size:13px;}
.con-admin .con-poll .top .title>i {font-size:14px;}
.con-admin .con-poll .top .dep-wrap{text-align:right;}
.con-admin .con-poll .top .dep-wrap img.tel-icon{width:11px;height:10px;}
.con-admin .con-poll .top .dep-wrap span{padding:0 5px;}
.con-admin .con-poll .top .dep-wrap .sep-line{color:rgba(255, 255, 255, 0.5);}
.con-admin .con-poll .top .dep-wrap .dep-tel a{color:#fff;}
.con-admin .con-poll .top .dep-wrap .dep-tel a:hover{text-decoration:none;opacity:0.9;}
.con-admin .con-poll .bottom{border:1px solid #eee;padding:12px 15px;}
.con-admin .con-poll .bottom:after{content:'';display:block;clear:both;}
.con-admin .con-poll .bottom ul{list-style:none;}
.con-admin .con-poll .bottom ul li{background:none;display:inline;float:left;padding:5.5px;}
.con-admin .con-poll .bottom ul li label{margin:0;color:#666;font-weight:normal;font-size:13px}
.con-admin .con-poll .bottom ul li input[type="radio"]{vertical-align:middle;margin:0;}
.con-admin .con-poll .bottom ul li.submit{padding:0;float:right;transition:all 0.3s ease-in-out;}
.con-admin .con-poll .bottom ul li.submit .submit-btn{font-size:13px;padding:5px 15px;border:1px solid #636879;}
.con-admin .con-poll .bottom ul li.submit .submit-btn:hover,.con-admin .con-poll .bottom ul li.submit .submit-btn:focus{background:#636879;color:#fff;}

/* 키워드 검색페이지 추가 2017-12-08 */
.key_word_wrap{width:100%; margin:105px 0 0; padding-bottom:30px;}
.key_word_wrap .key_word_top{width:100%; box-sizing:border-box; margin-bottom:45px;}
.key_word_wrap .key_word_top .key_word_tit{font-size:20px; color:#222; font-family:"Nanum Square"; padding-top:20px; margin-bottom:20px; position:relative;}
.key_word_wrap .key_word_top .key_word_tit::after{content:""; width:20px; height:4px; display:block; background:#d91604; position:absolute; top:0; left:0;}
.key_word_wrap .key_word_top .top_list{width:100%; padding:18px 38px; box-sizing:border-box; background:#f5f5f5;}
.key_word_wrap .key_word_top .top_list li{display:inline-block; list-style:none; position:relative; padding-left:15px; margin-right:30px;}
.key_word_wrap .key_word_top .top_list li::after{content:""; width:5px; height:5px; display:block; background:#7c8b8e; border-radius:50%; position:absolute; top:12px; left:0;}
.key_word_wrap .key_word_top .top_list li a{display:inline-block; font-size:16px; color:#666; line-height:30px; transition:0.3s all;}
.key_word_wrap .key_word_top .top_list li a:hover{font-weight:bold;}

.key_word_wrap .faq_txt{width:100%; margin-bottom:30px;}
.key_word_wrap .faq_txt h4{font-size:20px; color:#222; font-family:"Nanum Square"; padding-top:20px; margin-bottom:20px; position:relative;}
.key_word_wrap .faq_txt h4::after{content:""; width:20px; height:4px; display:block; background:#d91604; position:absolute; top:0; left:0;}
.key_word_wrap .faq_txt ul{padding:10px; box-sizing:border-box;}
.key_word_wrap .faq_txt ul li{list-style:none; padding:5px 0;}
.key_word_wrap .faq_txt ul li a{font-size:14px; color:#666; display:inline-block; position:relative; transition:0.5s all; font-family:"Nanum Gothic";}
.key_word_wrap .faq_txt ul li a::after{content:""; width:10px; height:1px; display:block; background:#666; position:absolute; bottom:-5px; left:0; transition:0.5s all; opacity:0;}
.key_word_wrap .faq_txt ul li a:hover{font-weight:bold;}
.key_word_wrap .faq_txt ul li a:hover::after{width:100%; opacity:1;}

.key_word_wrap .key_word_section{width:100%; box-sizing:border-box; margin-bottom:60px;}
.key_word_wrap .key_word_section .veritcal_tab{width:100%; margin-bottom:20px;}
.key_word_wrap .key_word_section .veritcal_tab ul{}
.key_word_wrap .key_word_section .veritcal_tab ul li{width:24.25%; margin-right:1%; float:left; list-style:none;}
.key_word_wrap .key_word_section .veritcal_tab ul li:last-child{margin-right:0;}
.key_word_wrap .key_word_section .veritcal_tab ul li a{width:100%; display:block; padding:8px 0; font-size:16px; color:#666; font-weight:bold; text-align:center; background:#f5f5f5; transition:0.3s all; font-family:"Nanum Gothic";}
.key_word_wrap .key_word_section .veritcal_tab ul li.on a{background:#3f51b5; color:#fff;}
.key_word_wrap .key_word_section .veritcal_tab ul li:hover a{background:#3f51b5; color:#fff;}

.key_word_wrap .key_word_section .vertical_box_wrap{width:100%;}
.key_word_wrap .key_word_section .vertical_box{width:100%; display:none;}
.key_word_wrap .key_word_section .vertical_box dl{width:100%; margin-bottom:20px;}

.key_word_wrap .key_word_section .vertical_box dl dt{padding:4px 5px; font-size:14px; color:#fff; text-align:center; display:inline-block;}
.key_word_wrap .key_word_section .vertical_box dl dt.type01{background:#4150b7;}
.key_word_wrap .key_word_section .vertical_box dl dt.type02{background:#436bb3;}
.key_word_wrap .key_word_section .vertical_box dl dt.type03{background:#5834ba;}
.key_word_wrap .key_word_section .vertical_box dl dd{width:100%; background:#f5f5f5; border:1px solid #ddd; box-sizing:border-box; margin-top:-1px; padding:14px 20px;}
.key_word_wrap .key_word_section .vertical_box dl dd ul{width:100%;}
.key_word_wrap .key_word_section .vertical_box dl dd ul li{list-style:none; padding-left:12px; position:relative; display:inline-block; margin-right:10px;}
.key_word_wrap .key_word_section .vertical_box dl dd ul li:last-child{margin-right:0;}
.key_word_wrap .key_word_section .vertical_box dl dd ul li::after{content:""; width:4px; height:4px; display:block; background:#555; border-radius:50%; position:absolute; top:11px; left:0;}
.key_word_wrap .key_word_section .vertical_box dl dd ul li a{display:inline-block; font-size:13px; color:#666; padding:5px 0; transition:0.3s all;}
.key_word_wrap .key_word_section .vertical_box dl dd ul li a:hover{font-weight:bold;}

.key_word_wrap .key_word_section .vertical_box .vertical_half{width:49.5%; float:left; margin-right:1%;}
.key_word_wrap .key_word_section .vertical_box .vertical_half:last-child{margin-right:0;}
.key_word_wrap .key_word_section .vertical_box .vertical_half table{width:100%;}
.key_word_wrap .key_word_section .vertical_box .vertical_half table thead tr th{padding:5px 0; font-size:14px; color:#222; font-weight:bold; text-align:center; border:1px solid #ddd; background:#f0f0f0;}
.key_word_wrap .key_word_section .vertical_box .vertical_half table tbody tr td{padding:5px 0; font-size:14px; color:#666; text-align:center; border:1px solid #ddd;}

.key_word_wrap .key_word_bot{width:100%;}
.key_word_wrap .key_word_bot .bot_vertical_box{width:32%; float:left; margin-right:2%; border-top:2px solid #333;}
.key_word_wrap .key_word_bot .bot_vertical_box:last-child{margin-right:0;}
.key_word_wrap .key_word_bot .bot_vertical_box h4{font-size:15px; color:#333; padding:15px 10px; border-bottom:1px solid #ddd; margin-bottom:20px;}
.key_word_wrap .key_word_bot .bot_vertical_box ul{width:100%; padding:0 10px;}
.key_word_wrap .key_word_bot .bot_vertical_box ul li{list-style:none; width:50%; float:left; padding-left:12px; float:left; position:relative;}
.key_word_wrap .key_word_bot .bot_vertical_box ul li::after{content:""; width:4px; height:4px; display:block; background:#555; border-radius:50%; position:absolute; top:11px; left:0;}
.key_word_wrap .key_word_bot .bot_vertical_box ul li a{display:inline-block; font-size:13px; color:#666; padding:5px 0; transition:0.3s all;}
.key_word_wrap .key_word_bot .bot_vertical_box ul li a:hover{font-weight:bold;}

/* 매니페스토 */
/* TAB */

.tab-type-01 {overflow:hidden}
.tab-type-01>li {float:left;width:20%;text-align:center;background-color:#fafafa!important;font-weight:700;background-image:none!important;padding:0!important}
.tab-type-01>li>a {color:#969696;display:block;width:100%;height:100%;padding:20px 0;border-top:2px solid #969696;border-bottom:1px solid #d0d0d0}
.tab-type-01>li>a.selected {border-top:2px solid #007c8c;border-bottom:1px solid #00a0b5;color:#fff;background-color:#00bcd4}
/* .tab-type-01>li>a.active {border-bottom:1px solid #3f51b7;color:#fff;background-color:#3f51b7} */

.tab-type-02 {overflow:hidden}
.tab-type-02>li {padding-left:0;padding-right:0}
.tab-type-02>li>a {color:#fff;display:block;width:100%;height:100%;padding:20px 0;text-align:center;font-weight:700;font-size:17px;background:#c5c5c5}
.tab-type-02>li>a.selected {color:#fff;background-color:#303845}

/* .comit_content_head {clear:both;padding:0 15px;margin-top:50px} */
.comit_content {clear:both;padding:0 15px;margin-top:50px}
.purple {color:#673ab7}
.gray {color:#737373}
.blue-gray {color:#607d8b}
.topline {border-top:1px solid #ddd}

/*매니페스토 민선7기 비전*/
.mani-gra-center {width: 100%; text-align: center;}
.mani-tbl-bg01 {background: #f8f8f8}
.mani-tbl-bt0 p {margin-bottom: 5px}
.tab-type-25.tab-type-01>li {width: 25%}
.comit_content .yearplan_table {width: 100%}
.comit_content .yearplan_table th, .comit_content .yearplan_table td {padding: 5px}

/*매니페스토 공약 이행*/
ul.mani-dong-tabs li {width: 20%; margin: 0; padding: 20px 0; text-align: center; background: #dadada; color: #fff; float: left; cursor: pointer;}
ul.mani-dong-tabs li:nth-child(1) {padding: 10px 0;}
ul.mani-dong-tabs li.current {background: #1378cb;}
.mani-dong-desc {padding: 0 20px}

@media screen and (max-width: 797px){
	#mani-dong-img {display: none}
	ul.mani-dong-tabs li {width: 100%; padding: 5px 0; border-bottom: 1px solid #fff}
	ul.mani-dong-tabs li:nth-child(1) {padding: 5px 0;}
	ul.mani-dong-tabs li:nth-child(1) br {display: none}
}

/* 민선7기 공약총괄 */
.pp-big-txt {font-family:'Nanum Square';font-size:23px;font-weight:700;text-align:center;margin-top:25px}
.pp-arrow {font-size:40px;color:#ccc}
.pp-list {margin-top:10px}
.pp-list>li {float:left;width:10%;text-align:center;background:none!important;padding:0!important}
.pp-list>li>p {padding:15px 0;margin:8px 5px;color:#fff;border-radius:4px}
.pp-list>li>p.pp-area {background-color:#673ab7;font-weight:700}
.pp-list>li>p.pp-unitwork {background-color:#737373}
.pp-list>li>p.pp-detailswork {background-color:#607d8b}
.bullet02 {padding-left:20px!important}
.bullet02:before {font-family:'fontAwesome';content:'\f105';padding-right:3px;color:#337ab7}
.bullet03:before {font-family:'fontAwesome';content:'\f138';padding-right:3px;color:#337ab7}
/* 공약사업 연차별 추진계획 */
.yearplan_tab>li {width:11.1111%}
.yearplan_tab>li .dp_block {display:block}
.yearplan_tab>li>a {background-color:#bbb;border:1px solid #fff;color:#fff}
.yearplan_tab>li>a.selected {background-color:#607d8b;border:1px solid #fff;}
.yearplan_table {border-top:2px solid #00bcd4}
.yearplan_table td, table.yearplan_table th {padding:5px 10px;border:1px solid #e5e5e5}
.yearplan_table th {font-size:13px;background:#f5f5f5;word-break:break-all;text-align:center}
.yearplan_table td {font-size:13px}
.yearplan_table .year, .yearplan_table .half_yearL, .yearplan_table .half_yearR {background-image:url(http://www.gangnam.go.kr/assets/images/leader/contents/line.gif);background-repeat:no-repeat;font-size:11px;text-align:center;color:#333}
.yearplan_table .year {background-position:left center; background-repeat:repeat-x}
.yearplan_table .half_yearL {background-position:left center}
.yearplan_table .half_yearR {background-position:right center} 
.yearplan_table .year,  .yearplan_table .half_yearL,  .yearplan_table .half_yearR {background-image:url(http://www.gangnam.go.kr/assets/images/leader/contents/line.gif); background-repeat:repeat-x; left center; font-size:11px; text-align:center; color:#333}
.yearplan_table .year_dot{background-image:url(http://www.gangnam.go.kr/assets/images/leader/contents/line_dot.gif)}
.yearplan_table .dotlineL{background-image:url(http://www.gangnam.go.kr/assets/images/leader/contents/line_dotL.gif)}
.yearplan_table .dotlineR{background-image:url(http://www.gangnam.go.kr/assets/images/leader/contents/line_dotR.gif)}
.yearplan_table .half_dotL{background:url(http://www.gangnam.go.kr/assets/images/leader/contents/line_dot.gif) no-repeat 110% 50%}
.yearplan_table .half_dotR{background:url(http://www.gangnam.go.kr/assets/images/leader/contents/line_dot.gif) no-repeat -10% 50%}
.yearplan_table .year_dot, .yearplan_table .dotlineL, .yearplan_table .dotlineR {background-position:center center;background-repeat:no-repeat;font-size:11px;text-align:center;color:#333;}
.yearplan_table .year {background-position:left center}
.yearplan_table .half_yearL {background-position:left center}
.yearplan_table .half_yearR {background-position:right center}
/* 공약추진 현황 */
.status_menu>div>button {border-radius:0;font-size:13px;border:1px solid #ddd}
.status_menu>div>button:hover, .status_menu>div>button:focus {color:#333}
.status_menu>div>button>span {margin-left:5px!important}
.status_menu_list {border-radius:0}
.status_menu_list>li {background:none!important;padding:0!important}
.status_menu_list>li>a {padding:6px 14px;font-size:13px}
/*공약이행평가단 구정 및 운영*/
.pf-active-list>ul>li {overflow:hidden;background:#fafafa;padding:25px 15px;border:1px solid #eaeaea;margin:5px 0 20px 0}
.pf-active-list .list-box {color:#555}
.pf-active-list .list-box .list-title {font-size:16px;font-weight:700;margin-top:5px; margin-bottom:10px;}
.pf-active-list .list-box ul {padding-left:10px}
.pf-active-list .list-box ul li {line-height:20px;}
/*소통하는 현장*/
.gray-line-box{border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;margin:30px 0;padding:25px 0}
.gray-line-box p{margin-bottom:0;}
.gray-line-box ol{margin-top:10px; list-style:none;}
.gray-line-box02{padding:20px;border:12px solid #f4f4f4;line-height:24px}
.gray-line-box02 p{margin-bottom:0;}
.gray-line-box02 ol{margin-top:10px; list-style:none; padding-left:0;}
/* 주민참여방 */
.par-top-txt {background:url(http://www.gangnam.go.kr/assets/images/leader/sub/participation4-img01.png)center top no-repeat;width:100%;font-size:28px;text-align:center;padding:50px 0 23px 0;letter-spacing:-1px}
.par-sns-list {margin-top:40px;overflow:hidden;border-top:1px solid #ddd;padding-top:45px}
.par-sns-list li {float:left;width:20%;text-align:center;background:none !important;padding-left:15px;padding-right:15px}
.par-sns-list li>a {}
.par-sns-list li.blog>a {background-color:#2db400}
.par-sns-list li.blog>a:before {content:"blog";font-weight:400;display:block;font-size:35px; margin-bottom:20px;}
.par-sns-list li.twitter>a {background-color:#598dca}
.par-sns-list li.twitter>a:before {font-family:"fontAwesome";content:"\f099";font-weight:400;display:block;font-size:40px; margin-bottom:20px;}
.par-sns-list li.facebook>a {background-color:#3a589b}
.par-sns-list li.facebook>a:before {font-family:"fontAwesome";content:"\f09a";font-weight:400;display:block;font-size:40px; margin-bottom:20px;}
.par-sns-list li.instagram>a {background-color:#d21958}
.par-sns-list li.instagram>a:before {font-family:"fontAwesome";content:"\f16d";font-weight:400;display:block;font-size:40px; margin-bottom:20px;}
.par-sns-list li.leader>a {background-color:#3f51b5}
.par-sns-list li.leader>a:before {font-family:"fontAwesome";content:"\f086";font-weight:400;display:block;font-size:40px; margin-bottom:20px;}
.par-sns-list li a {color:#fff;display:block;font-family:"NotoKrM";width:100%;height:100%;padding:30px 0 20px;border-radius:10px;}
.par-bottom-txt {font-size:20px;text-align:center;margin-top:25px;color:#555}
/* 주요사업 추진성과 */
.mainresult-menu{border:1px solid #ccc}
.mainresult-menu>div>button {border-radius:0;font-size:13px; padding:3px 12px;}
.mainresult-menu>div>button>span {margin-left:5px!important;}
.mainresult-menu-list {border-radius:0; margin:0; padding:0;}
.mainresult-menu-list>li{background:none !important; padding:0 !important;}
.mainresult-menu-list>li>a {padding:6px 20px;font-size:13px}

.mainb_table {border-top:2px solid #607d8b;width:100%}
.mainb_table td {padding:5px 10px;border:1px solid #e5e5e5}
.mainb_table th {padding:10px;border:1px solid #e5e5e5}
.mainb_table th {font-size:13px;background:#f5f5f5;word-break:break-all;text-align:center}
.mainb_table td {font-size:13px}
.mainb_table td>strong {font-weight:700;color:#404040}
.mainb_table td.bg_green {background:#ebfbd0}
.mainb_table td.bg_lightblue {background:#ebf3fb}
.mainb_table td.bg_lightorange {background:#fdf1e6}
.mainb_table td.bg_yellow {background:#feffed}

/* 180724 대형생활폐기물배출 */
.btn-waste-apply {margin-top:10px;margin-left:-5px;margin-right:-5px}
.btn-waste-apply li {float:left;width:20%}
.btn-waste-apply li>.inner {margin:5px}

/* @media (min-width: 1200px){
	.container {width:1021px;}
} */
@media screen and (max-width: 1200px) {
	.tab-content #gnorg01{background-size:320px}
	
	/* 소통과참여(communicate) 서브메인 */
	.communicate .sub-top .quick-box .title{font-size:26px;margin-top:30px;}
	.communicate .sub-top .quick-box .detail{font-size:14px;letter-spacing:-0.3px;}
	.communicate .link-icon .icon{width:70px;height:70px;}
	.communicate .link-icon dl{left:80px;}
	.communicate .link-icon dl dt{font-size:15px;}
	.communicate .link-icon dl dd{font-size:13px;letter-spacing:-0.3px;}
	.communicate .box-wrap .top-box .box{height:213px;}
	.communicate .box-wrap .top-box .qna ul li{width:180px;padding:5px 0;}
	.communicate .sub-top .quick-box .icon{background-size:80px!important;}
	
	/* 두근두근강남(palpitate) 서브메인 */
	.palpitate .news-latest-wrap .tab-content a dl{width:140px;}
	.palpitate .news-latest-wrap .tab-content a .image{width:100px;}
	.palpitate .news-latest-wrap .card-news .card-news-box{margin-top:40px;}
	
	/* 강남이야기 조직도 */
	.tab-content .org_top_box>ul {right:6px}
	.tab-content .org_top_box>ul:before {left:-10.5%}
}

@media screen and (max-width: 991px) {
	#sub-wrap{margin-top:10px;}
	.sub .sub-header h3.con-title{padding-top:0;}
	.sub .sub-header .tab-menu li{border-right:1px solid #bbb;}
	.sub .sub-header h3.con-title{text-align:center;padding-bottom:15px;}
	.sub .sub-header .navi{text-align:center;}
	.sub .sub-header .navi ul{display:inline-block;float:none;}
	.sub .sub-header .dashboard{display:block;float:left;width:100%;text-align:center;}
	.sub .sub-header .dashboard ul{float:none;}
	.sub .sub-header .dashboard .sns_list {top: 7px;}
	
	/* 소통과참여(communicate) 서브메인 */
	.communicate .sub-top .quick-box .detail,
	.communicate .sub-top .quick-box .link-btn{display:none;}
	.communicate .sub-top .quick-box .icon{height:65px;}
	.communicate .sub-top .quick-box .title{font-size:18px;margin-top:20px;}
	
	.communicate .link-icon a > * {float:none;text-align:center;}
	.communicate .link-icon .icon {width:100%;}
	.communicate .link-icon dl{position:static;margin-top:15px;}
	.communicate .link-icon dl dd{display:none;}
	
	.communicate .link-box .left img{width:140px;}
	.communicate .link-box .right img{width:140px;top:40px;}
	.communicate .link-box dl dt{font-size:20px;}
	.communicate .link-box dl dd{font-size:13px;}
	
	.communicate .box-wrap .top-box .box .center>div>img{width:auto;height:80%;}
	.communicate .box-wrap .top-box .box.gov30 .center>div>img{width:auto;height:50%;}
	.communicate .box-wrap .top-box .qna ul li{width:300px;}
	.communicate .box-wrap .top-box>div:nth-child(3),
	.communicate .box-wrap .top-box>div:nth-child(4){margin-top:30px;}
	.communicate .box-wrap .btm-box .eco .vertical{left:20px;}
	.communicate .box-wrap .btm-box .eco a{margin-left:15px;}
	.communicate .box-wrap .btm-box .eco .title{margin-left:15px;}
	.communicate .box-wrap .btm-box .box.eco .title img{width:150px;}
	
	/* 두근두근강남(palpitate) 서브메인 */
	.palpitate .story-wrap .tablet>.row>div{margin-top:15px;}
	.palpitate .story-wrap .tablet>.row>div:nth-child(1){margin-top:0;}
	.palpitate .story-wrap .tablet a .image img{width:100%;height:auto;}
	.palpitate .story-wrap .tablet a .info{margin-top:5px;}
	.palpitate .story-wrap .tablet a .info .caption{background:#033096;color:#fff;padding:5px 10px;top:10px;left:10px;vertical-align:middle;}
	.palpitate .story-wrap .tablet a .info .title{font-family:"Nanum Square";font-size:24px;font-weight:bold;margin-top:15px;color:#222;}
	.palpitate .story-wrap .tablet a .info .detail{margin-top:10px;color:#666;}
	.palpitate .story-wrap .tablet a:hover .image{opacity:0.8;}
	.palpitate .story-wrap .tablet a:hover .info .title{color:#3498db;}
	
	.palpitate .card-news-tablet a .image img{width:100%;height:auto;}
	.palpitate .card-news-tablet a .info{margin-top:45px;}                                                                                  
	.palpitate .card-news-tablet a .info .caption{background:#033096;color:#fff;padding:5px 10px;top:10px;left:10px;vertical-align:middle;}
	.palpitate .card-news-tablet a .info .title{font-family:"Nanum Square";font-size:24px;font-weight:bold;margin-top:15px;color:#222;}    .palpitate .news-latest-wrap .tab-content a dl{width:185px;}	
	.palpitate .card-news-tablet a .info .detail{margin-top:10px;color:#666;}	
	.palpitate .card-news-tablet a:hover .image{opacity:0.8;}            
	.palpitate .card-news-tablet a:hover .info .title{color:#3498db;}    
	
	.palpitate .news-latest-wrap .news,.palpitate .news-latest-wrap .latest{margin-top:30px;}
	
	.palpitate .gnnews-wrap .gnnews .btn-area a{font-size:12px;padding:5px 8px;margin:0 2px;}
	
	/* 강남이야기 조직도 */
	.tab-content .org_top_box>ul:before {left:-14%}
	
	/* 키워드 검색페이지 추가 2017-12-08 */
	.key_word_wrap{width:100%; margin:25px 0 0; padding-bottom:20px;}
	.key_word_wrap .key_word_section{margin-bottom:30px;}
	
	.key_word_wrap .key_word_bot .bot_vertical_box ul li{width:100%;}
	
	.key_word_wrap .key_word_section .vertical_box .vertical_half{width:100%; float:none; margin-right:0; margin-bottom:10px;}
}

@media screen and (max-width: 768px) {
	.dept-search {display:block}
}


@media screen and (max-width: 767px) {
	.sub .sub-header h3.con-title{font-size:30px;}
	.sub .sub-header .dashboard ul li a img{width:25px;height:25px;}
	
	.con-admin .con-poll .top .dep-wrap{margin-top:10px;text-align:left;}
	.con-admin .con-poll .bottom ul li.submit{margin-top:10px;padding:0;float:left;width:100%;}
	.con-admin .con-poll .bottom ul li.submit .submit-btn{width:100%;display:block;font-size:12px;}
	
	.info_character_txt p>span {display:inline;}
	.info_character_txt ul {padding-left:10px}
	
	.tab-content .org_bottom_box {width:50%}
	.tab-content .health_org .org_bottom_box {width:50%;}
	.tab-content .health_org .org_top_box:after {width:50%;left:25%}
	
	/* 소통과참여(communicate) 서브메인 */
	.communicate .sub-top{padding:30px 0;}
	.communicate .sub-top .quick-box:nth-child(3){padding-right:15px;}
	.communicate .sub-top .quick-box:nth-child(4){padding-left:15px;margin-left:16.66666667%;margin-top:10px}
	.communicate .sub-top .quick-box:nth-child(5){margin-top:10px;}
	.communicate .sub-top .quick-box>a{padding:15px 10px;}
	.communicate .sub-top .quick-box .icon{height:45px;background-size:60px!important;}
	.communicate .sub-top .quick-box .title{font-size:14px;letter-spacing:-0.2px;margin-top:10px;}
	
	.communicate .link-icon .container>.row>div:nth-child(3),
	.communicate .link-icon .container>.row>div:nth-child(4){margin-top:10px;}
	.communicate .link-icon a > * {float:left;text-align:left;}
	.communicate .link-icon .icon {width:40px;height:40px;}
	.communicate .link-icon dl{position:absolute;left:45px;top:10px;margin:0;}
	.communicate .link-icon dl dt{font-size:13px;letter-spacing:-0.2px}
	
	.communicate .link-box{padding:0 15px;}
	.communicate .link-box .row:before,
	.communicate .link-box .row:after{display:none;}
	.communicate .link-box dl dd{display:none;}
	.communicate .link-box .left{background:#d5eafb;}
	.communicate .link-box .right{background:#072a67;padding-left:15px;}
	.communicate .link-box .right img{top:18px;}
	.communicate .box-wrap .top-box .qna ul li{width:90%;}
	.communicate .box-wrap .top-box .box .center>div>img{width:80%;height:auto;}

	.communicate .box-wrap .btm-box>div:nth-child(3){margin-top:30px;}
	.communicate .box-wrap .btm-box .box{height:130px;}
	.communicate .box-wrap .top-box .box.gov30 .center>div>img{width:80%;height:auto;}
	.communicate .box-wrap .btm-box .box .box-title .icon{display:none;}
	.communicate .box-wrap .btm-box .box .title{font-size:14px;margin:5px 0 0 0;text-align:center;}
	.communicate .box-wrap .btm-box .box.eco .title img{}
	
	/* 두근두근강남(palpitate) 서브메인 */
	.palpitate .story-wrap .big .info dt{font-size:20px;}
	.palpitate .story-wrap .small{margin-top:15px;}
	.palpitate .story-wrap .info dd{font-size:13px!important;}
	.palpitate .news-latest-wrap .card-news .card-news-box{margin-top:15px;}
	.palpitate .news-latest-wrap .tab-content a dl{width:60%;}
	.palpitate .gnnews-wrap .gnnews>div .thumb{display:none;}
	.palpitate .gnnews-wrap .gnnews>div .title{font-size:13px;letter-spacing:-0.5px;}
	.palpitate .gnnews-wrap .gnnews{margin-top:15px;}
	.palpitate .gnnews-wrap .gnnews .btn-area{margin-top:5px;}
	.palpitate .gnnews-wrap .gnnews:nth-last-child(1){display:none;}
	.palpitate .news-latest-wrap .tab-content a .image{width:auto;}
	
	.tab-content .org_top_box>p {width:200px}
	.tab-content .org_top_box>ul>li {width:200px}
	.tab-content .org_top_box>ul:before {left:0%;width:50%}
	
	/* 조직도 */
	.org-content {display:none}
	.dept-info {display:block!important}
	
	/* 키워드 검색페이지 추가 2017-12-08 */
	.key_word_wrap{width:100%; margin:25px 0 0; box-sizing:border-box; padding:0 3.125% 20px;}
	
	.key_word_wrap .key_word_bot .bot_vertical_box ul li{width:100%;}
	
	/* 180724 대형생활폐기물배출 */
	.btn-waste-apply li {width:33.3333%}
}

@media screen and (max-width: 762px) {
	.tab-content .org_top_box>ul {left:50%;padding-left:0}
	.tab-content .org_top_box>ul:before {left:2%}
}

@media screen and (max-width: 640px) {
	.key_word_wrap .key_word_section{margin-bottom:20px;}
	
	.key_word_wrap .key_word_section{width:100%; box-sizing:border-box; margin-bottom:60px;}
	.key_word_wrap .key_word_section .veritcal_tab{width:100%; margin-bottom:20px;}
	.key_word_wrap .key_word_section .veritcal_tab ul{}
	.key_word_wrap .key_word_section .veritcal_tab ul li{width:49.5%; margin-bottom:5px;}
	.key_word_wrap .key_word_section .veritcal_tab ul li:nth-child(2n){margin-right:0;}
	
	.key_word_wrap .key_word_section .vertical_box{width:100%; margin-right:0;}
	.key_word_wrap .key_word_bot .bot_vertical_box{width:100%; margin-right:0; margin-bottom:20px;}
	
	.key_word_wrap .key_word_bot .bot_vertical_box ul li{width:50%;}
}

@media screen and (max-width: 480px) {
	.sub .sub-header .sns_share{display:none;}
	.sub .sub-header .print_btn{display:none;}
	.sub .sub-header .dashboard .sns_list{display:none;}
	.sub .sub-header .dashboard .mobile_sns_list{display:inline-block;}
}

@media screen and (max-width: 423px) {
	.palpitate .news-latest-wrap .tab-content a .image{width:100px;}

	.key_word_wrap .key_word_section .vertical_box dl dd ul li{width:100%;}
	.key_word_wrap .key_word_bot .bot_vertical_box ul li{width:100%;}
	
	/* 180724 대형생활폐기물배출 */
	.btn-waste-apply li {width:50%}
}

@media screen and (max-width: 560px) {
	.tab-content .org_top_box>ul>li{width:inherit;height:auto}
	.tab-content #gnorg01{background:none;}
}