	<div class="themeListBox">
		<ul class="themeList">
		</ul>
	</div>
	<div class="obgBox">
		<h2 class="mtit">
			오늘의 <strong>핫 축제!</strong>
		</h2>
		<div class="hotSlideBox">
			<div class="hotSlide">
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/80388160_2877863695581775_7190616367014346752_n_142313794.jpg" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									강릉 해넘이 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">강원도 강릉시 창해로 514</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1415');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/b3d43de3-73d5-4bfe-9e36-06031747d9fc_104134725.JPG" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="/gukminview/festivaldetail/festivalDetailView2">
									통영 해맞이 행사 2020 
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2020.01.01~2020.01.01
								</span> <span class="gps">경상남도 통영시 멘데해안길 205 (정량동)</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1450');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/246b4b98-fdf2-4fb6-8441-b47a92609c98_113931995.png" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									서천 마량포 해넘이 해돋이 2020 
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">충청남도 서천군 서면 마량리</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1413');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/11/%ED%83%80%EC%A2%85%EC%8B%9D_161504719.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									부산새해맞이 시민의 종 타종행사  2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">부산광역시 중구 광복동2가 용두산길 37-55</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1127');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/71ec56bc-92a5-4e2d-ba5d-763d1c1f1620_104639254.JPG" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									울산 간절곶 해맞이 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">울산광역시 울주군 서생면 간절곶1길 39-2</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1220');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/5dad805d-210b-47d7-ae61-3d2dab878c37_134320008.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									영덕 해맞이 경북대종 타종식 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">경상북도 영덕군 강구면 해상공원길 120-7</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1414');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
			</div>
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/be691ec6-8a4c-4682-8926-1e7d8749f070_113127595.jpg" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									아차산 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2020.01.01~2020.01.01
								</span> <span class="gps">서울특별시 광진구 워커힐로 127</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1451');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/caa24cf0-6038-43da-b307-a6a12a87431a_112210474.png" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									제24회 땅끝 해넘이 해맞이 축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">전라남도 해남군 송지면 땅끝마을길 42</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1412');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/b271311a-0f70-4483-8861-9c32ec5b6297_141038662.jpg" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									속초 해맞이축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">강원도 속초시 해오름로 186-2</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1237');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/12/2fbf5d16-efdc-422f-a89e-807db3147a9f_100726726.jpg" />
								<div class="sts_area">
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									제27회 제주 성산일출축제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.30~2020.01.01
								</span> <span class="gps">제주특별자치도 서귀포시 성산읍</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1219');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/spot/2019/11/5090cf4c-f1dd-44fc-97bc-384e3a466a97_155613424.jpg" />
								<div class="sts_area">
										<!--
										<span class="sts_new">NEW</span> 
									 -->
											<span class="sts_be">진행<br />예정
											</span>
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									여수 항일암 일출제 2020
								</a>
							</p>
							<div class="t02">
								<span class="date"> 
										2019.12.31~2020.01.01
								</span> <span class="gps">전라남도 여수시 돌산읍 향일암로 60</span>
							</div>
							<a href="javascript:void(0)"
								onclick="javascript:$.setBookmark(this, '3', '1123');"
								class="btnHart ">&nbsp;</a>
						</div>
					</div>
		</div>
	</div>
	<div class="hotRela">
		<a href="javascript:void(0)" class="detLeft"><img
			src="https://joyfesta.kr/include/img/ico/ico_prev03.png" /></a> <a
			href="javascript:void(0)" class="detRight"><img
			src="https://joyfesta.kr/include/img/ico/ico_next03.png" /></a>
	</div>
	</div>
	</div>
	<div class="ebgBox">
		<h2 class="mtit">
			특별한 <strong>기획전</strong>
		</h2>
		<div class="planSlideBox">
			<div class="planSlide">
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/12/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%80%E1%85%B5%E1%84%92%E1%85%AC%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB_%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%84%89%E1%85%B3%E1%84%86%E1%85%A1%E1%84%89%E1%85%B3_191106_211616945.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 12월 기획전
								</a>
							</p>
							<div class="t02">
								케빈과 해리... 이젠 진짜 안녕☆
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/12/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%80%E1%85%B5%E1%84%92%E1%85%AC%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB_%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%84%89%E1%85%B3%E1%84%86%E1%85%A1%E1%84%89%E1%85%B3%E1%84%92%E1%85%A2%E1%84%8B%E1%85%AC_191107_211824438.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 해외 크리스마스 축제 모음
								</a>
							</p>
							<div class="t02">
								도시 전체가 완전히 캐롤 재질
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/12/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%80%E1%85%B5%E1%84%92%E1%85%AC%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB_%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%A7%E1%86%A8%E1%84%90%E1%85%B3%E1%86%A8%E1%84%89%E1%85%A1%E1%86%AB%E1%84%86%E1%85%AE%E1%86%AF%E1%84%89%E1%85%B3%E1%84%91%E1%85%A1%E1%86%BA_212146188.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 11월 기획전 
								</a>
							</p>
							<div class="t02">
								겨울이 오기전에 몸은 튼튼, 배는 든든! 먹거리 축제으로~
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/10/11%EC%9B%94%EA%B8%B0%ED%9A%8D%EC%A0%84%20%EC%A0%9C%EC%A3%BC%EB%8F%84%20%EB%A9%94%EC%9D%B8_191024_134822403.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 제주도 축제 모음 
								</a>
							</p>
							<div class="t02">
								자연의 아름다움이 넘치는 늦가을 제주로 올레~
								&nbsp;
							</div>
							<!--
							<p class="t03">#봄 축제 #연인 #벚꽃 #데이트 #봄 #페스티벌</p>
							<a href="javascript:void(0)" class="btnHart">&nbsp;</a> 
							 -->
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/10/%ED%95%A0%EB%A1%9C%EC%9C%88%20%EB%B0%B0%EB%84%88_171108493.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 할로윈 축제 모음 
								</a>
							</p>
							<div class="t02">
								Trick or Treat! 할로윈 페스티벌로 GO!
								&nbsp;
							</div>
							<!--
							<p class="t03">#봄 축제 #연인 #벚꽃 #데이트 #봄 #페스티벌</p>
							<a href="javascript:void(0)" class="btnHart">&nbsp;</a> 
							 -->
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/09/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%80%E1%85%B5%E1%84%92%E1%85%AC%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB_2019_10%E1%84%8B%E1%85%AF%E1%86%AF%E1%84%89%E1%85%B3%E1%84%91%E1%85%A1%E1%86%BA%E1%84%86%E1%85%A9%E1%84%8B%E1%85%B3%E1%86%B7_181222483.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 10월 추천 축제 모음
								</a>
							</p>
							<div class="t02">
								파란 하늘, 푸른 가을을 만끽해요!
								&nbsp;
							</div>
						</div>
					</div>
			</div>
						<div class="item">
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/09/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%80%E1%85%B5%E1%84%92%E1%85%AC%E1%86%A8%E1%84%8C%E1%85%A5%E1%86%AB_2019_%E1%84%80%E1%85%A1%E1%84%8B%E1%85%B3%E1%86%AF%E1%84%81%E1%85%A9%E1%86%BE%E1%84%89%E1%85%B3%E1%84%91%E1%85%A1%E1%86%BA_000528019.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									가을꽃 축제 모음
								</a>
							</p>
							<div class="t02">
								2019년 10월 컨셉 기획전
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/08/9%EC%9B%94%EA%B8%B0%ED%9A%8D%EC%A0%84_140050769.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 9월 추천 축제 모음
								</a>
							</p>
							<div class="t02">
								9월, 천고마비의 계절의 시작!
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/08/9%EC%9B%94%EA%B8%B0%ED%9A%8D%EC%A0%84%20%EB%B0%B0%EB%84%88_133808601.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									먹거리 축제 모음
								</a>
							</p>
							<div class="t02">
								제철 먹거리로 나의 몸과 마음을 지키자!
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/07/8%EC%9B%94%20%EC%97%AD%EC%82%AC%201_133728364.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									역사&amp;문화 축제 모음
								</a>
							</p>
							<div class="t02">
								한민족 역사와 문화의 길을 걷다.
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/07/8%EC%9B%94%20%EC%8A%A4%ED%8C%9F%201_140039835.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									2019년 8월 축제 모음
								</a>
							</p>
							<div class="t02">
								8월의 무더위를 한번에 날려 버리즈아~!
								&nbsp;
							</div>
						</div>
					</div>
					<div class="list">
						<div class="pic_area">
							<a
								href="#"
								class="pic"><img
								src="https://joyfesta.kr/uploadedfiles/seasonspecialbanner/2019/06/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_2019%E1%84%86%E1%85%A2%E1%86%A8%E1%84%8C%E1%85%AE%E1%84%89%E1%85%B3%E1%84%91%E1%85%A1%E1%86%BA%E1%84%86%E1%85%A9%E1%84%8B%E1%85%B3%E1%86%B7_190627_164928893.jpg" />
								<div class="sts_area">
								</div></a>
						</div>
						<div class="cont">
							<p class="t01">
								<a
									href="#">
									전 세계 맥주 축제 모음
								</a>
							</p>
							<div class="t02">
								맥주와 함께하면 즐거움이 두 배!
								&nbsp;
							</div>
						</div>
					</div>
			</div>
	</div>
	<div class="planRela">
		<a href="javascript:void(0)" class="detLeft"><img
			src="https://joyfesta.kr/include/img/ico/ico_prev03.png" /></a> <a
			href="javascript:void(0)" class="detRight"><img
			src="https://joyfesta.kr/include/img/ico/ico_next03.png" /></a>
	</div>
	</div>
	</div>
	<div class="dialog" id="interestingspotdialog"
		style="display: none; z-index: 1000;">
		<div class="popBox">
			<div class="popHeader">
				<h1>관심정보</h1>
				<a href="javascript:void(0)"
					onclick="javascript:$('#interestingspotdialog').hide();"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<p class="signTxt01">
					관심정보를 입력하시면<br /> 더욱 흥미로운 축제 정보를 볼 수 있어요!
				</p>
				<div class="btnBox">
					<a href="javascript:void(0)"
						onclick="location.href='MyInfoEditForm.festa'" class="btnType01">
						관심정보 입력하기 </a> <a href="javascript:void(0)"
						onclick="javascript:$('#interestingspotdialog').hide();"
						class="btnType02">나중에 하기</a>
				</div>
			</div>
		</div>
	</div>
	<div class="ebgBox">
	</div>