<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<footer th:fragment="gukminFooterFragment">
	<div class="rela">
		<div class="fbox01">
			<ul class="fnbList">
				<li><a href="/">프로젝트소개</a></li>
				<li><a href="/gukminview/siteterms/siteTermView">이용약관</a></li>
				<li><a href="/gukminview/siteterms/privacyPolicy">개인정보처리방침</a></li>
				<li><a href="/gukminview/sitemap/siteMapView">사이트맵</a></li>
			</ul>
		</div>
		<div class="fbox02">
			<ul>
				<li>(주)축통관시<br />사업자등록번호 : 12121-13-131313<br />대표 : 부릅뜨니숲이었어<br /> 주소
					: (02032) 홍시 맛있구 어디로35, 5층<br /> 개인정보관리 책임자 : 홍당무
				</li>
				<li>대표전화 : 01-111-1111 <br /> 업무시간 : 평일 09:00 - 18:00 (점심시간 :
					12:00 - 13:00)<br /> 이메일 : Hong@honghong.co.kr <a
					href="#" class="btn_link">#[1:1 문의하기]</a>
				</li>
			</ul>
			<div class="copyright">Copyright ⓒ 2019 FIMS. All Rights
				Reserved.</div>
			<div class="snsBox">
				<!--
				<a href="javascript:void(0)"><img
					src="../../include/img/ico/ico_snsList01_disable.png" /></a>
					 -->
				<a
					href="#"
					target="#"><img
					src="https://joyfesta.kr/include/img/ico/ico_snsList01.png" /></a><a
					href="#" target="#"><img
					src="https://joyfesta.kr/include/img/ico/ico_snsList02.png" /></a>
					
<!-- 				<a
					href="https://www.facebook.com/joyfesta.official"
					target="_blank"><img
					src="https://joyfesta.kr/include/img/ico/ico_snsList01.png" /></a><a
					href="http://www.instagram.com/joyfesta" target="_blank"><img
					src="https://joyfesta.kr/include/img/ico/ico_snsList02.png" /></a> -->
			</div>
		</div>
	</div>
</footer>

     <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
	<th:block layout:fragment="gukminFootScript"></th:block>
    <!--/ teamScript(각페이지에서 각자 구현할 자바스크립트)  -->


</html>