<!-- 네이버 어넬러틱스 -->
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
	if (!wcs_add)
		var wcs_add = {};
	wcs_add["wa"] = "ebb4e3d7cbd12";
	wcs_do();
</script>
<script>
	//indicator on/off
	function indicatorOn() {
		$('.indicator').addClass('on');
		//$('.loading_warp').show();

	}

	function indicatorOff() {
		$('.indicator').removeClass('on');
		//$('.loading_warp').hide();
	}
	//indicatorOn();

	var dialogtargeturl = '';

	function resetCommonDialog() {
		$('#dialogtitle').empty();
		$('#dialogcontent').empty();
		dialogtargeturl = '';
	}

	function closeCommonDialog() {
		if (dialogtargeturl != '') {
			location.href = dialogtargeturl;
		} else {
			$('#commondialog').hide();
		}

	}

	$.pageViewHistory();
</script>