	<div class="dialog" style="z-index: 100000; display: none;"
		id="commondialog">
		<div class="popBox argeeType">
			<div class="popHeader">
				<h1 id="dialogtitle">title</h1>
				<a href="javascript:void(0)"
					onclick="javascript:closeCommonDialog();"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<div class="agreeCont">
					<p id="dialogcontent"
						style="text-align: center; vertical-align: middle;"></p>
				</div>
				<div class="btnBox">
					<a href="javascript:void(0)"
						onclick="javascript:closeCommonDialog();" class="btnType01">닫기</a>
				</div>
			</div>
		</div>
	</div>

	<div class="dialog" style="z-index: 100000; display: none;"
		id="bookmarkdialog">
		<div class="popBox">
			<div class="popHeader">
				<h1>찜하기</h1>
				<a href="javascript:void(0)"
					onclick="javascript:$('#bookmarkdialog').hide();"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<p class="signTxt01" id="bookmarkdialogcontent"></p>
				<div class="btnBox">
					<a href="javascript:void(0)"
						onclick="location.href='LoginForm.festa'" class="btnType01">지금
						로그인하기</a> <a href="javascript:void(0)"
						onclick="javascript:$('#bookmarkdialog').hide();"
						class="btnType02">다음에 하기</a>
				</div>
			</div>
		</div>
	</div>

	<div class="dialog" style="display: none;" id="serviceusagedialog">
		<div class="popBox argeeType">
			<div class="popHeader">
				<h1>서비스 이용약관 동의</h1>
				<a href="javascript:void(0)"
					onclick="javascript:$('#serviceusagedialog').hide();"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<div class="agreeCont">
					<dl>
						<dt>[제1장 총칙]</dt>
						<dd>제1조(목적)</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	<div class="dialog" style="display: none;" id="useinfodialog">
		<div class="popBox argeeType">
			<div class="popHeader">
				<h1>개인정보 수집·이용에 대한 동의</h1>
				<a href="javascript:void(0)"
					onclick="javascript:$('#useinfodialog').hide();"><img
					src="https://joyfesta.kr/include/img/ico/ico_close02.png" /></a>
			</div>
			<div class="popCont">
				<div class="agreeCont">개인정보 수집·이용에 대한 동의 내용</div>
			</div>
		</div>
	</div>