<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>공무원 관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">
<br>
<br>
<div class="col-md-12">
	<div class="content-panel">
	  <table class="table table-striped table-advance table-hover">
	    <h4><i class="fa fa-angle-right"></i> 행정기관별 부서 조회 </h4>
	    <hr>
	    <thead>
	      <tr>
	        <th><i class="fa fa-bullhorn"></i> 행정기관 부서코드 </th>
	        <th><i class="fa fa-question-circle"></i>행정기관명</th>
	        <th><i class="fa fa-bullhorn"></i>실국명</th>
	        <th><i class="fa fa-question-circle"></i>부서명</th>
	      </tr>
	    </thead>
	    <tbody th:each="dl:${DepartList}">
	      <tr>
	        <td th:text="${dl.adminDepCd}"></td>
	        <td th:text="${dl.areacityAdminCd}"></td>
	        <td th:text="${dl.adminDepBelong}"></td>
	        <td th:text="${dl.adminDepNm}"></td>
	        <td>
	          <button class="btn btn-success btn-xs">
	          	<i class="fa fa-plus">
	          		<a href="/official/DepartEmployInsert" style="color: white;">등록</a>
	          	</i>
	          </button>
	          <button class="btn btn-primary btn-xs"><i class="fa fa-pencil">수정</i></button>
	          <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o ">삭제</i></button>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>


</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>