@charset "UTF-8";
	.hd-top-wrap{background: #efefef; border-bottom: 1px solid #dedede;}
	.hd-top-wrap > div:after{content: ''; display: block; clear: both;}

	.htl-style{float: left;}
	.htl-style > ul:after{content: ''; display: block; clear: both;}
	.htl-style li.tab-dp1{float: left; position: relative;}
	.htl-style li.tab-dp1 > a{display: block; font-size: 14px; color: #fff; line-height: 24px; padding: 8px 15px; text-decoration: none;} /* 190619수정 font-size: 16px;*/
	.htl-style li.bg1 > a{background: #173f87;}
	.htl-style li.bg2 > a{background: #17878b;}
	.htl-style li.bg3 > a{background: #974297;}
	.htl-style li.bg4 > a{background: #1e95b7;}
	.htl-style li.bg5 > a{background: #ca712b;}
	.htl-style li.bg6 > a{background: #78b016;}
	.htl-style li.bg7 > a{background: #46b873;}
	.htl-style li.tab-dp1.on > a,
	.htl-style li.tab-dp1.active > a {font-weight:bold;}
	.htl-style li.bg1.on > a,
	.htl-style li.bg1.active > a{background: #fff; color: #173f87;}
	.htl-style li.bg2.on > a,
	.htl-style li.bg2.active > a{background: #fff; color: #17878b;}
	.htl-style li.bg3.on > a,
	.htl-style li.bg3.active > a{background: #fff; color: #974297;}
	.htl-style li.bg4.on > a,
	.htl-style li.bg4.active > a{background: #fff; color: #1e95b7;}
	.htl-style li.bg5.on > a,
	.htl-style li.bg5.active > a{background: #fff; color: #ca712b;}
	.htl-style li.bg6.on > a,
	.htl-style li.bg6.active > a{background: #fff; color: #78b016;}
	.htl-style li.bg7.on > a,
	.htl-style li.bg7.active > a{background: #fff; color: #46b873;}
	.htl-style ul.ht-dp2 {display: none; position: absolute; left: 0; top: 100%; z-index: 10001; min-width: 250px; background: #fff; box-shadow: 1px 2px 6px rgba(0,0,0,0.5);}
	.htl-style ul.ht-dp2 > li > a{position: relative;display: block;padding: 8px 0; padding-left: 30px; font-size: 13px; color: #666; text-decoration: none;}
	.htl-style ul.ht-dp2 > li > a:focus,
	.htl-style ul.ht-dp2 > li > a:hover{color: #fff; background-image: url(../images/img0515/ht_blt2.gif);}
	.htl-style li > ul > li.active > a::after{content: "";display: block;position: absolute;left:16px;top:15px;;width: 4px;height: 4px;border-radius: 50%}
	.htl-style li.bg1 > ul > li > a:focus,
	.htl-style li.bg1 > ul > li > a:hover{background-color: #173f87;}
	.htl-style li.bg2 > ul > li > a:focus,
	.htl-style li.bg2 > ul > li > a:hover{background-color: #17878b;}
	.htl-style li.bg2 > ul > li.active > a::after{background-color: #17878b}
	.htl-style li.bg2 > ul > li.active > a{color: #17878b}
	.htl-style li.bg3 > ul > li > a:focus,
	.htl-style li.bg3 > ul > li > a:hover{background-color: #974297;}
	.htl-style li.bg3 > ul > li.active > a::after{background-color: #974297}
	.htl-style li.bg3 > ul > li.active > a{color: #974297}
	.htl-style li.bg4 > ul > li > a:focus,
	.htl-style li.bg4 > ul > li > a:hover{background-color: #1e95b7;}
	.htl-style li.bg4 > ul > li.active > a::after{background-color: #1e95b7}
	.htl-style li.bg4 > ul > li.active > a{color: #1e95b7}
	.htl-style li.bg5 > ul > li > a:focus,
	.htl-style li.bg5 > ul > li > a:hover{background-color: #ca712b;}
	.htl-style li.bg5 > ul > li.active > a::after{background-color: #ca712b}
	.htl-style li.bg5 > ul > li.active > a{color: #ca712b}
	.htl-style li.bg6 > ul > li > a:focus,
	.htl-style li.bg6 > ul > li > a:hover{background-color: #78b016;}
	.htl-style li.bg6 > ul > li.active > a::after{background-color: #78b016}
	.htl-style li.bg6 > ul > li.active > a{color: #78b016}
	.htl-style li.bg7 > ul > li > a:focus,
	.htl-style li.bg7 > ul > li > a:hover{background-color: #46b873;}
	.htl-style li.bg7 > ul > li.active > a::after{background-color: #46b873}
	.htl-style li.bg7 > ul > li.active > a{color: #46b873}
	.htl-style li > ul > li.active:hover > a{color: #fff}
	.htl-style li > ul > li.active:hover > a::after{background-color: #fff}



	.ht-search{float: right; border-left: 1px solid #dedede;}
	.ht-search input[type="text"]{ border: none; background: none; width:175px; height: 40px; padding: 5px; line-height:30px;}
	.ht-search-bt{margin-left: -5px; vertical-align: top;}
	.ht-search-bt .fa{display:inline-block;width:45px;height:40px;line-height:40px;font-size:20px;background-color:#686868;color:#fff;}
	.ht-search-bt .txt {position:absolute;top:0;right:0;width:0;height:0;overflow:hidden;color:transparent;}

	.tpl-mo-swb{display: none;}
	/*.tpl-mo-swb:after{content: '';display: block; clear: both;}*/
.tpl-mo-swb > a{display: block; text-align: center; font-size: 15px; color: #fff; line-height: 22px; padding: 7px 0; position: relative;}
/* 190605 */
.tpl-mo-swb > a .fa{position: absolute; right: 0; top: 0; width:30px; height: 30px; line-height:30px;font-size:24px;background-color:#686868;}
.tpl-mo-swb > a .fa-angle-down {display:block;}
.tpl-mo-swb > a .fa-angle-up {display:none;}
.tpl-mo-swb.on > a .fa-angle-down {display:none;}
.tpl-mo-swb.on > a .fa-angle-up {display:block;}

.tpl-mo-swb a.bg1{background-color: #173f87;}
.tpl-mo-swb a.bg2{background-color: #17878b;}
.tpl-mo-swb a.bg3{background-color: #974297;}
.tpl-mo-swb a.bg4{background-color: #1e95b7;}
.tpl-mo-swb a.bg5{background-color: #ca712b;}
.tpl-mo-swb a.bg6{background-color: #78b016;}
.tpl-mo-swb a.bg7{background-color: #46b873;}

@media screen and (max-width: 1024px) {
	.htl-style{float: none;}
	.tpl-mo-swb{display: block;}
	.tpl-mo-swb .tldp2-sw{float: left;width: calc( 100% - 30px);}
	.tpl-mo-swb .tldp1-sw{float: left;width: 30px;}


	.htl-style > ul{display: none;background: #fff; text-align: center; padding-top: 1px; position: absolute; left: 0; right: 0; top: 30px; z-index: 500;}
	.htl-style > ul > li{position: static; width: 25%; }
	.htl-style > ul > li > a{padding: 4px; font-size: 15px; line-height: 22px; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
	.htl-style > ul > li:nth-of-type(4n +1){border-left: 1px solid #fff;}

	.htl-style > ul > li > ul{text-align: left; left: 1px; right: 1px;}

	.ht-search{float: none; border-left: none; text-align: right; position: absolute; top: 131px; right: 0; left: 0; background: #efefef; z-index: 1000;padding-right:45px;}
	/* 190605 */
	.ht-search input[type="text"]{box-sizing: border-box; height: 40px; vertical-align: top; border-left: 1px solid #dedede;width:100%;}
	.ht-search .ht-search-bt {position:absolute;top:0;right:0;}

	/*.mvsl_sld > li{position: relative;width:100% !important;height:320px;}
	.wid{ width: 100%; margin:0 auto;}*/
}


/* 2019/6/21 */
@media screen and (max-width: 640px) {
.htl-style > ul > li{width: 50%;}
.htl-style > ul > li:nth-of-type(2n +1){    border-left: 1px solid #fff;}
.htl-style li.tab-dp1 > a{padding: 4px; font-size: 14px;}

.htl-style ul.ht-dp2{right: 0; min-width: 0;}
.htl-style ul.ht-dp2 > li > a{padding-left: 12px;}
}

/* 09/07/04 */
/* 메인 css */
.cont-wrap{border: 1px solid #BDC3C7;border-radius: 3px; box-shadow: 2px 3px 8px rgba(0,0,0,0.1);overflow: hidden;}
.cont-wrap>a>img{width: 100% !important;}

/* 컨텐츠 탭 */
.mcgs-box .nav-tabs>li{width: 33.3%}
.mcgs-box .nav-tabs>li>a{display: block;width:100%;text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;font-size: 15px;font-weight: normal}
