<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>운영 관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">

<h3><i class="fa fa-angle-right"></i> 공무원 계정 생성 </h3>
<div class="row">
	<div class="col-md-12 mt" >
		<div class="col-md-3">    	
			<h4> 권한선택 </h4>
			<hr>
				<table class="table table-advance table-hover" id="areaCate">
					<tbody>
						<tr>
							<td>공무원</td>
						</tr>
					</tbody>
				</table>
		</div>
		<div class="col-md-3">    	
			<h4> 공무원 계정 분류 </h4>
			<hr>
				<table class="table table-advance table-hover">
					<tbody>
						<tr>
							<td>마스터</td>
						</tr>
						<tr>
							<td>일반</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="form-panel">
		<h4><i class="fa fa-angle-right"></i> 공무원 계정 등록 </h4>
			<form class="form-horizontal style-form" method="get">
				<div class="form-group">
				  <label class="col-sm-2 col-sm-2 control-label">아이디</label>
				  <div class="col-sm-6">
				    <input type="text" class="form-control" placeholder="*사용하실 아이디를 입력해주세요">
				  </div>
				</div>		    	
				<div class="form-group">
				  <label class="col-sm-2 col-sm-2 control-label">회원 코드</label>
				  <div class="col-sm-6">
				    <input type="text" class="form-control" placeholder="*코드는 자동으로 생성됩니다.">
				  </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 col-sm-2 control-label">회원 레벨 코드</label>
					<div class="col-sm-6">
					<select class="form-control">
						<option>level_011</option>
					</select>
					</div>
				</div>
				<div class="form-group">
				  <label class="col-sm-2 col-sm-2 control-label">비밀번호</label>
				  <div class="col-sm-6">
				    <input type="text" class="form-control" placeholder="*비밀번호를 입력해주세요">
				  </div>
				</div>
				<div class="form-group">
				  <label class="col-sm-2 col-sm-2 control-label">이름</label>
				  <div class="col-sm-6">
				    <input type="text" class="form-control" placeholder="*이름을 입력해주세요">
				  </div>
				</div>				  
				<div class="form-group">
				  <label class="col-sm-2 col-sm-2 control-label">권한 선택</label>
					<div class="col-sm-6">
					<select class="form-control">
						<option>공무원</option>
					</select>
					</div>
				</div>				  
			</form>
		</div>
	</div>
</div>



</th:block>
<th:block layout:fragment="adminisscript">
	<th:block th:include="fragments/adminis/adminisscript">
		<!-- 화면 로직 스크립트 실행 -->
		<script type="text/javaScript" language="javascript" >
		</script>
	</th:block>
</th:block>

</html>