<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<section>
	<div class="commDesc">
		<p class="t01">사이트맵</p>
		<p class="t02">ALLFestMoa의 전체페이지를 한눈에 볼 수 있습니다.</p>
	</div>
	<div class="norBox">

		<ul class="site_list">
			<li><a href="/gukminview/gukminMainView">전체</a></li>
			<li><a href="/gukminview/festival/festivalAndEventView">축제 · 이벤트</a></li>
			<li><a href="/acontractview/private/orderingPlanView">계약공시</a></li>
			<li><a href="/ebudgetview/budget/budgetMainView">경영공시</a></li>
			<li><a href="/gukminview/community/communityView">커뮤니티</a>
				<ul>
					<li><a href="/gukminview/community/eventView">이벤트</a></li>
					<li><a href="/gukminview/community/faqView">FAQ</a></li>
					<li><a href="/gukminview/community/communityView">공지사항</a></li>
				</ul></li>
			<li><a href="/gukminview/member/myPageView">마이페이지</a>
				<ul style="float: left">
					<li><a href="/gukminview/member/myPageView">개인회원</a></li>
					<li><a href="/gukminview/member/myBookmarkView">나의 찜목록</a></li>
					<li><a href="/gukminview/member/myInfoEditForm">회원정보관리</a></li>
				</ul>
				<ul style="float: right">
					<li><a href="/gukminview/member/myPageView">기업회원</a></li>
					<li><a href="/gukminview/member/myBookmarkSpotView">나의 축제목록</a></li>
					<li><a href="/gukminview/member/myInfoEditForm">회원정보관리</a></li>
				</ul></li>
			<li><a href="/gukminview/fimsproject/projectIntro">프로젝트 소개</a></li>
			<li><a href="#">광고 및 제휴 문의</a></li>
			<li><a href="/gukminview/siteterms/siteTermView">이용약관</a></li>
			<li><a href="/gukminview/siteterms/privacyPolicy">개인정보처리방침</a></li>
		</ul>

	</div>
</section>


</th:block>

</html>