<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>행정기관 관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">
<!-- 전국 지역 조회 -->
<div class="row mt">
	<div class="col-md-5">
		<div class="content-panel">
			<table class="table table-striped table-advance table-hover">
				<h4><i class="fa fa-angle-right"></i> 전국 지역 조회 </h4>
				<hr>
				<thead>
					<tr>
						<th><i class="fa fa-bullhorn"></i> 전국지역코드</th>
						<th class="hidden-phone"><i class="fa fa-question-circle"></i> 지역명</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="l, i:${areaList}">
						<td class="hidden-phone" th:text="${l.areaCd}"></td>
						<td class="hidden-phone" th:text="${l.areaNm}"></td>
							<td>
							<button class="btn btn-success btn-xs" onclick="location.href='areaInsert'">
								<i class="fa fa-plus">등록</i>
							</button>
							<!-- 수정 버튼 trigger Modal -->
							<button class="btn btn-primary btn-xs" iclass="btn btn-info btn-lg" data-toggle="modal" th:data-target="${'#areaUpModal' + i.index}">
								<i class="fa fa-pencil">수정</i>
							</button >
							<!-- Modal -->
							<div th:id="${'areaUpModal' + i.index}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<!-- Modal content-->
										<div class="modal-content">
										<div class="modal-header">
										  <h4 class="modal-title">전국 지역 수정</h4>
										</div>
											<div class="modal-body">
												<div class="form-panel">
													<form class="form-horizontal style-form" method="post" th:action="@{/admin/areaUpdate}">					
														<div class="form-group">
															<label class="col-sm-2 col-sm-2 control-label">전국지역코드</label>
															<div class="col-sm-6">
																<input type="text" class="form-control" name="areaCd" th:value="${l.areaCd}" placeholder="*전국지역코드를 입력해주세요">
															</div>
														</div>
														<div class="form-group">
															<label class="col-sm-2 col-sm-2 control-label">지역명</label>
															<div class="col-sm-6">
																<input type="text" class="form-control" name="areaNm" th:value="${l.areaNm}" placeholder="*지역명을 입력해주세요" >
															</div>
														</div>
														<div class="modal-footer">
														   	<button type="submit" class="btn btn btn-success">수정하기</button>
															<button type="submit" class="btn btn btn-danger" data-dismiss="modal" >취소</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal End -->
								<!-- 삭제 버튼 trigger Modal -->
								<button class="btn btn-danger btn-xs" data-toggle="modal" th:data-target="${'#areaDelModal' + i.index}">
									<i class="fa fa-trash-o ">삭제</i>
								</button>
								<!-- Modal -->
								<div th:id="${'areaDelModal' + i.index}" class="modal fade" role="dialog">
									<div class="modal-dialog">
										<!-- Modal content-->
											<div class="modal-content">
											<div class="modal-header">
											  <h4 class="modal-title">전국 지역 삭제</h4>
											</div>
												<div class="modal-body">
													<div class="form-panel">
														<form class="form-horizontal style-form" method="post" th:action="@{/admin/areaDelete}">					
															<div class="form-group">
																<label class="col-sm-2 col-sm-2 control-label">전국지역코드</label>
																<div class="col-sm-6">
																	<input type="text" class="form-control" name="areaCd" th:value="${l.areaCd}" placeholder="*전국지역코드를 입력해주세요">
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-2 col-sm-2 control-label">지역명</label>
																<div class="col-sm-6">
																	<input type="text" class="form-control" name="areaNm" th:value="${l.areaNm}" placeholder="*지역명을 입력해주세요" >
																</div>
															</div>
															<div class="modal-footer">
																<button type="submit" class="btn btn btn-success">삭제하기</button>
																<button type="submit" class="btn btn btn-danger" data-dismiss="modal" >취소</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								<!-- Modal End -->
							</td>
					   </tr>
				 </tbody>
			</table>
		</div>
	</div>
	<!-- end col-md-5 -->	
	<!-- 전국 지역 및 시군 조회 -->
	<div class="col-md-7">
		<div class="content-panel">
			<table class="table table-striped table-advance table-hover">
				<h4>
					<i class="fa fa-angle-right"></i> 전국 지역 및 시군 조회
				</h4>
				<hr>
				<thead>
					<tr>
						<th><i class="fa fa-bullhorn"></i> 전국지역시군코드</th>
						<th><i class="fa fa-bullhorn"></i> 전국지역코드</th>
						<th class="hidden-phone"><i class="fa fa-question-circle"></i>시군명</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cl, il:${areaCityList}">
						<td class="hidden-phone" th:text="${cl.areaCityCd}"></td>
						<td class="hidden-phone" th:text="${cl.areaCd}"></td>
						<td class="hidden-phone" th:text="${cl.areaCityNm}"></td>
						<td>
							<button class="btn btn-success btn-xs" onclick="location.href='areaInsert'">
								<i class="fa fa-plus">등록</i>
							</button>
							<!-- 수정 버튼 trigger Modal -->
							<button class="btn btn-primary btn-xs" iclass="btn btn-info btn-lg" data-toggle="modal" th:data-target="${'#areaCityUpModal' + il.index}">
								<i class="fa fa-pencil">수정</i>
							</button>
							<!-- Modal -->
							<div th:id="${'areaCityUpModal' + il.index}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">전국 지역 시군 수정</h4>
										</div>
										<div class="modal-body">
											<form  class="form-horizontal style-form" method="post" th:action="@{/admin/areaCityUpdate}">
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">전국지역시군코드</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" style="background-color: #e2e2e2;" name="areaCityCd" th:value="${cl.areaCityCd}" readonly="readonly">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">전국지역</label>
													<div class="col-sm-6">
														<select class="form-control" name="areaCd">
															<option th:each="l: ${areaList}" th:value="${l.areaCd}" th:text="${l.areaNm}"></option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">시군명</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" name="areaCityNm" th:value="${cl.areaCityNm}" placeholder="*시군명을 입력해주세요">
													</div>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn btn-success">수정하기</button>
													<button type="submit" class="btn btn btn-danger" data-dismiss="modal" >취소</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal End -->
							<!-- 삭제 버튼 trigger Modal -->
							<button class="btn btn-danger btn-xs" data-toggle="modal" th:data-target="${'#areaCityDelModal' + il.index}">
									<i class="fa fa-trash-o ">삭제</i>
							</button>
							<!-- Modal -->
							<div th:id="${'areaCityDelModal' + il.index}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">전국 지역 시군 수정</h4>
										</div>
										<div class="modal-body">
											<form  class="form-horizontal style-form" method="post" th:action="@{/admin/areaCityDelete}">
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">전국지역시군코드</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" style="background-color: #e2e2e2;" name="areaCityCd" th:value="${cl.areaCityCd}" readonly="readonly">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">전국지역</label>
													<div class="col-sm-6">
														<select class="form-control" name="areaCd">
															<option th:each="l: ${areaList}" th:value="${l.areaCd}" th:text="${l.areaNm}"></option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 col-sm-2 control-label">시군명</label>
													<div class="col-sm-6">
														<input type="text" class="form-control" name="areaCityNm" th:value="${cl.areaCityNm}" placeholder="*시군명을 입력해주세요">
													</div>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn btn-success">삭제하기</button>
													<button type="submit" class="btn btn btn-danger" data-dismiss="modal" >취소</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal End -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>	
<!-- 전국 지역 조회 끝 -->
<!-- 전국 지역 및 시군 조회 끝 -->	
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>