<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>행정기관 관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">
<br>
<div class="form-panel">
	<h4 class="mb"><i class="fa fa-angle-right"></i> 행정기관 등록 </h4>
	<form  id="areaAdminForm" class="form-horizontal style-form">
		<div class="form-group">
		  <label class="col-sm-2 col-sm-2 control-label">행정기관코드</label>
		  <div class="col-sm-6">
		    <input type="text" class="form-control" name="areacityAdminCd" placeholder="행정기관코드는 자동으로 생성됩니다.">
		  </div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">전국지역</label>
			<div class="col-sm-6">
			<select class="form-control" name="areaCd">
				<option th:each="l: ${areaList}" th:value="${l.areaCd}" th:text="${l.areaNm}"></option>
			</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 col-sm-2 control-label">전국지역시군</label>
			<div class="col-sm-6">
			<select class="form-control" name="areaCityCd">
				<option th:each="cl: ${areaCityList}" th:value="${cl.areaCityCd}" th:text="${cl.areaCityNm}"></option>
			</select>
			</div>
		</div>
		<div class="form-group">
		  <label class="col-sm-2 col-sm-2 control-label">행정기관명</label>
		  <div class="col-sm-6">
		    <input type="text" class="form-control" name="areacityAdminNm" placeholder="행정기관명을 입력해주세요.">
		  </div>
		</div>
	<input type="button" name="areaAdminInsertBtn" class="btn btn btn-success" value="등록하기">
	<input type="button" name="areaAdminCancleBtn" class="btn btn btn-danger" value="취소">
	</form>
</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

<script type="text/javascript" th:inline="javascript">

//행정기관 등록시 공란 체크 스크립트
$(document).ready(function(){
	$('input[name=areaAdminInsertBtn]').on('click', function(){
		var parent = $(this).parent('form');
		var areacityAdminCd = parent.find('input[name=areacityAdminCd]').val();
		var areaCd = parent.find('select[name=areaCd]').val();
		var areaCityCd = parent.find('input[name=areaCityCd]').val();
		var areacityAdminNm = parent.find('input[name=areacityAdminNm]').val();
		
		if(areacityAdminCd == "" || areaCd == "" || areaCityCd == "" || areacityAdminNm == ""){
			alert('비어있는 값이 있습니다. 올바르게 입력해주세요');
		}else{
			if(confirm('등록하시겠습니까?')){
				$('#areaAdminForm').attr('action', '/admin/areaCityAdminInsert');
				$('#areaAdminForm').attr('method', 'post');
				$('#areaAdminForm').submit();
			}
		}
	});
	$('input[name=areaAdminCancleBtn]').on('click', function(){
		var parent = $(this).parent('form');
		parent.find('input[name=areacityAdminCd]').val('');
		parent.find('elect[name=areaCd]').val('');
		parent.find('input[name=areaCityCd]').val('');
		parent.find('input[name=areacityAdminNm]').val('');
	});
});
</script>
</th:block>

</html>
