@charset "utf-8";
/* CSS Document */
table th, table td{vertical-align:middle;}
select{background: url(/img/select_arrow.gif) no-repeat 96% 50%; 
	height: 34px;
	border: 1px solid #ddd;
	background-color:#fff;
	padding-top:0px;
	padding:0 4% 0 2%;
	-webkit-appearance: none;  
	-moz-appearance: none;
	 appearance: none;
	 color:#404040;
	 font-size:100%;
	 vertical-align:middle;}
select::-ms-expand { 
  display: none;
}

/*검색*/
.search{margin:0 auto; padding:16px 0; text-align:right; clear:both; overflow:hidden;}
.search .nType{ width:243px; height:33px; line-height:33px; font-size:14px; color:#aaa; border:0; border-bottom:1px solid #5c5c5c; padding:0 0 0 4px;}
.search .btn{border-bottom:1px solid #5c5c5c; line-height:32px;}
.search input{vertical-align:middle;}

/*******************************************************************************************************
********************************************************************************************************/
/*리스트*/
.listboard{margin:0 auto; padding:0; width:98%; clear:both;}
.listboard .listboardStyle{ width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed; word-creak:break-all; text-align:center}
.listboard .listboardStyle thead th{ border:1px solid #ddd; background:#fafafa; height:51px;}
.listboard .listboardStyle thead th span{color:#777; font-weight:400; line-height:1.2;}
.listboard .listboardStyle tbody{border-left:1px solid #ddd; border-right:1px solid #ddd;}
.listboard .listboardStyle tbody td{border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:16px 0; word-break:keep-all;}
.listboard .listboardStyle tbody td span{color:#777; font-weight:400; line-height:1.4;}
.listboard .listboardStyle tbody td.title{ text-align:left; padding:16px 3%; word-break:normal;}
.listboard .listboardStyle tbody td.title img{vertical-align:middle;}
.listboard .listboardStyle tbody td.title a{text-decoration:none}
.listboard .listboardStyle tbody tr.not{background:#ebebeb}
@media screen and (max-width:768px){
.Mno{display:none;}
.listboard .listboardStyle thead th:first-child{width:30%;}
.listboard .listboardStyle thead th:nth-child(2){width:90%;}
.listboard .listboardStyle thead th{height:41px;}
.listboard .listboardStyle tbody td{ padding:10px 0;}
.listboard .listboardStyle tbody td.title{padding:10px 3%;}

}
/*글쓰기 버튼*/
.BottBut{margin:5% auto 0 auto; padding:0; clear:both; overflow:hidden; background-color:#F6F6F6; }
.writeBut{text-align:center; padding:24px 0;}
.writeBut a.write{display: inline-block; padding:10px 0; background-color:#999999; color:#fff; margin:0 auto; width:230px; border:1px solid #808080; font-weight:500}
.writeBut a.write:hover{background-color:#ed7117; border:1px solid #cb5d0e}
.writeBut a.list{display: inline-block; padding:10px 0; background-color:#fff; margin:0 auto; width:230px; border:1px solid #ddd; font-weight:500}
.writeBut a.list:hover{background-color: #333333; border:1px solid #808080; color:#fff}

/*페이징*/
.PageBox{border:none; padding:59px 0; text-align:center; margin:0 auto; clear:both; overflow:hidden;}
.allPage{line-height:0; font-size:0px; margin:0; padding:0;}
.allPage strong{display:inline-block; width:38px; height:39px; line-height:38px; font-size:16px; color:#935530; text-decoration:none; border-top:1px #ddd solid; border-bottom:2px #935530 solid; background:#fff; font-weight:400; vertical-align:top}
.allPage a{display:inline-block; width:38px; height:39px; line-height:38px; font-size:16px; color:#aaa; font-weight:400; text-decoration:none; border-top:1px #ddd solid; border-bottom:1px #ddd solid; background:#fff;}
.allPage a.n{vertical-align:top; border-bottom:none; border-top:none;}
.allPage img, .allPage a{vertical-align:top;}

@media screen and (max-width:576px){
/*페이징*/
.PageBox{border:none; padding:39px 0; text-align:center; margin:0 auto; clear:both; overflow:hidden;}
.allPage{line-height:0; font-size:0px; margin:0; padding:0;}
.allPage strong{display:inline-block; width:28px; height:29px; line-height:28px; font-size:14px; color:#935530; text-decoration:none; border-top:1px #ddd solid; border-bottom:2px #935530 solid; background:#fff; font-weight:400; vertical-align:top}
.allPage a{display:inline-block; width:28px; height:29px; line-height:28px; font-size:14px; color:#aaa; font-weight:400; text-decoration:none; border-top:1px #ddd solid; border-bottom:1px #ddd solid; background:#fff;}
.allPage a.n{vertical-align:top; border-bottom:none; border-top:none;}
.allPage img, .allPage a{vertical-align:top; max-width:29px;}

}




/*******************************************************************************************************
********************************************************************************************************/
/* view */
.ViewLayout{margin:0 auto; padding:0; clear:both; overflow:hidden; width:98%;}
.Viewboard{margin:0 auto; padding:0; clear:both; overflow:hidden; width:100%; border:1px solid #ddd}
/*상단*/
.ViewTop{margin:0 auto; padding:0; width:100%; clear:both; background-color:#fafafa; border-bottom:1px solid #ddd; overflow:hidden}
.ViewTitle, .ViewName, .ViewDate, .ViewHit{ float:left; margin:0; padding:0; line-height:70px;}
.ViewTitle{width:60%; font-size:120%; color:#333333; font-weight:500; padding-left:3%;}
.ViewName, .ViewDate, .ViewHit{width:13.33%; text-align:center; border-left:1px solid #ddd; font-weight:300; height:70px;}
.ViewName strong, .ViewDate strong, .ViewHit strong{ color: #666666; padding-right:8px; font-weight:500;}

/*내용*/
.ViewCon{margin:0; padding:2%; clear:both; overflow:hidden; width:100%; min-height:450px;}

/*첨부파일*/
.attach{margin:0; padding:1.5% 3%; width:100%; clear:both; overflow:hidden; border-top:1px solid #ddd; text-align:right; font-size:90%;}
.attach span{padding:0 2.5%;}

/*댓글*/
.ViewComment{border-top:1px solid #ddd; background-color:#fafafa; width:100%; clear:both; overflow:hidden;}
.ViewComment .ViewComment_box{border:5px solid #fff; margin:0; padding:2%; clear:both; overflow:hidden; position:relative}
.ViewComment .ViewComment_box .ComT{background:url(/sub5/img/com_bg.png) left 4px center no-repeat; padding:0 0 0 40px; margin:0; font-weight:500; color:#666666; clear:both}
.ViewComment .ViewComment_box .ComBut{ margin:; padding:0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .ComBut li{ margin-top:2%; width:20%; text-align:center; border:1px solid #ddd; float:right; display:block; background-color:#FFFFFF;
                                         box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.ViewComment .ViewComment_box .ComBut li:last-child{margin-right:1%;}
.ViewComment .ViewComment_box .ComBut li a{display:block;}

/*수정폼*/
.ViewComment .ViewComment_box .modifyBox{margin:0; padding:2% 0; width:100%; clear:both; overflow:hidden;}
.ViewComment .ViewComment_box .modifyBox .F1{margin:0; padding:0 0 1.5% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .modifyBox .F1 li{float:left; margin:0; padding:0; width:50%;}
.ViewComment .ViewComment_box .modifyBox .F1 li input{border:none; border-bottom:1px solid #000; width:100%; height:32px; font-size:100%; background-color:#fafafa}
.ViewComment .ViewComment_box .modifyBox .F1 li:first-child input{width:95%;}
.ViewComment .ViewComment_box .modifyBox .F2{margin:0; padding:0 0 1.5% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .modifyBox .F2 li{float:left; margin:0; padding:0; width:42%; text-align:right; vertical-align:middle; line-height:32px;}
.ViewComment .ViewComment_box .modifyBox .F2 li:first-child{width:58%; text-align:left}
.ViewComment .ViewComment_box .modifyBox .F2 li input[type='text']{border:none; border-bottom:1px solid #000; width:100%; height:32px; font-size:100%; background-color:#fafafa}
.ViewComment .ViewComment_box .modifyBox .F2 li:first-child input{width:95%;}
.ViewComment .ViewComment_box .modifyBox .comment_txt{border:1px solid #ddd; width:80%; height:80px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.ViewComment .ViewComment_box .modifyBox .modify_ok{float:right; margin:0; padding:0; width:19%; border:1px solid #cb5d0e; background-color:#ed7117; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; color:#fff; line-height:80px; height:80px; text-align:center}

/*삭제폼*/
.ViewComment .ViewComment_box .deleteBox{margin:0; padding:2% 0; width:100%; clear:both; overflow:hidden;}
.ViewComment .ViewComment_box .deleteBox ul{margin:0; padding:0 0 1.5% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .deleteBox ul li{float:right; margin:0; padding:0; width:19%; text-align:right}
.ViewComment .ViewComment_box .deleteBox ul li:first-child{ width:80%; float:left}
.ViewComment .ViewComment_box .deleteBox ul li input{border:none; border-bottom:1px solid #000; width:50%; height:32px; font-size:100%; background-color:#fafafa}
.ViewComment .ViewComment_box .deleteBox ul li a.comment_del{width:100%; border:1px solid #3a3a39; background-color:#5b5b5b; display:block; height:36px; line-height:33px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; color:#FFFFFF}


/*댓글리스트*/
.ViewComment .ViewComment_box .VClistBox{margin:0; padding:2% 0 0 0; width:100%; clear:both; overflow:hidden; border-bottom:1px solid #ddd}
.ViewComment .ViewComment_box .VClistBox .VClist{margin:0; padding:0 0 2% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .VClistBox .VClist ul{margin:0; padding:0; width:100%; clear:both; overflow:hidden;}
.ViewComment .ViewComment_box .VClistBox .VClist ul li.tt{float:left; margin:0; padding:0; width:60%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; font-size:110%; color:#333333; font-weight:500}
.ViewComment .ViewComment_box .VClistBox .VClist ul li.name{float:right; margin:0; padding:0; width:40%; text-align:right; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.ViewComment .ViewComment_box .VClistBox .VClist ul li.name span{padding:0 2%;}
.ViewComment .ViewComment_box .VClistBox .VClist .VClist_txt{margin:1% 0 0 0; padding:2%; width:100%; clear:both; overflow:hidden; background-color:#e0e0e0}

/*댓글 입력폼*/
.ViewComment .ViewComment_box .Comtextarea{margin:0; padding:2% 0; width:100%; clear:both; overflow:hidden;}
.ViewComment .ViewComment_box .Comtextarea .F1{margin:0; padding:0 0 1.5% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .Comtextarea .F1 li{float:left; margin:0; padding:0; width:50%;}
.ViewComment .ViewComment_box .Comtextarea .F1 li input{border:none; border:none; width:100%; height:32px; font-size:100%; background-color:#e0e0e0; text-indent:10px}
.ViewComment .ViewComment_box .Comtextarea .F1 li:first-child input{width:95%;}
.ViewComment .ViewComment_box .Comtextarea .F2{margin:0; padding:0 0 1.5% 0; clear:both; overflow:hidden; width:100%;}
.ViewComment .ViewComment_box .Comtextarea .F2 li{float:left; margin:0; padding:0; width:42%; text-align:right; vertical-align:middle; line-height:32px;}
.ViewComment .ViewComment_box .Comtextarea .F2 li:first-child{width:58%; text-align:left}
.ViewComment .ViewComment_box .Comtextarea .F2 li input[type='text']{border:none; border:none; width:100%; height:32px; font-size:100%; background-color:#e0e0e0; text-indent:10px}
.ViewComment .ViewComment_box .Comtextarea .F2 li:first-child input{width:95%;}
.ViewComment .ViewComment_box .Comtextarea .comment_txt{border:1px solid #ddd; width:80%; height:80px; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
.ViewComment .ViewComment_box .Comtextarea .comment_ok{float:right; margin:0; padding:0; width:19%; border:1px solid #cb5d0e; background-color:#ed7117; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; color:#fff; line-height:80px; height:80px; text-align:center}



/*이전 다음글*/
.BottNePr{margin:0 auto; padding:2% 0; width:100%; clear:both; overflow:hidden;}
.BottNePr ul{margin:0; padding:0; width:100%; clear:both; box-sizing:border-box;}
.BottNePr ul li{float:left; margin:0; padding:0; width:50%; text-align:right}
.BottNePr ul li:first-child{text-align:left;}
.BottNePr ul li a{display:inline-block; margin:0; padding:1.5%; border:1px solid #ddd;  box-sizing:border-box;}

.ViewLayout .viewBut{padding:2%; margin:0; clear:both; overflow:hidden; background-color:#F6F6F6;}
.ViewLayout .viewBut a.list{display:block; padding:1.5% 0; background-color:#fff; margin:0 auto; width:20%; border:1px solid #ddd; font-weight:500; float:left; text-align:center}
.ViewLayout .viewBut a.list:hover{background-color:#999999; border:1px solid #808080; color:#fff}
.ViewLayout .viewBut .viewBut_R{float:right; margin:0; padding:0; width:75%; text-align:right}
.ViewLayout .viewBut .viewBut_R a.modify{display: inline-block; padding:1.5% 0; background-color:#fff; margin:0 auto; width:25%; border:1px solid #ddd; font-weight:500; text-align:center}
.ViewLayout .viewBut .viewBut_R a.re{display: inline-block; padding:1.5% 0; background-color:#fff; margin:0 auto; width:25%; border:1px solid #ddd; font-weight:500; text-align:center; margin-left:-1px}
.ViewLayout .viewBut .viewBut_R a.delete{display: inline-block; padding:1.5% 0; background-color:#fff; margin:0 auto; width:25%; border:1px solid #ddd; font-weight:500; text-align:center; margin-left:-1px}
@media screen and (max-width:867px){
.ViewName strong, .ViewDate strong, .ViewHit strong{padding-right:0px; display:block}
.ViewTitle{float:none; width:100%; padding:3%; line-height:120%; border-bottom:1px solid #ddd}
.ViewName, .ViewDate, .ViewHit{ float:left; margin:0; padding:2% 0; line-height:120%; width:33.33%}
.ViewName{border-left:none;}

.ViewCon{min-height: inherit;}
}





/*******************************************************************************************************
********************************************************************************************************/
/*글쓰기*/
.writeLayout{margin:0 auto; padding:0; width:98%; clear:both; overflow:hidden;}
.writeLayout .writeboard{margin:0; padding:0; width:100%; clear:both; overflow:hidden; border:1px solid #ddd;}
.writeLayout .writeboard .wrTop {padding:1% 2%; background:#fafafa; border-bottom:1px solid #ddd;}
.writeLayout .writeboard .wrTop .title {font-size:110%; color:#333; font-weight:500;  padding:0; overflow:hidden; display:inline-block}
.writeLayout .writeboard .wrTop .wTit{width:155px; padding-right:0;}
.writeLayout .writeboard .wrTop .writeH {display:inline-block; width:70%; vertical-align:top; padding:0;}
.writeLayout .writeboard .wrTop .writeH input[type='text']{height:32px; line-height:32px; border:1px solid #ddd; padding:0 5% 0 2%; width:28%}
.writeLayout .writeboard .wrTop .writeH input[type='password']{height:32px; line-height:32px; border:1px solid #ddd; padding:0 5% 0 2%; width:28%}
.writeLayout .writeboard .wrTop .writeH input[type='file']{height:32px; line-height:32px; padding:0; width:98%}
.writeLayout .writeboard .wrTop .writeH select{width: auto;}

.writeLayout .writeboard .wrCon{ margin:0; padding:2%; width:100%; clear:both; overflow:hidden;}
.writeLayout .writeboard .wrCon .tt{width:100%; margin:0 0 2% 0; padding:0; clear:both; overflow:hidden;}
.writeLayout .writeboard .wrCon .tt input[type='text'] {width:100%; border:1px solid #ddd; background:#FFF url('/sub5/img/pen.png') left 15px center no-repeat; padding:0 25px 0 45px; height:47px; line-height:120%; font-size:100%; color:#aaa; box-sizing:border-box;}
.writeLayout .writeboard .wrCon .txt{width:100%; margin:0; padding:0; clear:both; overflow:hidden;}
.writeLayout .writeboard .wrCon .txt textarea{min-height:210px; width:100%; border:1px solid #ddd; background:#FFF url('/sub5/img/pen.png') left 15px top 18px no-repeat; padding:20px 45px 15px 45px;  line-height:150%; font-size:100%; color:#aaa; box-sizing:border-box;}



/*******************************************************************************************************
                                          *삭제*
********************************************************************************************************/

.deleteLayout{margin:0 auto; padding:0; width:98%; clear:both; overflow:hidden;}
.deleteLayout .deleteboard{margin:0; padding:0; width:100%; clear:both; overflow:hidden;}
.deleteLayout .deleteboard .deCon{ margin:0; padding:2%; width:100%; clear:both; overflow:hidden;}
.deleteLayout .deleteboard .deCon .tt{width:100%; margin:0; padding:0; clear:both; overflow:hidden;}
.deleteLayout .deleteboard .deCon .tt input[type='password'] {width:100%; border:1px solid #ddd; background:#FFF url('/sub5/img/pen.png') left 15px center no-repeat; padding:0 25px 0 45px; height:47px; line-height:120%; font-size:100%; color:#aaa; box-sizing:border-box;}
.deleteLayout .Ddelete{display: inline-block; padding:10px 0; background-color:#999999; color:#fff; margin:0 auto; width:230px; border:1px solid #808080; font-weight:500}
.deleteLayout .Ddelete:hover{background-color:#ed7117; border:1px solid #cb5d0e}



/*******************************************************************************************************
                                          *갤러리 게시판*
********************************************************************************************************/
.GalleryLayout{margin:0 auto; padding:0; width:98%; clear:both; overflow:hidden;}
.GalleryLayout .photoList {border:0;}
.GalleryLayout .photoList ul.gall_list {margin:0; padding:0; overflow:hidden;}

.GalleryLayout .photoList ul li {float:left; width:25%; border:0; margin:0; padding:0; left:0;}
.GalleryLayout .photoList ul li a {position:relative; left:0; top:0;border:1px #ddd solid; box-sizing:border-box; margin:5px; width:auto; height:100%; display:block;}

.GalleryLayout .photoList ul li a .inbox {padding:5%;}
.GalleryLayout .photoList ul li a .inbox:after {content:""; display:block; clear:both;}
.GalleryLayout .photoList ul li a .inbox .imgArea {width:100%; overflow:hidden; position:relative}
.GalleryLayout .photoList ul li a .inbox .imgArea .absolute{margin:0; padding:0; position:absolute; left:20%; top:40%; z-index:33}
.GalleryLayout .photoList ul li a .inbox .imgArea .absolute img{max-width:60%;}
.GalleryLayout .photoList ul li a .inbox .imgArea img {width:100%; max-height:390px;}
.GalleryLayout .photoList ul li a .inbox .txtArea {width:100%; overflow:hidden;}
.GalleryLayout .photoList ul li a .inbox .txtArea .tt {font-size:19px; color:#333; font-weight:500; line-height:1.2; padding:18px 0 8px 0; overflow:hidden;}
.GalleryLayout .photoList ul li a .inbox .txtArea .info {width:100%; overflow:hidden;}
.GalleryLayout .photoList ul li a .inbox .txtArea .info span {padding:0 24px 0 0;}
.GalleryLayout .photoList ul li a .inbox .txtArea .info .name {font-size:15px; color:#333;display:inline-block;}
.GalleryLayout .photoList ul li a .inbox .txtArea .info .day {font-size:15px; color:#777; font-weight:300;display:inline-block;}


@media all and (max-width:1299px){
	.GalleryLayout .photoList ul li {width:33.33%;}
	.GalleryLayout .photoList ul li a .inbox .imgArea img {width:100%; max-height:330px;}
}

@media all and (max-width:767px){
	.GalleryLayout .photoList ul li {width:50%; margin-bottom:10px;}
	.GalleryLayout .photoList ul li a .inbox .imgArea img {width:100%; max-height:300px;}
}

