.sub_cons *{color:#333;}

.sub_bg{position:relative;width:100%;height:340px;background-size:cover !important;}

/* KUSER003.html */

.sub_bg003{background:url('../img/sub/sub_bg003.jpg') no-repeat center top;}
.sub_bg004{background:url('../img/sub/sub_bg004.jpg') no-repeat center top;}
.sub_bg005{background:url('../img/sub/sub_bg005.jpg') no-repeat center top;}
.sub_bg006{background:url('../img/sub/sub_bg006.jpg') no-repeat center top;}
.sub_bg007{background:url('../img/sub/sub_bg007.jpg') no-repeat center top;}
.sub_bg008{background:url('../img/sub/sub_bg008.jpg') no-repeat center top;}
.sub_bg_tit{width:1120px;text-align:center;margin:0 auto;padding-top:90px;}
.sub_bg_tit > h1{font-size:60px;color:#fff;}
.sub_bg_tit > p{font-size:25px;color:#fff;margin-top:15px;}

.sub_guide{position:absolute;left:0;bottom:0;background:url('../img/sub/sub_pngbg01.png');width:100%;}
.sub_guide > div{width:1120px;margin:0 auto;line-height:60px;}
.sub_guide > div > a{font-size:16px;color:#fff;background:url('../img/sub/sub_ico01.png') no-repeat right center;padding:0 37px 0 29px;line-height:60px;}
.sub_guide > div > a:last-child{background:none;}
.sub_guide > div > a.home{background:none;background-color:#d92b08;padding:22px 22px 20px 22px;height:18px;vertical-align:top;display:inline-block;}

.sub_cons_bg{background-color:#f8f8f8;}
.sub_cons{width:1120px;margin:0 auto;border-top:1px solid #f8f8f8;position:relative;}
.sub_cons_more{ padding-top: 60px;padding-bottom: 170px;}
.sub_1depth{padding-left:1px;}
.sub_1depth li{float:left;width:33%;}
.sub_1depth li > a{display:block;background-color:#FFF;border:1px solid #cccccc;margin-left:-1px;line-height:68px;font-size:22px;text-align:center;font-weight:bold;}
.sub_1depth li > a.on{background:url('../img/sub/sub_1depth_bg.png') no-repeat center top;background-size:100% 100%;color:#fff;border-top:1px solid #159d7e;border-bottom:1px solid #159d7e;}
.sub_1depth li > a:hover{background:url('../img/sub/sub_1depth_bg.png') no-repeat center top;background-size:100% 100%;color:#fff;border-top:1px solid #159d7e;border-bottom:1px solid #159d7e;}
.sub_2depth{margin-top:60px;}
.sub_2depth > ul{padding-left:1px;border-bottom:1px solid #000;}
.sub_2depth > ul > li{float:left;text-align:center;margin-bottom:-1px;}
.sub_2depth > ul > li > a{width:138px;border:1px solid #cccccc;border-bottom:none;margin-left:-1px;background-color:#efefef;line-height:38px;display:block;color:#666666;}
.sub_2depth > ul > li > a.on{border:1px solid #000;border-bottom:1px solid #fff;background-color:#f8f8f8;color:#333;font-weight:bold;margin-right:1px;}
.sub_2depth > ul > li > a:hover{border:1px solid #000;border-bottom:1px solid #fff;background-color:#f8f8f8;color:#333;margin-right:1px;}

.sub_2depthk{padding-top:50px;background:#f8f8f8;    padding-bottom: 20px;}
.sub_2depthk > ul{text-align:center;}
.sub_2depthk > ul > li{text-align:center;display:inline-block;}
.sub_2depthk > ul > li > a{width:137px;border-left:1px solid #cccccc;font-size:16px;padding-top:71px;display:inline-block;color:#666666;}
.sub_2depthk > ul > .d2kuser1 > a{background:url('../img/sub/tab01_off.gif') no-repeat center 12px;}
.sub_2depthk > ul > .d2kuser1 > a:hover{background:url('../img/sub/tab01_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .d2kuser1 > a.on{background:url('../img/sub/tab01_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .d2kuser2 > a{background:url('../img/sub/tab02_off.gif') no-repeat center 12px;}
.sub_2depthk > ul > .d2kuser2 > a:hover{background:url('../img/sub/tab02_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .d2kuser2 > a.on{background:url('../img/sub/tab02_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .d2kuser3 > a{background:url('../img/sub/tab03_off.gif') no-repeat center 12px;}
.sub_2depthk > ul > .d2kuser3> a:hover{background:url('../img/sub/tab03_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .d2kuser3 > a.on{background:url('../img/sub/tab03_on.gif') no-repeat center 12px;color:#333333;font-weight:bold;}
.sub_2depthk > ul > .bodr > a{border-right:1px solid #cccccc;}
.position{position:relative;}
.sub_tit01{margin-top:50px;background:url('../img/sub/stit_bg01.png') no-repeat left 3px;font-size:30px;padding-left:50px;}
.position_tit{position:absolute;top:0;left:0;}
.sub_p{margin-top:45px;font-size:16px;line-height:25px;}

.subiw{margin-top:40px;}
.subiw_lf{float:left;}
.subiw_rt{float:right;width:690px;}
.subiw_rt table{border-collapse:collapse;width:100%;}
.subiw_rt table th{border-bottom:1px solid #e8e8e8;text-align:left;color:#159d7e;font-size:18px;padding:17px 0;}
.subiw_rt table td{border-bottom:1px solid #e8e8e8;font-size:16px;color:#666;}
.subiw_rt_major > li{background:url('../img/sub/sub02_bg.gif') no-repeat left 12px;padding-left:10px;line-height:25px;font-size: 16px;color: #666;}


.sub003_img{text-align:center;}
.sub003_img > div{display:inline-block;margin:50px 40px 0;}
.sub003_img > div > p{font-size:15px;margin-top:30px;font-weight:bold;}

.top_ico{position:absolute;right:0;bottom:30px;}


.mtp0{margin-top:0;}
.sub003_img > div.imgs{margin:65px 6px 0 6px;}
.sub_1depth li.wth25{width:25%;}
.sub_1depth li.wth20{width:20%;}

.pb25{padding-bottom:25px !important;}



/* KUSER003.html slide main_visual */
.sub_slide{width:100%;background-color:#efefef;padding:60px 0;margin-top:145px;}
.main_visual{width:981px;margin:0 auto; position: relative;}
.main_image {margin: 0px auto; width: 100%; min-height:339px; overflow: hidden; position: relative;}
.main_image ul {left: 0px; top: 0px; width: 9999px; position: absolute;}
.main_image li {width: 100%;  float: left;}
.main_image li span { display: block; float:left;}
.main_image li div {float:right;width:330px;}
.main_image li div > h5{font-size:27px;color:#159d7e;border-bottom:1px solid #d8d8d8;padding:15px 0 40px;margin-bottom:30px;}
.main_image li div > p{font-size:16px;line-height:25px;color:#666;}
.main_image li div > p.s003_slide_tit{background:url('../img/sub/s003_slide_titbg1.png') no-repeat left 4px;padding-left:25px;margin-top:45px;}
.main_image li div > p.s003_slide_tit > strong{color:#159d7e;}
.flicking_con {margin: 30px auto 0; width: 100%; text-align:center;}
.flicking_con a {background: url("../img/sub/s003_slide_off.png") no-repeat 0px 0px; margin:0px 2px; width: 15px; height: 15px; }
.flicking_con a.on {background: url("../img/sub/s003_slide_on.png") no-repeat 0px 0px;}
#btn_prev {top: 50%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_lf.png") no-repeat left top; left: -69px;}
#btn_next{top: 50%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_rt.png") no-repeat right top; right: -69px;}


/* ì¶•ì œì†Œê°œ */

.sub_bg004{background:url('../img/sub/sub_bg004.jpg') no-repeat center top;}

/* ì¶•ì œì•ˆë‚´ */

.sub_bg005{background:url('../img/sub/sub_bg005.jpg') no-repeat center top;}

/* ì¶•ì œì´ëª¨ì €ëª¨ */
.sub_bg006{background:url('../img/sub/sub_bg006.jpg') no-repeat center top;}
.sub04_gallery_tp{border:4px solid #e3e3e3;text-align:center;background:#f8f8f8;min-height:84px;padding-top:38px;background:url("../img/sub/sub04_04.png") no-repeat 58px center;}
#gallery_lab01{margin-left:112px;width:160px;height:46px;font-size:16px;color:#262626;padding-left:20px;border:1px solid #cccccc;}
#gallery_lab02{margin-left:3px;width:470px;height:44px;font-size:16px;color:#cccccc;padding-left:20px;border:1px solid #cccccc;}
.sub04_gallery_tp > a{margin-left:3px;}
.sub04_gallery_bt{margin-top:22px;}
.sub04_gallery_bt > div{float:left;width:258px;height:247px;margin-top:28px;margin-left:29px;}
.sub04_gallery_bt > div > p{padding:20px;border:1px solid #e2e2e2;border-top:0;}
.sub04_gallery_bt > div > p > a{font-size:16px;font-weight:bold;color:#333333;line-height:22px;  height: 45px;overflow: hidden;}

.sub04_gallery_page{text-align:center;margin-top:50px;}
.sub04_gallery_page > a{display:inline-block;width:33px;height:33px;line-height:33px;background:url('../img/sub/sub04_08.gif') no-repeat center;font-size:16px;font-weight:bold;color:#333333;}
.sub04_gallery_page > a.on{background:url('../img/sub/sub04_07.gif') no-repeat center;color:#ffffff;}
.sub04_gallery_page > a.none{background:none;}
.sub04_gallery_page > a > img{margin-top:-3px;}
.sub04_gallery_page > a.pag_img {background: none;}

.sub04_gallery_txlf{margin-top:85px ;font-size:16px;color:#666666;}
.sub04_gallery_txlf > span{font-size:16px;font-weight:bold;color:#159d7e;}
.sub04_gallery_wt{margin-top:29px;text-align:center;}
.sub04_gallery_wt > a{display:inline-block;width:125px;height:144px;line-height:140px;background:#005ab2;font-size:16px;font-weight:bold;color:#f8f8f8;}
#gallery_lab03{resize:both;width:983px;height:142px;}
.sub04_gallery_ct{text-align:center;margin-top:50px;}

.pop_bg{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 200; background: url("../img/sub/delete_pop_bg.png");display:none;}
.pop01{position:absolute;left:388px;bottom:476px;display:none;}
.pop{width: 400px;min-height: 267px;background-color: #FFF;text-align: center;z-index: 210;}
.pop_tp{border-top:3px solid #0e76bc;height:29px;position:relative;}
.pop_tp > a{position:absolute;top:4px;right:0;}
.pop_tp > a.tp0{top:0;}
.pop_con > p{font-size:20px;font-weight:bold;color:#656565;}
.pop02{position:absolute;left:388px;bottom:170px;display:none;}



.sub04_gallery02_bt > div{width:264px;height:497px;margin-left:21px;}
.sub04_gallery02_bt > div > a{display:block;text-align:center;margin-top:20px;}


/* ì»¤ë®¤ë‹ˆí‹° */
.sub_bg007{background:url('../img/sub/sub_bg007.jpg') no-repeat center top;}
.community_lab03{resize:both;width:983px;height:142px;}

.write{text-align:right;position:relative;}
.pop03{position:absolute;left:388px;bottom:150px;display:none;}

#community_lab01{width:92%;height:38px;}

/* íšŒì› */
.sub_bg008{background:url('../img/sub/sub_bg008.jpg') no-repeat center top;}
.sub06_con_tit{text-align:center;}
.sub06_con_tit{font-size:30px;color:#333333;padding-bottom:40px;background:url("../img/sub/sub06_04") no-repeat bottom center;}
.sub06_login{width:570px;margin:0 auto;margin-top:108px;}
.sub06_login_lf{float:left;width:405px;}
#sub06_lab01{width:385px;height:50px;background:#ececec;padding-left:20px;border:0;font-size:18px;color:#888888;}
#sub06_lab02{width:385px;height:50px;margin-top: 10px;background:#ececec;padding-left:20px;border:0;font-size:18px;color:#888888;}
.sub06_login_rt{float:right;}
.sub06_login_btns{text-align:center;}
.sub06_login_btns a{margin:0 4px;}

/*ì¶•ì œ ì—°í˜*/
.mar80{margin-top:50px;}
.subiw_lf2{float:left;width:690px;}
.subiw_rt2{float:right;}
.mar120{margin-top:120px;}
.subiw_rt table .padt{padding:17px 0;}
.subiw_rt table .vert{    vertical-align: top;}
.subiw_lf2 table{border-collapse:collapse;width:100%;}
.subiw_lf2 table th{border-bottom:1px solid #e8e8e8;text-align:left;color:#159d7e;font-size:18px;padding:17px 0;}
.subiw_lf2 table td{border-bottom:1px solid #e8e8e8;font-size:16px;color:#666;}
.subiw_lf2 table .padt{padding:17px 0;}
.subiw_lf2 table .vert{    vertical-align: top;}
.subiw_rt2m{display:none;}

/*ë¡œê³  ë° BI*/
.hnslog{border:1px solid #e1e1e1;background:#ffffff;margin-top:32px;}
.hnslog > p{padding-left:277px;font-size:20px;font-weight:bold;padding-top:38px;padding-bottom:38px;line-height:30px;background:url("../img/sub/cugzBI.jpg") no-repeat 54px 20px;}
.marg115{margin-top:115px;}
.btlog{margin-top:30px;}
.btlog > div{display:inline-block;margin-right:4px;    vertical-align: top;}
.btlog > div > p{font-size:20px;text-align:center;padding-top: 20px; padding-bottom: 33px; font-weight: bold;}
.btlog > .none{margin-right:0;}
.mar10{margin-right:10px;}

/*ì—­ì‚¬*/
.sub01h5{font-size: 27px;color: #159d7e;border-bottom: 1px solid #d8d8d8;width:332px; padding: 52px 0 40px;margin-bottom: 30px;}
.sub01h5c2{font-size: 27px;color: #159d7e;margin-top:65px;margin-bottom:25px;}
.subiw_lf2sub1{float:left;width:536px;}
.subiw_lf2sub1 table{border-collapse:collapse;width:100%;}
.subiw_lf2sub1 table th{border-bottom:1px solid #000000;text-align:center;color:#333333;font-size:18px;padding:17px 0 11px;border-top:2px solid #000000;}
.subiw_lf2sub1 table td{border-bottom:1px solid #e8e8e8;font-size:16px;color:#666666;height:79px;}
.subiw_lf2sub1 table .tdlf{font-size:18px;text-align:center;color:#159d7e;font-weight:bold;}
.subiw_rf2sub1{float:right;width:536px;}
.subiw_rf2sub1 table{border-collapse:collapse;width:100%;}
.subiw_rf2sub1 table th{border-bottom:1px solid #000000;text-align:center;color:#333333;font-size:18px;padding:17px 0 11px;border-top:2px solid #000000;}
.subiw_rf2sub1 table td{border-bottom:1px solid #e8e8e8;font-size:16px;color:#666666;height:79px;}
.subiw_rf2sub1 table .tdlf{font-size:18px;text-align:center;color:#159d7e;font-weight:bold;}
.subconsbtm{padding-bottom: 170px;}

/*ìœ ë¬¼Â·ìœ ì */ 
.subiw_rtkur3{float:right;width:286px;}
.subiw_rtkur3 table{border-collapse:collapse;width:100%;}
.subiw_rtkur3 table th{border-bottom:1px solid #e8e8e8;border-top:1px solid #e8e8e8;text-align:left;color:#159d7e;font-size:18px;padding:17px 0;}
.subiw_rtkur3 table td{border-bottom:1px solid #e8e8e8;border-top:1px solid #e8e8e8;font-size:16px;color:#666;line-height:40px;}
.sub_slides1k4{width:100%;background-color:#efefef;padding:60px 0;margin-top:20px;}
#btn_prev2 {top: 34%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_lf.png") no-repeat left top; left: -69px;}
#btn_next2{top: 34%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_rt.png") no-repeat right top; right: 450px;}
.ims1k4h{min-height:574px;height:574px;width:50%;float:left;}
#btn_prev3 {top: 34%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_lf.png") no-repeat left top; left: -69px;}
#btn_next3{top: 34%; width: 50px !important; height: 50px !important; margin-top: -25px;  position: absolute; z-index: 130;background: url("../img/sub/s003_slide_rt.png") no-repeat right top; right: 450px;}
.subiw_lf .immar{margin-left:-3px;}
.slids1k4d{float:right;width:422px;}
.slids1k4d > h5{font-size: 27px;color: #159d7e;    border-bottom: 1px solid #d8d8d8;    padding: 15px 0 40px;    margin-bottom: 30px;}
.slids1k4d > p{font-size: 16px;    line-height: 25px;    color: #666;}
.bzcome{background:url("../img/sub/come_03.png") no-repeat left top;height:421px;padding-left:98px;margin-top:-10px;padding-top:105px;}
.bzcome > p{color:#666666;font-size:18px;margin-bottom:20px;}
.bzcome .pp1{color:#454545;font-size:27px;margin:0;}
.bzcome > p > span{color:#d92b08;font-size:25px;font-weight:bold;}
.outline{background:url("../img/sub/outline_03.gif") no-repeat left top;height:434px;margin-top:20px;padding-left:382px;}
.outline > ul{padding-top:41px;}
.outline > ul > li{margin-top:19px;color:#585858;font-size:21px;}
.outline > ul > li > span{background:url("../img/sub/outuline_03.png") no-repeat left top;margin-right:20px;width:133px;height:38px;display:inline-block;text-align:center;line-height:38px;color:#ffffff;font-size:21px;}
.outline > ul > .out1{color:#2e2e2e;font-weight:bold;}
.outline > ul > .out2 > span{background:url("../img/sub/outuline_06.png") no-repeat left top;}
.outline > ul > .out3 > span{background:url("../img/sub/outuline_08.png") no-repeat left top;}
.outline > ul > .out4 > span{background:url("../img/sub/outuline_10.png") no-repeat left top;}
.outline > ul > .out5 > span{background:url("../img/sub/outuline_12.png") no-repeat left top;}
.outline > ul > .out6 > span{background:url("../img/sub/outuline_14.png") no-repeat left top;}
.noise.none{display:none;}
.sub_2depths3{margin-top:60px;}
.sub_2depths3 > ul{padding-left:1px;border-bottom:1px solid #000;}
.sub_2depths3 > ul > li{float:left;text-align:center;margin-bottom:-1px;}
.sub_2depths3 > ul > li > a{width:138px;border:1px solid #cccccc;border-bottom:none;margin-left:-1px;background-color:#efefef;line-height:38px;display:block;color:#666666;}
.sub_2depths3 > ul > li > a.on{border:1px solid #000;border-bottom:1px solid #fff;background-color:#f8f8f8;color:#333;font-weight:bold;margin-right:1px;}
.sub_2depths3 > ul > li > a:hover{border:1px solid #000;border-bottom:1px solid #fff;background-color:#f8f8f8;color:#333;margin-right:1px;}
.qaq > dl > dt {height:52px;line-height:52px;font-size:18px;font-weight:bold;}
.qaq > dl > dt > span{background:url(../img/sub/P37_zazu_03.png) no-repeat left top;display: inline-block;height: 52px;  width: 52px;text-align:center;color:#159d7e;}
.qaq > dl > dt >	a{background:#f4f4f4;width:1026px;border:1px solid #cdcdcd;margin-left:16px;padding-left:24px;color:#333333;}
.qaq > dl > dd{   display:none; letter-spacing: -1px;margin-bottom:26px;border:1px solid #cdcdcd;width:1075px;height:80px;padding-left:43px;padding-top:27px;margin-top:17px;line-height:24px;font-size:18px;color:#666666;}

.bideo{height:480px;text-align:center;margin-top:20px;}
.bideo > a > img{width:854px;height:480px;}
.play{position:absolute;top:116px;left:133px;background:url("../img/sub/hans.jpg") no-repeat left top;width:854px;height:480px;text-align:center;}
.play > a{margin-top:180px;}
.btmlast{text-align:right;margin-top:10px;font-weight:bold;}

/*2017-0821*/
.mbwhimg{text-align:center;margin-bottom:90px;}
.mbwhimg > img{width:100%;}
.czann{border-collapse: collapse;
    width: 100%;border-top:2px solid #000000;}
.czann  th{background:#f4f4f4;color:#333333;padding:16px 0;border-bottom:1px solid #cccccc;border-left:1px solid #cccccc;}
.czann  td{border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;padding:17px 0 14px 0;text-align:center;}
.czann  .bdn{border-left:none;}
.czann .bluem{color:#0061b2;}/*2017-8-24*/
.czann .texind{text-indent:-35px;}/*2017-8-25*/

/*2017-08-29*/
.clearlove8{overflow: hidden;width:481px;height:188px;float:left;border:1px solid #e2e2e2;margin-top:45px;display:table;}
.clearlove8 .zomtp{display:table-cell;vertical-align:middle;width:240px;border-right: 1px solid #e2e2e2;text-align:center;line-height:188px;height:188px;}
.clearlove8 .zombtm{display:table-cell;  padding-left: 9px;}
.clearlove8 .zombtm p{margin-top:24px;margin-bottom:15px;font-size:16px;color:#333333;font-weight:bold;}
.clearlove8 .zombtm ul li{text-indent:-35px;padding-left:35px;}
.clearlove8.ppk2{float:right;margin-right:76px;}

/*2018-08-28*/
.reply{margin-top:85px;font-size:16px;color:#888;}
.reply > strong{font-size:16px;color:#159d7e;} 
.delete{display:inline-block;border-top:2px solid #b8b8b8;border-bottom:2px solid #b8b8b8;border-left:1px solid #666;border-right:1px solid #666;background: #fff;font-size:15px;color:#666;padding: 5px 25px;}
.reply_area{margin-top:30px;}
.reply_area textarea{float:left;border:1px solid #cccccc;width:87%;height:136px;}
.rp_btn{display:inline-block;float:right;width:12%;background:#005ab2;padding:57px 0;font-size:16px;color:#fff;font-weight: bold;text-align:center;}
.rp_list{margin-top:50px;border-top:2px solid #000000;}
.rp_list > li{border-bottom:1px solid #cccccc;padding:15px 0;}
.rp_list > li > ul > li{margin-top:8px;line-height:25px;font-size:16px;color:#666;}
.rp_list > li > ul > li:first-child{margin-top:0;}
.rp_list > li > ul > li > strong{font-size:16px;font-weight:bold;color:#333;}
.rp_list > li > ul > li > a.btn_a{display:inline-block;border:1px solid #ccc;background: #fff;font-size:15px;color:#666;padding: 2px 15px;}
.gallery_tab02 td.txct{text-align:center;}

