.gallery_tab01{position:relative;border-top:2px solid #000000;border-bottom:1px solid #000000;width:100%;border-collapse:collapse;border-spacing:0;}
.gallery_tab01 th{padding:17px 0;font-size:18px;font-weight:bold;color:#333333;text-align:center;border-bottom:1px solid #cccccc;}
.gallery_tab01 th.bt000{border-bottom:1px solid #000000;}
.gallery_tab01 th.last{border-bottom:none;}
.gallery_tab01 th.pd6{padding:6px 0;}
.gallery_tab01 td{padding:17px 0;font-size:18px;color:#666666;border-bottom:1px solid #cccccc;}
.gallery_tab01 td.last{border-bottom:none;}
.gallery_tab01 td.txct{text-align:center;}
.gallery_tab01 td.img{padding:39px 24px;}
.gallery_tab01 td.pl29{padding-left:29px;}
.gallery_tab01 td.pd6{padding:6px 0;}
.gallery_tab01 td a{font-size:18px;color:#666666;}
.gallery_tab01 td span.ml{font-size:12px;font-weight:bold;color:#159d7e;margin-left:20px;}
.gallery_tab01 td a.ml{margin-left:20px;}
.gallery_tab01 td a img{margin-top:-5px;}

.gallery_tab01 label.sub05_lab01{font-size:18px;font-weight:bold;color:#333333;}
.gallery_tab01 label.sub05_lab02{font-size:16px;color:#333333;}
.gallery_tab01 label.sub05_lab02 img{padding:0 3%;margin-top:-5px;}




.gallery_tab02{position:relative;margin-top:10px;border-top:1px solid #cccccc;width:100%;border-collapse:collapse;border-spacing:0;}
.gallery_tab02 th{padding:17px 0;font-size:16px;font-weight:bold;color:#333333;text-align:center;border-bottom:1px solid #cccccc;background:url("../img/sub/sub04_12.gif") no-repeat right center;}
.gallery_tab02 td{padding:17px 15px;font-size:16px;color:#666666;border-bottom:1px solid #cccccc;}


.btnone{border-bottom:none;}

.txtcenter{text-align:center;}



