<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
		코멘트 등록/수정<br>
		웬만하면 ajax로 하든지 edit api를 쓰던지 할것.
		
		<div>
		<a th:href="@{/scheList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">취소</button></a>        
		<a th:href="@{/scheList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">등록하기</button></a>        
             
        </div>
		
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>