@charset "utf-8";

*{margin:0;padding:0; font-family: 'NanumGothic', '��������','NanumGothicWeb', '���� ����', 'Malgun Gothic', Dotum; }
li{list-style:none;}
a{color:#000; text-decoration:none; }
a:link{color:#000;}
a:visited{color:#000;}
a:hover{color:#000;}
a:active{color:#000;}




img {border: none;}

.ver_st{float:left;}

/*footer
#footer{border-top:1px solid silver; background-color:#eee;  width:100%; padding-top:20px; padding-bottom:30px; clear: both; position:relative; height:50px; text-align:center; }
#footer ul{ border:0px solid silver; display:inline-block; margin:0 auto; zoom:1; *display:inline; }
#footer li { float:left; color:#777; font-size:11px;;}
#footer li.logo2{border:0px solid silver;}
#footer li.address{ border:0px solid silver; margin-left:20px; text-align:left; letter-spacing:1px; }
#footer li.count{border:0px solid red;  margin-top:-30px; float:left; text-align:left; left:110px; position:absolute;}
*/


footer{/*position:fixed;*/ left:0; bottom:0; width:100%; height:100px; background-color:#eee; text-align:center;} 
#footer{/*position:fixed;*/ left:0; bottom:0; width:100%; height:100px; background-color:#eee; text-align:center;}/*ie8*/

#footer ul{ border:0px solid silver; display:inline-block; margin:0 auto; /*zoom:1; *display:inline; */margin-top:20px; }
#footer li { float:left; color:#777; font-size:11px;;}
#footer li.logo2{/*width:80px;*/ border:0px solid silver;}
#footer li.address{ border:0px solid silver; margin-left:20px; text-align:left; letter-spacing:1px; }
#footer li.count{border:0px solid red;  margin-top:-30px; float:left; text-align:left; left:110px; position:absolute;}














/*2017*/

#topW{height:40px; width:100%; /*background:#eee;*/ margin:0; padding:0; border-bottom:1px solid #ccc;}
#topW div.top{}
#topW div.top ul{display:inline-block; height:30px; float:right; padding:0; margin:0;}
#topW div.top ul li{font-size:8pt; float:left; height:40px; width:auto; padding:0px 10px 0px 10px; border-left:1px solid #ccc;
background:#fefefe; }
#topW div.top ul li a{padding:13px 20px 0px 20px; display:block; height:28px; position:relative; color:#777;}

#titleW{width:100%; border:0px solid red; padding-top:70px; display:inline-block; text-align:center; padding-bottom:40px;
background-color:#fff;}
#titleW div{width:100%; display:inline-block;}
#titleW .logo_N{}
#titleW .title{margin:0 auto; text-align:center; font-size:30pt; margin-top:10px; }
.title_st{color:#356aa0; font-family:'���� ����','Malgun Gothic';}

/* dock - top */
.dock {position: relative; /*height:370px; min-width:1024px;*/ width:100%; display:inline-block;}
.dock-container {position:relative; text-align:center; margin:0 auto; /*display:inline-block;*/ margin-top:30px; margin-bottom:70px;}
.dock-container ul{text-align:center; margin:0 auto; display:inline-block; position:relative; padding:0;}

a.dock-item {display: block;width: 40px;color: #000;position: absolute;top: 0px;text-align: center;text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;}
.dock-item img {border: none; margin: 5px 10px 0px; width: 100%; }
.dock-item span {display: none; padding-left: 20px;}











#dock2 {width: 100%; bottom: 0px;position: absolute;left: 0px;}
.dock-container2 {position: absolute;height: 50px;/*background: url(images/dock-bg.gif);*/padding-left: 20px;}
a.dock-item2 {display: block; font: bold 12px Arial, Helvetica, sans-serif; /*width: 40px;*/ color: #000; bottom: 0px;
/*position: absolute;*/text-align: center;
	text-decoration: none; }



/*
.dock-container ul li {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
*/

.dock-container ul li:hover {
  /*-webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  */
  margin-top:-30px;

}

a.dock-item2 img:hover{border:0px solid #eee;}













.dock-item2 span {display: none;padding-left: 20px;}
.dock-item2 img {border: none; /*width: 100%;*/ }


.dock-container ul li{float:left; position:relative;}

.dock-container a{}


.dock-container p{font-size:14pt;  font-family: 'NanumGothic', '��������','NanumGothicWeb', '���� ����', 'Malgun Gothic'; font-weight:normal;
position:absolute; text-align:center; width:100%; top:70%; color:#555;}
/* a:hover{border:1px solid red; background: url('images/arrow.png') no-repeat; z-index:999;}*/


/*.dock-container ul li a:hover{background: url('images/arrow.png') no-repeat; border:0px solid red; z-index:999; position:absolute;}
.dock-container ul li a:hover:after{content:'��'; clear:both; color:#eb5e4c; font-weight:bold; }*/




/*footer

footer{position:fixed; left:0; bottom:0; width:100%; height:100px; background-color:#333; text-align:center;} 

#footer{position:fixed; left:0; bottom:0; width:100%; height:100px; background-color:#333; text-align:center;}/*ie8*/
/*
#footer ul{ border:0px solid silver; display:inline-block; margin:0 auto; zoom:1; *display:inline; margin-top:20px; }
#footer li { float:left; color:#bbb; font-size:11px;;}
#footer li.logo2{border:0px solid silver;}
#footer li.address{ border:0px solid silver; margin-left:20px; text-align:left; letter-spacing:1px; }
#footer li.count{border:0px solid red;  margin-top:-30px; float:left; text-align:left; left:110px; position:absolute;}


*/











/*�޴�div ��ũ�ѽÿ��� �����ǰ�*/
header{ position:fixed; left:0; top:0; width:100%;z-index:999; min-width:1024px;}
#headerW{ position:fixed; left:0; top:0; width:100%;z-index:999; min-width:1024px;}/*ie8*/


nav{background:#fff; width:100%; display:inline-block; border-bottom:1px solid #ccc; height:50px;}
#navW{background:#fff; width:100%; display:inline-block; border-bottom:1px solid #ccc; height:50px;}/*ie8*/
div.sub_logo{float:left;}
div.sub_menu{float:right;}
div.sub_menu ul{}
div.sub_menu ul li{float:left; margin:0px 5px 0px 2px;}
div.sub_menu ul li a{padding:14px; font-size:18px; position:relative; top:-3px; color:#333;}
div.sub_menu ul a:hover{border-bottom:3px solid #333; color:#000; }


#contentW{position:relative; top:90px;}
#contentW .content{padding:20px;}







.jest{font-weight:bold;}