@charset "utf-8";


*{margin:0; padding:0; }

/*Reset*/
body {font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,Arial, sans-serif; color: #626262;} 
h1, h2, h3, h4, h5, h6, h7{clear:both; font-weight:normal; }
/*article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section { display: block; }*/
textarea, select, input, td {font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,Arial, sans-serif; color: #626262; }
table {border-collapse: collapse; border-spacing:0; }
td {word-break:break-all; }
img {vertical-align:middle; border:0}
ol, ul, li {list-style: none; }
fieldset{border:0; }
input[type="text"], input[type="password"]{height:24px; padding:0 5px; overflow:hidden; border:1px solid #bebebe;}
input[type=radio], input[type=checkbox] { vertical-align:middle; }
textarea {padding: 2px 5px 2px 5px; border: 1px solid #bebebe; font-size:13px; }
select {border: 1px solid #bebebe; font-size:13px; height:24px}
button {cursor:pointer; border:0 none; font-family:'Noto Sans KR','맑은 고딕',Malgun Gothic,Arial, sans-serif;  }
em, i, address{font-style:normal; }

.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide
{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {}
.slick-next.slick-arrow, .slick-prev.slick-arrow{display:none !important;}
.slick-dots{position:absolute;left:0;bottom:26px;z-index:1;width:100%;height:17px;overflow:hidden;text-align:center;}/*수정2019.08.12*/
.slick-dots li{display:inline-block;text-indent:-2000px;border:1px solid #fffefb;width:12px;height:12px;margin:3px;background:transparent;border-radius:50%;overflow:hidden;cursor:pointer;}
.slick-dots .slick-active{background:#fffefb;border-color:#fffefb;}
.slick-initialized .slick-slide{outline:none;}


select {
  margin: 0;
  padding:0 30px 0 0;
  color: inherit;
  -webkit-border-radius: 0;
 -webkit-appearance: none; 
 -moz-appearance: none; 
 appearance: none;  
  background:url(https://joyfesta.kr/include/img/bg/bg_select_ico.png) no-repeat right 10px center !important;
}
select::-ms-expand {display: none;  }
select:disabled {color:#767676;background:#f3f5f7;}

/*Common*/
a{color:#111; text-decoration:none; }
a:hover {opacity:1}
hr{border:0; border-bottom:1px dashed #b9b9b9; margin:8px 0 12px; }

.ac{text-align:center !important; }
.al{text-align:left !important; }
.ar{text-align:right !important; }
.fl{float: left !important; }
.fr{float: right !important; }
.hidden {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute; padding:0 !important; }

.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}

.ml5{margin-left:5px !important}

/*폰트컬러지정-색상별 규칙맞춰 추가*/
.fcrd{color:#ea484c !important; } /*Red*/
.fcbl{color:#3f74ba !important; } /*Blue*/


.jq-ry-container{position:relative;padding:0 5px;line-height:0;display:block;cursor:pointer;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;direction:ltr}.jq-ry-container[readonly=readonly]{cursor:default}.jq-ry-container>.jq-ry-group-wrapper{position:relative;width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group{position:relative;line-height:0;z-index:10;white-space:nowrap}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{display:inline-block}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group{width:100%}.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group{width:0;z-index:11;position:absolute;top:0;left:0;overflow:hidden}