<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<meta charset="UTF-8">
</th:block>
<th:block layout:fragment="adminisMainContents">

		<h3>거래처회원관리</h3>
		<div align= "right">
			<a th:href="@{/insertAccountMember}">
				<button type="button" class="btn btn-default">거래처 회원 등록하기</button>
			</a>
		</div>
		<br/>
		<form class="form-inline" role="form" align="right" th:action="@{/accountMemberView}" method="get">
			<select class="form-control" name="sk">
				   	<option value="acc_mem_nm">거래처 소속 회원이름</option>
	                <option value="acc_mem_nm">거래처 소속 회원이름</option>
	              </select>
	             <div class="form-group">
	               <input type="text" class="form-control" placeholder="검색어를 입력해주세요." name="sv">
	             </div>
	             <button type="submit" class="btn btn-theme">검색</button>
        </form>
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> 거래처 회원 리스트</h4>
              <hr>
             
              <table class="table table-striped table-advance table-hover">
                
                <thead>
                  <tr>
                    <th>거래처명</th>
                    <th>거래처업종분류</th>
                    <th>거래처 소속 회원이름</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>가입일자</th>
                    <th>상세확인</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="a:${selectAccountMemberView}">  
               		<td th:text="${a.catAccNm1}"></td>
               		<td th:text="${a.catBusAccBus}"></td>
               		<td th:text="${a.AccMemNm}"></td>
               		<td th:text="${a.AccMemAddr}"></td>
               		<td th:text="${a.AccMemPhone}"></td>
               		<td th:text="${a.AccMemDt2}"></td>
			 		<td>
			 		  <a th:href="@{/accountMemberDetail(accMemCd=${a.accMemCd})}">
			 		  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a> 
			 		</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>	
	
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>
