<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<meta charset="UTF-8">
</th:block>
<th:block layout:fragment="adminisMainContents">


              <h4><i class="fa fa-angle-right"></i></span> 거래처 등록하기 </h4><br>
			 <div class="form-panel">
		              <div class="form">
		                <form th:action="@{/insertAllAccount}" method="post" class="cmxform form-horizontal style-form" id="commentForm">
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">거래처코드</label>
		                    <div class="col-lg-10">
		                      <input class=" form-control" id="catAccCd" type="text" name="catAccCd" required/>
		                    </div>
		                  </div>
		                   <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">모든 행정기관코드</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="areacityAdminCd" type="text" name="areacityAdminCd"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">모든 지역 시군코드</label>
		                    <div class="col-lg-10">
		                      <input class=" form-control" id="areaCityCd" type="text" name="areaCityCd"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">전국지역코드</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="areaCd" type="text" name="areaCd"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">위원회코드</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="manComCd" type="text" name="manComCd"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">거래처명</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccNm1" type="text" name="catAccNm1"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="curl" class="control-label col-lg-2">사업자분류</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccOper" type="text" name="catAccOper"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처대표자명</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccNm2" type="text" name="catAccNm2"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처사업장주소</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccAddr" type="text" name="catAccAddr"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처사업자등록번호</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccNo1" type="text" name="catAccNo1"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처법인등록번호</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccNo2" type="text" name="catAccNo2"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처팩스번호</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccPhone1" type="text" name="catAccPhone1"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">대표자 전화번호</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccPhone2" type="text" name="catAccPhone2"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처 대표번호</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccPhone3" type="text" name="catAccPhone3"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">거래처이메일</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccEmail" type="text" name="catAccEmail"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">등록일자</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccDt1" type="text" name="catAccDt1"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">승인자</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccApp" type="text" name="catAccApp"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">위원회명</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="manComNm1" type	="text" name="manComNm1"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">승인일자</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccDt2" type="text" name="catAccDt2"/>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label for="ccomment" class="control-label col-lg-2">승인 상태</label>
		                    <div class="col-lg-10">
		                      <input class="form-control" id="catAccCon" type="text" name="catAccCon"/>
		                    </div>
		                  </div>


		                  <div class="form-group">
		                    <div class="col-lg-offset-2 col-lg-10">
		                      <button class="btn btn-theme" type="submit" value="등록">거래처 등록하기</button>
		                   </div>
		                   </div>
		                   <div class="form-group">
		                   	<div class="col-lg-offset-2 col-lg-10">
			                   <a th:href="@{/allAccountView}">
			                    	<button class="btn btn-theme04" type="button">취소</button>
			                   </a>
		                   </div>
		                   </div>
		                   
		                  </div>
		                </form>
		              </div>
		            </div>
		            
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>