<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.fims.admin.AdminMapper">
<resultMap id="areaResultMap" type="shop.fims.vo.Area">
	<result column="area_cd" property="areaCd"/>
	<result column="area_nm" property="areaNm"/>
</resultMap>

<resultMap id="areaCityResultMap" type="shop.fims.vo.AreaCity">
	<result column="area_city_cd" property="areaCityCd"/>
	<result column="area_cd" property="areaCd"/>
	<result column="area_city_nm" property="areaCityNm"/>
</resultMap>

<resultMap id="areaCityAdminResultMap" type="shop.fims.vo.AreaCityAdmin">
	<result column="areacity_admin_cd" property="areacityAdminCd"/>
	<result column="area_cd" property="areaCd"/>
	<result column="area_city_cd" property="areaCityCd"/>
	<result column="areacity_admin_nm" property="areacityAdminNm"/>
</resultMap>

<!--전국 지역 등록 쿼리문 -->
<insert	id="areaInsert" parameterType="shop.fims.vo.Area">
	insert into
		Area(area_cd, area_nm)
	VALUES
		(#{areaCd} ,#{areaNm})
</insert>

<!--전국 지역 조회 쿼리문 -->
<select	id="areaList" resultMap="areaResultMap">
	SELECT
		*
	FROM 
		Area
</select>

<!-- 전국 지역 수정 쿼리문 -->
<update id="areaUpdate" parameterType="shop.fims.vo.Area">
	UPDATE
		Area
	SET
		area_nm = #{areaNm}
	WHERE 
		area_cd = #{areaCd}
</update>

<!-- 전국 지역 삭제 쿼리문 -->
<delete id="areaDelete" parameterType="String">
	DELETE
	FROM
		Area
	WHERE
		area_cd = #{areaCd}
</delete>

<!--전국 지역 시군 등록 쿼리문 -->
<insert	id="areaCityInsert" parameterType="shop.fims.vo.AreaCity">
	<selectKey keyProperty="areaCityCd" resultType="String" order="BEFORE">
		SELECT
			CAST(MAX(SUBSTRING(area_city_cd,1)+1) AS CHAR)
		FROM
			Area_City
	</selectKey>
	INSERT INTO 
		Area_City(area_city_cd, area_cd, area_city_nm)
	VALUES
		(#{areaCityCd}, #{areaCd}, #{areaCityNm})	
</insert>

<!--전국 지역 시군 조회 쿼리문 -->
<select id="areaCityList" resultMap="areaCityResultMap">
	SELECT
		*
	FROM
		Area_City
</select>

<!-- 전국 지역 시군 수정 쿼리문 -->
<update id="areaCityUpdate" parameterType="shop.fims.vo.AreaCity">
	UPDATE
		Area_City
	SET
		area_cd = #{areaCd},
		area_city_nm = #{areaCityNm}
	WHERE 
		area_city_cd = #{areaCityCd}
</update>

<!-- 전국 지역 시군삭제 쿼리문 -->
<delete id="areaCityDelete" parameterType="String">
	DELETE
	FROM
		Area_City
	WHERE
		area_city_cd = #{areaCityCd}
</delete>


<!--전국 행정기관 등록 쿼리문 -->
<insert	id="areaCityAdminInsert" parameterType="shop.fims.vo.AreaCityAdmin">
	INSERT INTO 
		Area_City_Admin(areacity_admin_cd, area_cd, area_city_cd, areacity_admin_nm)
	VALUES
		(#{areacityAdminCd}, #{areaCd}, #{areaCityCd}, #{areacityAdminNm});		
</insert>

<!--전국 행정기관 조회 쿼리문 -->
<select id="areaCityAdminList" resultMap="areaCityAdminResultMap">
	SELECT
		*
	FROM
		Area_City_Admin
</select>

<!-- 전국 행정기관 수정 쿼리문 -->
<update id="areaCityAdmUpdate" parameterType="shop.fims.vo.AreaCityAdmin">	
	UPDATE
		Area_City_Admin
	SET
		area_city_cd=#{areaCityCd},
		area_cd=#{areaCd},
		areacity_admin_nm=#{areacityAdminNm}
	WHERE
		areacity_admin_cd=#{areacityAdminCd}
</update>

<!-- 전국 행정기관 삭제 쿼리문 -->
<delete id="areaCityAdmDelete" parameterType="String">
	DELETE
	FROM
		Area_City_Admin
	WHERE
		areacity_admin_cd = #{areacityAdminCd}
</delete>



</mapper>  
  
  
  