<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="shop.fims.estimate.EstimateMapper">
 <resultMap type="shop.fims.vo.Estimate" id="examinationIndexMap">
 <result property="exaRepCd" column="exa_rep_cd"/>
 <result property="areacityAdminCd" column="areacity_admin_cd"/>
 <result property="areaCd" column="area_cd"/>
 <result property="areaCityCd" column="area_city_cd"/>
 <result property="festCd" column="fest_cd"/>
 <result property="memCd" column="mem_cd"/>
 <result property="accMemCd" column="acc_mem_cd"/>
 <result property="festProCd" column="fest_pro_cd"/>
 <result property="evaIndexCd" column="eva_index_cd"/>
 <result property="exaCondition" column="exa_condition"/>
 <result property="exaDt" column="exa_dt"/>
 <result property="exaTotalScore" column="exa_total_score"/>
 <result property="estClaCd" column="est_cla_cd"/>
 <result property="evaNm" column="eva_nm"/>
 <result property="lCriteria" column="l_criteria"/>
 <result property="mCriteria" column="m_criteria"/>
 <result property="sCriteria" column="s_criteria"/>
 <result property="multipleChoice" column="multiple_choice"/>
 <result property="scoringCriteria" column="scoring_criteria"/>
 <result property="evaindexItemCd" column="evaindex_item_cd"/>
 <result property="scoring" column="scoring"/>
 <result property="exeManager" column="exe_manager"/>
 <result property="evaindexScoCd" column="evaindex_sco_cd"/>
 
 <result property="areaNm" column="area_nm"/>
 <result property="areaCityNm" column="area_city_nm"/>
 <result property="areacityAdminNm" column="areacity_admin_nm"/>
 <result property="festNm" column="fest_nm"/>
 
 <result property="memLevCd" column="mem_lev_cd"/>
<result property="memNm" column="mem_nm"/>
<result property="memAddr" column="mem_addr"/>
<result property="memPhone" column="mem_phone"/>
<result property="memEmail" column="mem_email"/>
<result property="memBirth" column="mem_birth"/>
<result property="joinDt" column="mem_join_dt"/> 
<result property="memNm" column="mem_nm"/>

<result property="LoginCd" column="LoginCd"/>
<result property="festAnnNm" column="fest_ann_nm"/>
<result property="exaJoindt" column="exa_joindt"/>
 </resultMap>
 

 
	<!-- 문제 따로 만든 부분 -->
 <select id="indexEva" resultMap="examinationIndexMap">
		SELECT
		ei.eva_index_cd,
		eii.evaindex_item_cd,
		ei.eva_nm,
		eii.l_criteria,
		eii.m_criteria,
		eii.s_criteria
		FROM
		Eva_Index AS ei
		INNER JOIN
		Eva_Index_Item as eii
		ON 
		ei.eva_index_cd = eii.eva_index_cd
	
		WHERE 
		ei.eva_index_cd = #{evaindex_item_cd}
	</select>
	
	<!-- 배점 따로 만든 부분 -->
	 <select id="evaList" resultMap="examinationIndexMap">
	SELECT
	*
	FROM
	Eva_Index AS ei	
	INNER JOIN
	Eva_Index_Scoring AS eis
	ON
	ei.eva_index_cd = eis.eva_index_cd
	WHERE
	ei.eva_index_cd =#{evaindex_item_cd}
	 </select>
	 
	 <!-- 심사리스트 -->
	 <select id="estimateList" resultMap="examinationIndexMap">
	SELECT
	*
		FROM
		Exa_Report AS er
		INNER JOIN 
		Area AS a
		ON
		er.area_cd = a.area_cd
		INNER join
		Area_City AS  ac
		on
		er.area_city_cd = ac.area_city_cd  
		INNER JOIN
		Area_City_Admin AS aca
		ON
		er.areacity_admin_cd = aca.areacity_admin_cd
		INNER JOIN
		Member AS m
		ON
		er.mem_cd = m.mem_cd
		INNER JOIN
		Festival AS f
		ON
		er.fest_cd = f.fest_cd
		INNER JOIN
		Eva_Index AS ei
		on
		er.eva_index_cd = ei.eva_index_cd
		INNER join
		Login AS l
		on
		m.mem_cd = l.mem_cd
	
		

	 
	 </select>
	 <!-- 심사완료시 현황바뀜 -->
	 <select id="updateEstimateList" resultMap="examinationIndexMap">
	UPDATE
	Exa_Report
	SET
	exa_condition='Y'
	WHERE 
	exa_rep_cd = #{exa_rep_cd}
	 </select>
	 <!-- 리스트->신청서페이지 -->
	<select id="nextApply" resultMap="examinationIndexMap">
SELECT
		er.exa_rep_cd,
		a.area_nm,
		ac.area_city_nm,
		aca.areacity_admin_nm,
		f.fest_nm,
		m.mem_nm,
		ei.eva_nm,
		er.exa_dt,
		er.exa_condition,
		f.fest_super_agency,
		m.mem_addr,
		f.fest_spo_agency,
		f.fest_nm,
		f.fest_host_place,
		m.mem_join_dt,
		m.mem_phone,
		m.mem_email,
		m.mem_birth,
		er.exe_manager
		FROM
		Exa_Report AS er
		INNER JOIN 
		Area AS a
		ON
		er.area_cd = a.area_cd
		INNER join
		Area_City AS  ac
		on
		er.area_city_cd = ac.area_city_cd  
		INNER JOIN
		Area_City_Admin AS aca
		ON
		er.areacity_admin_cd = aca.areacity_admin_cd
		INNER JOIN
		Member AS m
		ON
		er.mem_cd = m.mem_cd
		INNER JOIN
		Festival AS f
		ON
		er.fest_cd = f.fest_cd
		INNER JOIN
		Eva_Index AS ei
		on
		er.eva_index_cd = ei.eva_index_cd
	 WHERE
	 er.exa_rep_cd = #{exa_rep_cd}
	</select>
	<!-- 신청서 -> 심사표 -->
	<select id="examinationIndex" resultMap="examinationIndexMap">
	SELECT
		er.exa_rep_cd,
		a.area_nm,
		ac.area_city_nm,
		aca.areacity_admin_nm,
		f.fest_nm,
		m.mem_nm,
		ei.eva_nm,
		er.exa_dt,
		er.exa_condition,
		f.fest_super_agency,
		m.mem_addr,
		f.fest_spo_agency,
		f.fest_nm,
		f.fest_host_place,
		m.mem_join_dt,
		m.mem_phone,
		m.mem_email,
		m.mem_birth,
		er.exe_manager
		FROM
		Exa_Report AS er
		INNER JOIN 
		Area AS a
		ON
		er.area_cd = a.area_cd
		INNER join
		Area_City AS  ac
		on
		er.area_city_cd = ac.area_city_cd  
		INNER JOIN
		Area_City_Admin AS aca
		ON
		er.areacity_admin_cd = aca.areacity_admin_cd
		INNER JOIN
		Member AS m
		ON
		er.mem_cd = m.mem_cd
		INNER JOIN
		Festival AS f
		ON
		er.fest_cd = f.fest_cd
		INNER JOIN
		Eva_Index AS ei
		on
		er.eva_index_cd = ei.eva_index_cd
	 WHERE
	 er.exa_rep_cd = #{exa_rep_cd}
	</select> 
	<!-- 담당자 이름 작성  -->
	 <select id="updataexeManager" parameterType="String" >
		UPDATE Exa_Report
		SET
		exe_manager= #{exeManager},
		exa_condition = 'Y',
		exa_dt=NOW()
		WHERE 
		exa_rep_cd = #{exaRepCd}
		 
		 </select>
		 <select id="">
		SELECT
		eis.evaindex_sco_cd,
		eis.scoring_criteria,
		eis.scoring
		FROM
		Eva_Index_Scoring AS eis
		WHERE
		eis.evaindex_sco_cd = #{evaindex_sco_cd}
	 
	 </select>
	
 </mapper>