<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="shop.fims.human.WorkMapper">
     <resultMap type="shop.fims.vo.Work" id="workResultMap">
  		<result property="festNm" column="fest_nm"/>
  		<result property="workcatNm" column="feswork_cat_nm"/>
  		<result property="workdivNm" column="feswork_div_nm"/>
   		<result property="comNm2" column="com_mem_nm2"/>
   		<result property="workdivCd" column="feswork_div_cd"/>
   		<result property="workcatCd" column="feswork_cat_cd"/>		  		
  	</resultMap> 
  	<!-- 업무분류조회 -->
  <select id="selectWorkCategory" resultMap="workResultMap">
  
		SELECT
			fest_nm,
			feswork_cat_nm,
			feswork_cat_cd
		FROM
			Festival_Work_Category
  
  </select>
  	<!-- 업무분류수정화면 -->
  <select id="selectupdateWorkCategory" resultMap="workResultMap">
		SELECT
			fest_nm,
			feswork_cat_nm
		FROM
			Festival_Work_Category
		WHERE
			feswork_cat_cd = #{workcatCd}
  
  </select>
  	<!-- 업무조회 -->
  <select id="selectWorkDivision" resultMap="workResultMap">
  
		SELECT
			feswork_div_cd,
			fest_nm,
			feswork_cat_nm,
			feswork_div_nm,
			com_mem_nm2
		FROM
			Festival_Work_Division
  
  </select>
  <!-- 업무 검색 -->
  <select id="searchWorkdivision" resultMap="workResultMap">
	SELECT
		fwd.feswork_div_cd,
		fwd.feswork_div_nm,
		fwc.feswork_cat_nm,
		f.fest_nm,
		mc.com_mem_nm2
	FROM
		Festival_Work_Division AS fwd JOIN Festival_Work_Category AS fwc ON fwd.feswork_cat_cd=fwc.feswork_cat_cd
		JOIN Man_Com AS mc ON fwd.man_com_cd=mc.man_com_cd
		JOIN Festival f ON fwd.fest_cd=f.fest_cd
	WHERE 1=1  
  		<if test="fest_nm != null and fest_nm != '' ">
		       AND f.fest_nm Like CONCAT('%',#{fest_nm},'%')
		</if>
  		<if test="feswork_cat_nm != null and feswork_cat_nm != '' ">
		       AND fwc.feswork_cat_nm Like CONCAT('%',#{feswork_cat_nm},'%')
		</if>
  		<if test="feswork_div_nm != null and feswork_div_nm != '' ">
		       AND fwd.feswork_div_nm Like CONCAT('%',#{feswork_div_nm},'%')
		</if>
  		<if test="com_mem_nm2 != null and com_mem_nm2 != '' ">
		       AND mc.com_mem_nm2 Like CONCAT('%',#{com_mem_nm2},'%')
		</if>
  </select>
  <!-- 업무수정화면 -->
  <select id="selectupdateWorkDivision" resultMap="workResultMap">
  
 		SELECT
			feswork_div_cd,
			fest_nm,
			feswork_cat_nm,
			feswork_div_nm,
			com_mem_nm2
		FROM
			Festival_Work_Division
		WHERE
			feswork_div_cd=#{workdivCd}
  </select>
  </mapper>