@charset "utf-8";

@media print {
  
	#gnHead, #gnFoot, #mMenu, #scrollToTop{display:none!important;}
	
	#sub-wrap .left{display:none;}
	#sub-wrap .right-wrap{display:block;height:auto;}
	#sub-wrap .right-wrap .contents-wrap{display:none;}
	a:link:after, a:visited:after { content:''; }


	/* 2019/11/5 */
	.header-top.hd-top-wrap{display: none;}
	#gnWrap{border-top: 1px solid #ddd;}
	.sub .sub-header .navi{display:block !important;}
	.gn-bbs-tab > ul > li > a{background: none; color: #ccc !important; font-weight:400; }
	.gn-bbs-tab > ul > li.active > a{background: none; color: #333 !important; font-weight:600;}

}