<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
	        <h3><i class="fa fa-angle-right"></i>축제업무분류조회</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>업무분류조회</h4>
	              <hr>
	              <table class="table">
	                <thead>
	                  <tr>
							<th style=display:none;>축제업무분류코드</th>
							<th>축제명</th>
							<th>업무분류</th>
							<th>수정</th>
							<th>삭제</th>
					 </tr>
	                </thead>
	                <tbody>
	  					<tr th:each = " wc : ${WorkCategoryList}">
							<td th:text = "${wc.workcatCd}" style=display:none;></td>
							<td th:text = "${wc.festNm}"></td>
							<td th:text = "${wc.workcatNm}"></td>
							<td>
								<a th:href="@{/workcategoryUpdate (workcatCd=${wc.workcatCd})}">
								<button type="button" class="btn btn-success">수정</button>
								</a>
							</td>
							<td>
								<a th:href="@{/workcategoryDelete}">
								<button type="button" class="btn btn-danger">삭제</button>
								</a>
							</td>					
						</tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>