<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
<title>홍보분류관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">


		<div class="col-lg-12">
            <div class="form-panel">
<!-- 상단 홍보관련메뉴 -->	           
            	 <div id="controls-tabs">
		            <div class="wrap_controls">
		            	<ul class="ullist controls " style="margin: 0px; padding: 0px; list-style-type: none;">
				            <li class="active"><a th:href="@{/prDivList}" id="prDivBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보분류관리</span></a></li>
				            <li class=""><a th:href="@{/prPromotionList}"  id="prPromotionBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보사업관리</span></a></li>
				            <li class=""><a th:href="@{/prComList}" id="prComBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보거래처관리</span></a></li>
		           		</ul>
		            </div>
            	</div>
            
            
              <h1 align="center"><span >《축제통합관리시스템》 공통 홍보 분류 관리</span></h1>	
<!-- Button trigger modal -->
<div align="right">
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#insertPrDiv">
  홍보분류 신규등록
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="insertPrDiv" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="exampleModalCenterTitle">홍보분류 신규등록</h4>
      </div>
      <div class="modal-body">
	      <form  th:action="@{/prInsertDiv}" method="post">
	      	       <div class="form-group ">
	      	       <div align="center"><h4>축제통합관리시스템에서 공통적으로 이용되는 분류입니다.<font style="color: red"><br><br>
							      	       	<strong>신규 등록에 유의하시기 바랍니다.</strong></font></h4></div><br> 
                    <label for="cname" class="control-label col-lg-2"><font style="vertical-align: inherit;">분류명</font></label>
                    <div class="col-lg-10">
                      <input class=" form-control" name="festprDivNm" minlength="2" type="text">
                    </div>
                  </div><br>     
		      <hr>
		      	<div align="right">
		      		<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
		        	<button type="submit" class="btn btn-primary">등록하기</button>
		      	</div>	      
	      </form>
      </div>
    </div>
  </div>
</div>                
              <hr>
              <table class="table table-hover">
                
                <thead>
                  <tr>                
                    <th>번호</th>
                    <th>분류명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="d, i : ${AllDiv}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${d.festprDivNm}"></td>
                    <td>
               

	                    
	                    <!-- Button trigger modal -->
	                    <button class="btn btn-primary btn-xs" data-toggle="modal" th:data-target="${'#updatePrDiv'+i.index}"><i class="fa fa-pencil"></i></button>
						<!-- Modal -->
						<div class="modal fade" th:id="${'updatePrDiv' + i.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						          <h4 class="modal-title" id="exampleModalCenterTitle">홍보분류 수정</h4>
						      </div>
						      <div class="modal-body">
							      <form  th:action="@{/prUpdateDiv}" method="post">
							      	       <div class="form-group ">
							      	       	<div align="center"><h4>축제통합관리시스템에서 공통적으로 이용되는 분류입니다.<font style="color: red"><br><br>
							      	       	<strong>수정에 유의하시기 바랍니다.</strong></font></h4></div><br>
						                    <label for="cname" class="control-label col-lg-2"><font style="vertical-align: inherit;">분류명</font></label>
						                    <div class="col-lg-10">
						                      <input class=" form-control" name="festprDivCd" minlength="2" type="hidden" th:value="${d.festprDivCd}">
						                      <input class=" form-control" name="festprDivNm" minlength="2" type="text" th:value="${d.festprDivNm}">
						                    </div>
						                  </div><br>     
								      <hr>
								      	<div align="right">
								      		<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
								        	<button type="submit" class="btn btn-primary">수정하기</button>
								      	</div>	      
							      </form>
						      </div>
						    </div>
						  </div>
						</div>  
                 
                    </td>
                    <td>
                    
                    	
                    	<!-- Button trigger modal -->
	                    <button class="btn btn-danger btn-xs" data-toggle="modal" th:data-target="${'#deletePrDiv'+i.index}"><i class="fa fa-trash-o"></i></button>
						<!-- Modal -->
						<div class="modal fade" th:id="${'deletePrDiv' + i.index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-centered" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						          <h4 class="modal-title" id="exampleModalCenterTitle">홍보분류 삭제</h4>
						      </div>
						      <div class="modal-body">							      
							      	       <div class="form-group ">
							      	       	<div align="center"><h4>축제통합관리시스템에서 공통적으로 이용되는 분류입니다.<font style="color: red"><br><br>
							      	       	<strong>삭제하면 되돌릴 수 없습니다. 정말 삭제하시겠습니까?</strong></font></h4></div><br>
						                    <label for="cname" class="control-label col-lg-2"><font style="vertical-align: inherit;">분류명</font></label>
						                    <div class="col-lg-10">
						                      <input class=" form-control" name="festprDivNm" minlength="2" type="text" th:value="${d.festprDivNm}" readonly>
						                    </div>
						                  </div><br>     
								      <hr>
								      	<div align="right">
								      		<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
								        	<a th:href="@{/prDeleteDiv(festprDivCd=${d.festprDivCd})}">
								        	<button type="submit" class="btn btn-primary">삭제하기</button></a>
								      	</div>	      
							     
						      </div>
						    </div>
						  </div>
						</div>  
                   <!--  Modal end -->
                    
                    
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>