<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>홍보사업리스트</title>
</th:block>
<th:block layout:fragment="adminisScript">
	<script th:src="@{/adminis/lib/jquery/jquery.min.js}"></script>			
</th:block>
<th:block layout:fragment="adminisMainContents">

		

          <div class="col-lg-12">
           

            
<!-- 상단 홍보관련메뉴 -->	
            <div class="form-panel">
	            <div id="controls-tabs">
		            <div class="wrap_controls">
		            	<ul class="ullist controls " style="margin: 0px; padding: 0px; list-style-type: none;">
				            <li class=""><a th:href="@{/prDivList}" id="prDivBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보분류관리</span></a></li>
				            <li class="active"><a th:href="@{/prPromotionList}"  id="prPromotionBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보사업관리</span></a></li>
				            <li class=""><a th:href="@{/prComList}" id="prComBtn" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
				            	<span>홍보거래처관리</span></a></li>
		           		</ul>
		            </div>
            	</div>            
            
			<h1 align="center"><span >《[[${session.F_NM}]]》 홍보 사업 리스트</span></h1>
              <div align="right">
              <a th:href="@{/prInsertPromotion}" >
              <button type="button" class="btn btn-info">신규사업등록</button></a>  
              </div>              
        <!-- 세부프로그램검색 start -->
        <form class="form-inline" role="form" align="center" id="prSearch" th:action="@{/searchPrDetail}" method="post">
       	 <div class="form-group">
           <label class="sr-only" for="festprDivNm"></label>
            <select  class="form-control" id="festprDivNm" name="festprDivNm">
            		<option value="" >:: 홍보방식 ::</option>
            	<th:block th:each="d:${prDiv}">
            		<option th:text=${d.festprDivNm}></option>
            	</th:block>            	
            </select>           
          </div>
          <div class="form-group">
            <label class="sr-only" for="catAccNm1"></label>
            <input type="text" class="form-control" id="catAccNm1" name="catAccNm1" placeholder="거래처명">
          </div>             
          <div class="form-group">
            <label class="sr-only" for="festprProNm"></label>
            <input type="text" class="form-control" id="festprProNm" name="festprProNm" placeholder="매체명">
          </div><br>
          <div class="form-group">
            <label class="sr-only" for="date1"></label>
            <input type="date" class="form-control" id="date1" name="date1" >~
            <label class="sr-only" for="date2"></label>
            <input type="date" class="form-control" id="date2" name="date2" >
          </div>
          <div class="form-group">
            <label class="sr-only" for="actionStatus"></label>
            <select class="form-control" id="actionStatus" name="actionStatus">
            	<option value="" >:: 마감여부 ::</option>
            	<option value="n">마감 전</option>
            	<option value="y">마감완료 </option>
            </select>
          </div>        
          <button type="button" id="search" class="btn btn-theme">검색</button>
          <a th:href="@{/prPromotionList}"> 
          <button type="button" class="btn btn-theme04">결과초기화</button></a>        
        </form><br>
 		<!-- 세부프로그램검색 end-->  
 		 
              <hr>
             
              <table class="table table-striped table-advance table-hover">
                
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>홍보분류</th>
                    <th>거래처명</th>
                    <th>홍보매체명</th>
                    <th>프로모션내용</th>
                    <th>프로모션시작일</th>
                    <th>마감여부</th>
                    <th>금액</th>
                    <th>상세확인</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="p:${AllPromotion}">  
			 		<td th:text="${pStat.count}"></td>
			 		<td th:text="${p.festprDivNm}"></td>
			 		<td th:text="${p.catAccNm1}"></td>
			 		<td th:text="${p.festprProNm}"></td>
			 		<td th:text="${p.festprProDetail}"></td>
			 		<td th:text="${p.fprproStartDt}"></td>
			 		<td th:text="${p.actionStatus}"></td>
			 		<td th:text="${p.festprProExpense}"></td>
			 		<td>
			 		  <a th:href="@{/prPromotionDetail(festprProCd=${p.festprProCd})}">
			 		  <button type="button" class="btn btn-success btn-sm">상세</button></a>
			 		 
			 		</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->

	
	
	
	
	
	
	

</th:block>
<th:block layout:fragment="adminisscript">
<script type="text/javascript"> 
$(document).ready(function(){
	
	/* 검색조건 날짜비교 */
	$("#search").click(function(){    
	        var startDate = $( "input[name='date1']" ).val(); 
	        var startDateArr = startDate.split('-');
	         
	        var endDate = $( "input[name='date2']" ).val(); 
	        var endDateArr = endDate.split('-');
	                 
	        var startDateCompare = new Date(startDateArr[0], parseInt(startDateArr[1])-1, startDateArr[2]);
	        var endDateCompare = new Date(endDateArr[0], parseInt(endDateArr[1])-1, endDateArr[2]);
	         
	        if(startDateCompare.getTime() > endDateCompare.getTime()) {
	             
	            alert("검색조건의 시작날짜와 종료날짜를 확인해 주세요.");
	             
	            return;
	        }
	         
	        $("#prSearch").submit();
	});
})


</script>

<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>