<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
<h2>
					<i class="fa fa-angle-right"></i>전체심사
				</h2>
	<div class="row mt">
		<div class="col-md-12">
			<div class="content-panel" style="padding: 20px;">
				
					<h2>
						<i class="fa fa-angle-right"></i>심사대기
					</h2>
					
						<table class="table" >
							<tr >
								<th>모든 행정기관관리</th>
								<th>전국 지역관리</th>
								<th>모든 지역 시군관리</th>
								<th>모든 축제관리</th>
								<th>심사 제목</th>								
								<th>심사 대상</th>
								<th>등록일자</th>
								<th>심사현황</th>
								<th:block th:if="${session.SID eq 'id003'}">
								<th>심사하기</th>
								</th:block>	
							</tr>
							<tr th:each="e : ${estimatelist}" >
							<th:block th:if="${e.exaCondition} == N" >						
								<th th:text="${e.areaNm}"></th>
								<th th:text="${e.areaCityNm}"></th>
								<th th:text="${e.areacityAdminNm}"></th>
								<th th:text="${e.festNm}"></th>								
								<th th:text="${e.evaNm}" class="evanm"></th>
<!-- 								<th:block th:if="${session.SID != 'id003'}"> -->
								<th th:text="${e.memNm}"></th>
<!-- 								</th:block> -->
								<th th:text="${e.exaJoindt}"></th>
								<th th:text="${e.exaCondition}" class="exaCondition"></th>								
								<th:block th:if="${session.SID eq 'id003'}">
								<th>
								<a th:href="@{/apply(exaRepCd=${e.exaRepCd})}" >  
  			 		 			 <button id="bbts" class="btn btn-success btn-xs" ><i class="fa fa-check">심사</i></button> 
  			 		 			 </a>
								</th>
  			 		 			 </th:block>	
							</th:block>																				
							</tr>
						</table>
		
				<h2>
					<i></i>
				</h2>
				<div class="content-panel" style="padding: 20px;">
					<h2>
						<i class="fa fa-angle-right" ></i>심사 완료
					</h2>
				
						<table class="table" style="padding: 20px;">
							<tr>
								<th>모든 행정기관관리</th>
								<th>전국 지역관리</th>
								<th>모든 지역 시군관리</th>
								<th>모든 축제관리</th>
								<th>심사 제목</th>
								<th>심사 대상</th>
								<th>심사일자</th>
								<th>심사현황</th>
								<th>담당자</th>
								<th:block th:if="${session.SLEVEL eq '거래처'}">
								<th>상세보기</th>
								</th:block>
							</tr>
						<tr th:each="e : ${estimatelist}" >
							<th:block th:if="${e.exaCondition} == Y" >						
								<th th:text="${e.areaNm}"></th>
								<th th:text="${e.areaCityNm}"></th>
								<th th:text="${e.areacityAdminNm}"></th>
								<th th:text="${e.festNm}"></th>
								<th th:text="${e.evaNm}"></th>
								<th th:text="${e.memNm}"></th>
								<th th:text="${e.exaDt}"></th>
								<th th:text="${e.exaCondition}" ></th>								
								<th th:text="${e.exeManager}"></th>
								<th:block SLEVEL></th:block>
								<th:block th:if="${session.SLEVEL eq '거래처'}">
								<th>			
 			 					<a th:href="@{/estimatelistdetail(exa_rep_cd=${e.exaRepCd})}">
 			 					  <button class="btn btn-success btn-xs"><i class="fa fa-check">상세보기</i></button> 
 			 					</a>	
								</th>
								</th:block>
							</tr>
					</table>
					
					

				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>


</html>
