<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<br>
	<a th:href="@{/estimatelist}">
		<button type="button" class="btn btn-default">리스트로 돌아가기</button>
	</a>
	
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
					<h4>
						<span ><i class="fa fa-angle-right"></i></span>심사상세 내용
					</h4>
					<br>
					<section id="unseen">
					<th:block th:each=" e : ${estimatelist}">
						<table class="table table-bordered table-striped table-condensed">
							
							<thead>
								<tr>
									<th colspan="5">행정기관코드</th>
									<th colspan="5">전국지역코드</th>
									<th colspan="5">지역 시군코드</th>
									<th colspan="5">축제코드</th>
								</tr>
							</thead>
							<tbody>
								<tr>
<!-- 									<td th:text="${e.areacityAdminCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.areaCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.areaCityCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.festCd}" colspan="5"></td> -->
								</tr>
							</tbody>
							<thead>
								<tr>
									<th colspan="5">거래처 업종 분류코드</th>
									<th colspan="5">거래처코드</th>
									<th colspan="5">거래처별 승인 업종 코드</th>
									<th colspan="5">모든축제세입세출예산관리코드</th>
								</tr>
							</thead>
							<tbody>
								<tr>
<!-- 									<td th:text="${r.catbusAccCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.catAccCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.catappAccCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.fesrevBudCd}" colspan="5"></td> -->
								</tr>
							</tbody>
							<thead>
								<tr>
									<th colspan="5">위원회코드</th>
									<th colspan="5">보유물품사용내역</th>
									<th colspan="5">대여료</th>
									<th colspan="5">수량</th>
								</tr>
							</thead>
							<tbody>
								<tr>
<!-- 									<td th:text="${r.manComCd}" colspan="5"></td> -->
<!-- 									<td th:text="${r.deliverBre}" colspan="5"></td> -->
<!-- 									<td th:text="${r.money}" colspan="5"></td> -->
<!-- 									<td th:text="${r.goodsAmt}" colspan="5"></td> -->
								</tr>
							</tbody>
							<thead>
								<tr>
<!-- 									<th colspan="5">대여자</th> -->
<!-- 									<th colspan="5">반납유무</th> -->
<!-- 									<th colspan="5">반납예정일</th> -->
<!-- 									<th colspan="5">세입상세그룹코드</th> -->
								</tr>
							</thead>
							<tbody>
								<tr>
<!-- 									<td th:text="${r.lender}" colspan="5"></td> -->
<!-- 									<td th:text="${r.returnDueDt}" colspan="5"></td> -->
<!-- 									<td th:text="${r.returnDt}" colspan="5"></td> -->
<!-- 									<td th:text="${r.groupCd}" colspan="5"></td> -->
								</tr>
							</tbody>
							<thead>
								<tr>
									<th colspan="5">마감일자</th>
									<th colspan="5">마감유무</th>									
								</tr>
							</thead>
							<tbody>
								<tr>
<!-- 									<td th:text="${r.actionDt}" colspan="5"></td> -->
<!-- 									<td th:text="${r.actionStatus}" colspan="5"></td>									 -->
								</tr>
							</tbody>
						</table>
					</th:block>
					</section>
			</div>
			<!-- /content-panel -->
		</div>
		<!-- /col-lg-4 -->
	</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>
