<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>축제통합관리시스템</title>
</th:block>
<th:block layout:fragment="adminisMainContents">
	<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel" style="padding: 20px;">
				<br>
				<h2>
					<i class="fa fa-angle-right"></i>심사 페이지
				</h2>
				<th:block th:each="examain : ${examinationIndex}">
					<input type="hidden" id="exaRepCd" th:value="${examain.exaRepCd}">
				</th:block>
				<select id="evaindexid">
					<option id="click">::심사 선택::</option>
					<option value="1">축제 추진위원회 심사</option>
					<option value="2">축제 평가위원회 심사</option>
					<option value="3">부스 심사</option>
					<option value="4">대행업체(용역) 심사</option>
					<option value="5">축제 내 프로그램 심사</option>
					<option value="6">자원봉사자 심사</option>
					<option value="7">홍보 관련 심사</option>
					<option value="9">지역축제 공동 평가지표</option>
				</select>
				<th:block>
					<div class="evaList"></div>

				</th:block>
				<div align="right">
					<div>
						<a th:href="@{/estimatelist}">
							<button type="button" class="btn btn-primary btn-lg">취소</button>
						</a>
					</div>
				</div>
			</div>
			<!-- /content-panel -->
		</div>
		<!-- /col-lg-4 -->
	</div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('change', '#evaindexid', function(){
			// 셀렉트 된 값을 stnId 변수에 대입
			var stnId = $(this).val();
			console.log(stnId)
			var evm = "eva_index_";
			var eva = evm+stnId;
			console.log(eva)			
			var exaRepCd = $('#exaRepCd').val();
			var request = $.ajax({
			  url: "/examinationIndex",
			  method: "POST",
			  data: { 'eva' : eva },
			  dataType: "json"
			});
			
			request.done(function( data ) {
				console.log(data)
				var content = '';				
				var indexeva = data.indexeva;
				var evaList = data.evaList;
				console.log(indexeva.length)
				console.log(evaList.length)
							
				content += '<form action="/estimatelist" method="post">'
				content += '<table class="table table-bordered table-striped table-condensed">'
				for(var i = 0; i < indexeva.length; i++){
				content += '<tr>'
				content +='<td>'+ indexeva[i].sCriteria +'</td>'
				content += '</tr>'
				for(var z = 0; z <evaList.length; z++){
				if(evaList[z].evaindexItemCd == indexeva[i].evaindexItemCd){					
						content += '<tr>'
						content += '<td>'+ evaList[z].scoringCriteria +'<input type="radio" class="evlist" name="radio'+(i+1)+'" value="'+evaList[z].scoring +'"  ></td>'
						content += '</tr>'
						}							
					}
				}
				content +='<tr>'
				content +='<td id="subid">'				
				content +='담당자:<input type="text" name="exeManager">'
				content +='<input type="hidden" name="exaRepCd" value="'+ exaRepCd +'">'
				content +='<input type="submit" value="심사완료" class="evbSubmit" >'
				content +='</td>'
				content +='</tr>'				
				content +='</table>'
				content +='</form>'						
				$('.evaList').html(content)
				$('.JudgingButton').click(function(){
					$('#subid').css('')					
				})
			
			});
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
			
			
		});
		
		//담당자 유효성 검사
		$(document).on('click','.evbSubmit',function(){
			var name = $("input[name='exeManager']").val()			
			if(name == ''){
				alert('담당자 이름을 써주세요');
				$("input[name='exeManager']").focus()
				return false;
			}
		});
		
		//심사문항 체크 유효성
// 		$(document).on('click','.evbSubmit',function(){
// 			var name2 = $('.evlist').val()
// 			if(name2 == ''){
// 				alert('체크해주세요');
// 				$('.evlist').focus()
// 				return false;
// 			}
// 		});
	});
	</script>
</th:block>

</html>
