<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/main">

	<th:block layout:fragment="customHead">
		<meta charset="UTF-8">
		<title>축제통합관리시스템</title>
		<th:block th:include="layout/customHead"></th:block>
	</th:block>
	<th:block layout:fragment="customBody">
		미완성
	</th:block>
	<th:block layout:fragment="customJquery">
		<th:block th:include="layout/customJquery"></th:block>
    </th:block>
</html>
