<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle">
	<title>축제물풀 분류관리</title>
</th:block>
<th:block layout:fragment="adminisMainContents">
	 

	<!-- 축제물품 대분류 -->
	 		<div class="col-md-6 mt">
            <div class="content-panel">
              <h2><i class="fa fa-angle-right"></i>축제물품 대분류</h2>
              <div align="right">
              <a th:href="@{/gInsertDivL}" >
              <button type="button" class="btn btn-primary">대분류 신규등록</button></a>  
              </div>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>대분류코드</th>
                    <th>대분류명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="l:${AllLDiv}">
			 		<td th:text="${l.festgoodsLdivCd}"></td>
			 		<td th:text="${l.festgoodsLdivNm}"></td>
                    <td><a th:href="@{/gUpdateDivL}" >
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                    <td><a th:href="@{/gDeleteDivL}" >
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>	 
          
          
	<!-- 축제물품 소분류 -->
	 		<div class="col-md-6 mt">
            <div class="content-panel">
              <h2><i class="fa fa-angle-right"></i>축제물품 소분류</h2>
              <div align="right">
              <a th:href="@{/gInsertDivS}" >
              <button type="button" class="btn btn-primary">소분류 신규등록</button></a>  
              </div>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>소분류코드</th>
                    <th>소분류명</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                 <tr th:each="s:${AllSDiv}">
			 		<td th:text="${s.festgoodsSdivCd}"></td>
			 		<td th:text="${s.festgoodsSdivNm}"></td>
                    <td><a th:href="@{/gUpdateDivS}" >
                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                    <td><a th:href="@{/gDeleteDivS}" >
                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>			
		
		
		
		
		
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>
