<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
	
		<a th:href="@{/gFestivalInList}">
		<button type="button" class="btn btn-default" >리스트로 돌아가기</button>
		</a>
		
		
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
            <th:block th:each="d:${GoodsInDetail}">
              <h4>입고상세내역</h4><br>
              <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr >
                      <th colspan="4">축제명</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td th:text="${d.festNm}" colspan="5"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">부서명</th>
                      <th>위원회코드</th>
                      <th>작성일</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">무슨무슨부</td>
                      <td th:text="${d.manComCd}" ></td>
                      <td th:text="${d.insertDt}" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="4">거래처코드</th>                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.catAccCd}" colspan="4"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">대분류</th>
                      <th colspan="2">소분류</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoodsLdivCd}" colspan="2"></td>
                      <td th:text="${d.festgoodsSdivCd}" colspan="2" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="2">상품명</th>
                      <th colspan="2">수량</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoodsInNm}" colspan="2"></td>
                      <td th:text="${d.festgoodsInAmt}" colspan="2"></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th>계약금액</th>
                      <th>마감여부</th>
                      <th>마감하기</th>
                      <th>마감일자</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoodsExpense}"></td>
                      <td th:text="${d.actionStatus}" ></td>
                      <td><a>마감하기</a></td>
                      <td th:text="${d.actionDt}" ></td>
                    </tr>
                  </tbody>
                   <thead>
                    <tr>
                      <th colspan="4">입고목적</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="${d.festgoodsInDetail}" colspan="4"></td>
                    </tr>
                  </tbody>
                </table>
              </section>
              </th:block>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-lg-4 -->
        </div>
        <div align="right">
		<a th:href="@{/gUpdateFestivalIn}">
		<button type="button" class="btn btn-primary">수정하기</button></a>
		<a th:href="@{/gDeleteFestivalIn}">
		<button type="button" class="btn btn-danger">삭제하기</button></a>
		</div>
		
		
		
		
		
		
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>

