<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
<th:block th:each="u : ${updatecondition}">
	 <h4><i class="fa fa-angle-right"></i>물품 수정하기 </h4><br>	 	
		 <div class="form-panel">
              <div class="form">
                <form  method="post" class="cmxform form-horizontal style-form" id="commentForm">
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">행정기관명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.admAgeNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">전국 지역명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.areaCityNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 지역 시군명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.areacityAdminNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 축제이름</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.festNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">모든 행정기관 부서명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.admimDepNm}" readonly/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">보유물품</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.goodsNm}" />
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">수량</label>
                    <div class="col-lg-10">
                      <input   class=" form-control" id="manComCd" type="text" name="manComCd" th:value="${u.goodsAmt}"/>
                    </div>
                  </div>            
                  <div class="form-group">
                    <label for="curl" class="control-label col-lg-2">특이사항</label>
                    <div class="col-lg-10">
                      <textarea rows="3" cols="100" class="form-control " id="festprProEtc" name="festprProEtc" >[[${u.specialNote}]]</textarea>
                    </div>
                  </div>            
                  <div class="form-group">
                   <div>
               	 	<a href="@{/updateCondition(goodspreConCd=${u.goodspreConCd},goodsNm=${goodsNm=${u.goodsNm}},goodsAmt=${u.goodsAmt},specialNote=${u.specialNote})}">		               
                  <button type="submit" value="물품수정">물품수정 </button>
                  </a>
                  </div>  	                   
                  </div>                    
                </form>
              </div>
           </div>
</th:block>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>

</html>
