<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
		<meta charset="UTF-8">
		<th:block layout:fragment="customBody">

		        <h3><i class="fa fa-angle-right"></i>축제업무인적조회</h3>
		        <div class="row">
		          <div class="col-md-12">
		            <div class="content-panel">
		              <h4><i class="fa fa-angle-right"></i>인적조회</h4>
		              	<div>
							<form th:action="@{/humanSearch}" method="post">
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="festNm"></label>
							      <input type="text" class="form-control" id="festNm" name="fest_nm"  placeholder="축제명을 입력해주세요">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="workdivNm"></label>
							      <input type="text" class="form-control" id="workdivNm" name="feswork_div_nm"  placeholder="업무명을 입력해주세요">
							    </div>
							  </div>
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="humanNm"></label>
							      <input type="text" class="form-control" id="humanNm" name="fes_human_nm"  placeholder="이름을 입력해주세요">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="humanPhone"></label>
							      <input type="text" class="form-control" id="humanPhone" name="fes_human_phone"  placeholder="연락처를 입력해주세요">
							    </div>
								  </div>
								  <div class="form-row">
								    <div class="form-group col-md-4">
								      <label for="humanHour"></label>
								      <input type="text" class="form-control" id="humanHour" name="fes_human_hour"  placeholder="근무시간을 입력해주세요">
								    </div>
								    <div class="form-group col-md-4">
								      <label for="comNm2"></label>
								      <input type="text" class="form-control" id="comNm2" name="com_mem_nm2" placeholder="담당자명을 입력해주세요">
								    </div>
								  </div>
								  <div>
									  <div class="form-group col-md-4">
										 <button type="submit" value="search" class="btn btn-primary" style="margin-right:40px;">검색</button>
										 <button type="button" class="btn btn-primary" onclick="location.href='/humanList'" style="margin-right:30px;">초기화</button>
									 </div>
								</div> 
								</form>
		              <table class="table">
		                <thead>
							<tr>
								<th style="display:none;">인적코드</th>
								<th style="display:none;">위원회코드</th>
								<th style="display:none;">보유시설코드</th>
								<th style="display:none;">담당업무코드</th>
								<th>이름</th>
								<th>축제명</th>
								<th>업무</th>
								<th>연락처</th>
								<th>근무장소</th>						
								<th>근무시간</th>
								<th>담당자이름</th>
								<th>인적사항상세보기</th>
								<th>근무장소상세</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
		                </thead>
		                <tbody>
		  					<tr th:each = "h : ${HumanList}">
								<td th:text = "${h.humanCd}" style="display:none;"></td>
								<td th:text = "${h.mamCd}" style="display:none;"></td>
								<td th:text = "${h.staCd}" style="display:none;"></td>
								<td th:text = "${h.workdivCd}" style="display:none;"></td>
								<td th:text = "${h.humanNm}"></td>
								<td th:text = "${h.festNm}"></td>
								<td th:text = "${h.workdivNm}"></td>
								<td th:text = "${h.humanPhone}"></td>
								<td th:text = "${h.staNm}"></td>
								<td th:text = "${h.humanHour}"></td>
								<td th:text = "${h.comNm2}"></td>
								<td>
								<a th:href = "@{/humanView(humanCd=${h.humanCd})}">
								<button type="button" class="btn btn-warning">상세보기</button>
								</a>
								</td>
								<td>
								<a th:href = "@{/facilityList}">
								<button type="button" class="btn btn-info">상세보기</button>
								</a> 
								</td>
								<td>
									<a th:href="@{/humanUpdate(humanCd=${h.humanCd})}">
									<button type="button" class="btn btn-success">수정</button>
									</a>
								</td>
								<td>
									<a th:href="@{/humanDelete}">
									<button type="button" class="btn btn-danger">삭제</button>
									</a>
								</td>						
							</tr>
		                </tbody>
		              </table>
		            </div>
		          </div>
		          <!-- /col-md-12 -->
		          <!-- /col-md-12 -->
		        </div>
		        </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>