<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >

    <!--sidebar start-->
    <aside>
       <div th:fragment="adminisLeftmenuFragment" id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/allprofile"><img src="/adminis/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">[[${session.SNAME}]] 님 [[${session.SLEVEL}]] 권한</h5>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>운영관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/operation/officialLevelInsert}">공무원 계정 생성</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>행정기관관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/admin/areaInsert}">전국 지역 및 시군 등록</a></li>
              <li><a th:href="@{/admin/areaCityList}">전국 지역 및 시군 조회</a></li>
              <li><a th:href="@{/admin/areaCityAdminInsert}">행정기관 등록</a></li>
              <li><a th:href="@{/admin/areaCityAdminList}">행정기관 조회</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>회원관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/member/MemberLevInsert}">회원 권한 등록</a></li>
              <li><a th:href="@{/member/MemberList}">모든 회원 조회</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>공무원관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/official/DepartEmployInsert}">부서 및 직원등록</a></li>
              <li><a th:href="@{/official/DepartList}">행정기관별 부서 조회</a></li>
              <li><a th:href="@{/official/DepartEmployList}">부서별 직원 조회</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>거래처 관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/allAccountView}">모든거래처관리</a></li>
              <li><a th:href="@{/accountCatBusView}">거래처업종분류조회</a></li>
              <li><a th:href="@{/approvalAccountView}">승인된거래처관리</a></li>
              <li><a th:href="@{/accountMemberView}">거래처회원관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>위원회관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/allCommitteeView}">위원회관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>축제관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/festival/festivalInsert}">축제 등록</a></li>
              <li><a th:href="@{/festival/festivalList}">축제 조회</a></li>
            </ul>
          </li>
           <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>축제인적관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/workcategoryList}">축제업무분류조회</a></li>
              <li><a th:href="@{/workcategoryInsert}">축제업무분류등록</a></li>
              <li><a th:href="@{/workdivisionList}">축제업무조회</a></li>
              <li><a th:href="@{/workdivisionInsert}">축제업무등록</a></li>
              <li><a th:href="@{/humanList}">축제인적조회</a></li>
              <li><a th:href="@{/humanInsert}">축제인적등록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>축제홍보관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/prDivList}">홍보분류관리</a></li>
              <li><a th:href="@{/prPromotionList}">홍보사업관리</a></li>
              <li><a th:href="@{/prComList}">홍보거래처 조회</a></li>
            </ul>
          </li>
           <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-plus-square"></i>
              <span>축제시설관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/classificationList}">모든시설분류조회</a></li>
              <li><a th:href="@{/classificationInsert}">모든시설분류등록</a></li>            
              <li><a th:href="@{/facilityList}">보유시설조회</a></li>
              <li><a th:href="@{/facilityInsert}">보유시설등록</a></li>
              <li><a th:href="@{/temporaryList}">임시시설설치및철거조회</a></li>
              <li><a th:href="@{/temporaryInsert}">임시시설설치및철거등록</a></li>
              <li><a th:href="@{/maintenanceList}">시설안전점검후지적관리조회</a></li>
              <li><a th:href="@{/maintenanceInsert}">시설안전점검후지적관리등록</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>축제모든물품관리</span>
              </a>
            <ul class="sub">
             <li><a th:href="@{/conditionList}">물품관리조회</a></li>         
             <li><a th:href="@{/gDivList}">물품분류관리</a></li>
             <li><a th:href="@{/gFestivalInList}">축제관련물품입고관리</a></li>
             <li><a th:href="@{/gFestivalOutList}">축제관련물품출고관리</a></li>
             <li><a th:href="@{/gComList}">물품거래처관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>축제내프로그램관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/proTimetable}">프로그램타임테이블</a></li>
              <li><a th:href="@{/proDivList}">프로그램분류관리</a></li>
              <li><a th:href="@{/proProList}">프로그램 관리</a></li>
              <li><a th:href="@{/proSProList}">세부프로그램 조회</a></li>
              <li><a th:href="@{/proParList}">프로그램 참가자 조회</a></li>
              <li><a th:href="@{/proComList}">프로그램 참가업체 조회</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>게시판관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/announcementView}">축제공고관리</a></li>
              <li><a th:href="@{/gukminview/community/boardList}">공지사항관리</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>일정관리</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/scheTimetable}">일정확인</a></li>
              <li><a th:href="@{/scheList}">일정세부조회</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-plus-square"></i>
              <span>심사관리</span>
              </a>            
            <ul class="sub">
              <li><a th:href="@{/estimatelist}">전체심사조회</a></li>              
              <li><a th:href="@{/committeeAppFormView}">위원회신청서관리</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end--> 
      </div>
    </aside>
    <!--sidebar end-->

</html>