<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
			
	        <h3><i class="fa fa-angle-right"></i>시설분류조회</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>시설분류조회</h4>
	              <table class="table">
	                <thead>
						<tr>
							<th>시설분류</th>
							<th>수정</th>
							<th>삭제</th>
						</tr>
	                </thead>
	                <tbody>
						<tr th:each="cf : ${classificationList}">
							<td th:text= "${cf.catNm}"></td>
							<td>
								<a th:href="@{/classificationUpdate}">
								<button type="button" class="btn btn-success">수정</button>
								</a>
							</td>
							<td>
								<a th:href="@{/classificationDelete}">
								<button type="button" class="btn btn-danger">삭제</button>
								</a>
							</td>					
						</tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>
