<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="adminisscript">
	<th:block th:include="fragments/adminis/adminisscript"></th:block>
	
	<th:block layout:fragment="customBody">
	        <h3><i class="fa fa-angle-right"></i>보유시설조회</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>보유시설조회</h4>
					<div>							
						<form th:action="@{/facilitySearch}" method="post">
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="festNm"></label>
							      <input type="text" class="form-control" id="festNm" name="fest_nm"  placeholder="축제명을 입력해주세요">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="staNm"></label>
							      <input type="text" class="form-control" id="staNm" name="fac_sta_nm"  placeholder="시설명을 입력해주세요">
							    </div>
							  </div>
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="inslistCla "></label>
							      <input type="text" class="form-control" id="inslistCla " name="fesfac_cat_nm"  placeholder="시설분류명을 입력해주세요">
							      </div>
							    <div class="form-group col-md-4">
							      <label for="comNm2"></label>
							      <input type="text" class="form-control" id="comNm2" name="man_com_nm2"  placeholder="담당자명을 입력해주세요">
							    </div>
								</div>
								  <div class="form-row">
								    <div class="form-group col-md-4">
								      <label for="actionSta"></label>
								      <select class="form-control" id="actionSta" name="action_status">
								      	<option value="">마감유무를선택해주세요</option>
								      	<option value="유">유</option>
								      	<option value="무">무</option>
								      </select>
								    </div>
								    
								    <div class="form-group col-md-4" style="padding-top: 17px; display: block; text-align: right;">
										<button type="submit" value="search" class="btn btn-primary" style="margin-right:30px;">검색</button>
										<button type="button" class="btn btn-primary" onclick="location.href='/facilityList'" style="margin-right:45px;">초기화</button>
									</div>
								 </div>
								</form>

	              <table class="table">
	                <thead>
						<tr>
							<th style="display:none;">보유시설코드</th>
							<th style="display:none;">위원회코드</th>
							<th style="display:none;">시설분류코드</th>
							<th>시설명</th>
							<th>시설분류명</th>
							<th>축제명</th>
							<th>시설위치</th>
							<th>시설수량</th>
							<th>담당자명</th>
							<th>마감일자</th>
							<th>마감</th>
							<th>수정</th>
							<th>삭제</th>
						</tr>
	                </thead>
	                <tbody>
						<tr th:each= "fl : ${facilityList}">
							<td th:text= "${fl.staCd}" style="display:none;"></td>
							<td th:text= "${fl.comCd}" style="display:none;"></td>
							<td th:text= "${fl.faccatCd}" style="display:none;"></td>
							<td th:text= "${fl.staNm}"></td>
							<td th:text= "${fl.catNm}"></td>
							<td th:text= "${fl.festNm}"></td>
							<td th:text= "${fl.staSite}"></td>
							<td th:text= "${fl.staCount}"></td>
							<td th:text= "${fl.comNm2}"></td>
							<td th:text= "${fl.actionDt}"></td>
							<td th:text= "${fl.actionSta}"></td>
							<td>
								<a th:href="@{/facilityUpdate(staCd=${fl.staCd})}">
								<button type="button" class="btn btn-success">수정</button>
								</a>
							</td>
							<td>
								<a th:href="@{facilityDelete(staCd=${fl.staCd})}">
								<button type="button" class="btn btn-danger">삭제</button>
								</a>
							</td>
						</tr>
	                </tbody>
	              </table>
	            </div>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
</th:block>

</th:block>
</html>