<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
	        <h3><i class="fa fa-angle-right"></i>안전점검후지적관리조회</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>안전점검후지적관리조회</h4>
	              <div>
							<form th:action="@{/maintenanceSearch}" method="post">
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="festNm"></label>
							      <input type="text" class="form-control" id="festNm" name="fest_nm"  placeholder="축제명을 입력해주세요">
							    </div>
							    <div class="form-group col-md-4">
							      <label for="staNm"></label>
							      <input type="text" class="form-control" id="staNm" name="fac_sta_nm"  placeholder="시설명을 입력해주세요">
							    </div>
							  </div>
							  <div class="form-row">
							    <div class="form-group col-md-4">
							      <label for="maicheDt"></label>
							      <input type="date" class="form-control" id="maicheDt" name="facmai_che_dt" >
							    </div>
							    <div class="form-group col-md-4">
							      <label for="maiinsIn"></label>
							      <input type="text" class="form-control" id="maiinsIn" name="facmai_ins_in"  placeholder="점검기관명을 입력해주세요">
							    </div>
								  </div>
								  <div class="form-group col-md-4">
								     <label for="comNm2"></label>
								     <input type="text" class="form-control" id="comNm2" name="com_mem_nm2" placeholder="담당자명을 입력해주세요">
								   </div>
								  <div class="form-row">
								    <div class="form-group col-md-4">
								      <label for="maistaChe"></label>
								      <select class="form-control" id="maistaChe" name="facmai_sta_che">
								      	<option value="">점검상태를 선택해주세요</option>
								      	<option value="점검중">점검중</option>
								      	<option value="보완중">보완중</option>
								      	<option value="보완완료">보완완료</option>
								      	<option value="점검완료">점검완료</option>
								      </select>
								    </div>

								  </div>
								  <div>
									  <div class="form-group col-md-4">
										 <button type="submit" value="search" class="btn btn-primary" style="margin-right:40px;">검색</button>
										 <button type="button" class="btn btn-primary" onclick="location.href='/maintenanceList'" style="margin-right:30px;">초기화</button>
									 </div>
								</div>
								</form>	              
	              <table class="table">
	                <thead>
						<tr>
							<th style="display:none;">안전점검후지적관리코드</th>
							<th>시설명</th>
							<th>축제명</th>
							<th>점검일자</th>
							<th>점검기관</th>
							<th>점검기관담당자</th>
							<th>지적사항</th>
							<th>재점검일</th>
							<th>점검상태</th>
							<th>보완완료일</th>
							<th>담당자</th>					
							<th>수정</th>
							<th>삭제</th>
							<th>안전점검항목</th>
						</tr>
	                </thead>
	                <tbody>
						<tr th:each="ml : ${MaintenanceList}">
							<td th:text="${ml.maiCd}" style="display:none;"></td>
							<td th:text="${ml.staNm}"></td>
							<td th:text="${ml.festNm}"></td>
							<td th:text="${ml.maicheDt}"></td>
							<td th:text="${ml.maiinsIn}"></td>
							<td th:text="${ml.mairesHuman}"></td>
							<td th:text="${ml.maiCad}"></td>
							<td th:text="${ml.mairecDt}"></td>
							<td th:text="${ml.maistaChe}"></td>
							<td th:text="${ml.maisupDt}"></td>
							<td th:text="${ml.comNm2}"></td>
							<td>
								<a th:href="@{/maintenanceUpdate(maiCd=${ml.maiCd})}">
								<button type="button" class="btn btn-success">수정</button>
								</a>
							</td>
							<td>
								<a th:href="@{/maintenanceDelete(maiCd=${ml.maiCd})}">
								<button type="button" class="btn btn-danger">삭제</button>
								</a>
							</td>
							<td>
								<a th:href="@{/checkList(staNm=${ml.staNm})}">
								<button type="button" class="btn btn-warning">안전점검리스트</button>
								</a>
							</td>
						</tr>
	                </tbody>
	              </table>
	              </div>
	            </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>