<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody" th:with="f = ${facility}">
		<h1>모든축제별임시시설설치및철거관리등록</h1>

			<div class="form-panel">
              <div class=" form">		
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" th:action="@{/temporaryInsert}">
                  <div class="form-group ">
                    <label for="staNm" class="control-label col-lg-2">시설명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staNm" type="text" name="staNm" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cityadminCd" class="control-label col-lg-2">행정기관코드</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="cityadminCd" type="text" name="cityadminCd" th:value="${f.cityadminCd}" readonly="readonly"/>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="areacityCd" class="control-label col-lg-2">지역시군코드</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="areacityCd" type="text" name="areacityCd" th:value="${f.areacityCd}" readonly="readonly"/>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="areaCd" class="control-label col-lg-2">지역코드</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="areaCd" type="text" name="areaCd" th:value="${f.areaCd}" readonly="readonly"/>
                    </div>
                  </div>                                                       
                  <div class="form-group">
                    <label for="festCd" class="control-label col-lg-2">축제코드</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="festCd" type="text" name="festCd" th:value="${f.festCd}" readonly="readonly"/>
                    </div>
                  </div>                  
                  <div class="form-group ">
                    <label for="festNm" class="control-label col-lg-2">축제명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="festNm" type="text" name="festNm" th:value="${f.festNm}" readonly="readonly"/>
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="AccNm1" class="control-label col-lg-2">설치거래처</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="AccNm1" type="text" name="AccNm1" />
                    </div>
                  </div>                  
                  <div class="form-group ">
                    <label for="stastaDt" class="control-label col-lg-2">설치시작일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stastaDt" type="text" name="stastaDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="staendDt" class="control-label col-lg-2">설치종료일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staendDt" type="text" name="staendDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="stainsMo" class="control-label col-lg-2">계약설치모델명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsMo" type="text" name="stainsMo" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="stainsSc" class="control-label col-lg-2">설치장소</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsSc" type="text" name="stainsSc" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="stainsNum" class="control-label col-lg-2">설치개수</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsNum" type="text" name="stainsNum" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="stainsCon" class="control-label col-lg-2">설치내용</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon" type="text" name="stainsCon" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="staWorksta" class="control-label col-lg-2">근무인원</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staWorksta" type="text" name="staWorksta" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="stademDt" class="control-label col-lg-2">철거확인일자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stademDt" type="text" name="stademDt" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="staChe" class="control-label col-lg-2">철거확인자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staChe" type="text" name="staChe" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="comCd" class="control-label col-lg-2">담당위원회코드</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="comCd" type="text" name="comCd" />
                    </div>
                  </div>                  
                   <div class="form-group ">
                    <label for="comNm2" class="control-label col-lg-2">담당위원회</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="comNm2" type="text" name="comNm2" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="stainsCon1" class="control-label col-lg-2">설치상태1</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon1" type="text" name="stainsCon1" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="stainsCon2" class="control-label col-lg-2">설치상태2</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon2" type="text" name="stainsCon2" />
                    </div>
                  </div>
                   <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit" value="등록">등록</button>
                      <button class="btn btn-theme04" type="button">취소</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>