<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">
<th:block layout:fragment="adminisTitle"></th:block>
<th:block layout:fragment="adminisMainContents">
<!-- <th:block th:include="fragments/adminis/adminisblank"></th:block> -->
	<meta charset="UTF-8">
	<th:block layout:fragment="customBody">
	        <h3><i class="fa fa-angle-right"></i>임시시설설치및철거관리조회</h3>
	        <div class="row">
	          <div class="col-md-12">
	            <div class="content-panel">
	              <h4><i class="fa fa-angle-right"></i>임시시설설치및철거관리조회</h4>
	              <div>
	              	<form th:action="@{/temporarySearch}" method="post"> 
	              			<div class="form-row">
							    <div class="form-group col-md-3">
							      <label for="festNm"></label>
							      <input type="text" class="form-control" id="festNm" name="fest_nm"  placeholder="축제명을 입력해주세요">
							    </div>
							    <div class="form-group col-md-3">
							      <label for="staNm"></label>
							      <input type="text" class="form-control" id="staNm" name="fac_sta_nm"  placeholder="시설명을 입력해주세요">
							    </div>
							  </div>
							  <div>
							 	<div class="form-group col-md-3">
								     <label for="comNm2"></label>
								     <input type="text" class="form-control" id="comNm2" name="com_mem_nm2" placeholder="담당자명을 입력해주세요">
								   </div>
							    <div class="form-group col-md-3">
							      <label for="accNm1"></label>
							      <input type="text" class="form-control" id="accNm1" name="cat_acc_nm1"  placeholder="설치거래처명을 입력해주세요">
							    </div>
							</div>
							<div>
								<div class="form-group col-md-3">
									<button type="submit" value="search" class="btn btn-primary" style="margin-right:40px;">검색</button>
									<button type="button" class="btn btn-primary" onclick="location.href='/temporaryList'" style="margin-right:45px;">초기화</button>	
								</div>
							</div>
						</form>

								 
						
	              
	              <table class="table">
	                <thead>
					<tr>
						<th style="display:none;">시설및철거관리코드</th>
						<th style="display:none;">계약관리코드</th>
						<th style="display:none;">거래처코드</th>
						<th style="display:none;">위원회코드</th>
						<th>시설명</th>
						<th>축제명</th>
						<th>담당자</th>
	 					<th>설치거래처</th> 
						<th>설치상태1</th>
						<th>설치상태2</th>
						<th>설치내용상세보기</th>
						<th>거래처상세보기</th>
						<th>계약상세보기</th>
					</tr>
	                </thead>
	                <tbody>
						<tr th:each= "tl : ${temporaryList}">
							<td th:text= "${tl.facCd}" style="display:none;"></td>
							<td th:text= "${tl.fesconmanCd}" style="display:none;"></td>
							<td th:text= "${tl.accCd}" style="display:none;"></td>
							<td th:text= "${tl.comCd}" style="display:none;"></td>
							<td th:text= "${tl.staNm}"></td>
							<td th:text= "${tl.festNm}"></td>
							<td th:text= "${tl.comNm2}"></td>
							<td th:text= "${tl.accNm1}"></td>
							<td th:text= "${tl.stainsCon1}"></td>
							<td th:text= "${tl.stainsCon2}"></td>
							<td>
								<a th:href="@{/temporaryView(facCd=${tl.facCd})}">
								<button type="button" class="btn btn-warning">설치내용상세보기</button>
								</a>
							</td>
							<td>
								<a th:href="@{/temporaryaccountView(accCd=${tl.accCd})}">
								<button type="button" class="btn btn-info">거래처상세보기</button>
								</a>
							</td>	
							<td>
								<a th:href="@{/temporaryconView(fesconmanCd=${tl.fesconmanCd})}">
								<button type="button" class="btn btn-default">계약상세보기</button>
								</a>
							</td> <!--계약리스트-->									
						</tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	          </div>
	          <!-- /col-md-12 -->
	          <!-- /col-md-12 -->
	        </div>
</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>
</th:block>
</html>
