<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<section>
	<div class="commDesc">
		<p class="t01">커뮤니티</p>
		<p class="t02">ALLFestMoa의 다양한 소식을 만나보세요!</p>
	</div>
	<div class="norBox">
		<div class="commLeft">
			<div class="commEvtBox">
				<p class="tit">이벤트</p>
				<ul class="commEvtList">
					
						<li>
							<div class="pic">
								<a
									href="/gukminview/community/eventDetailView"
									class="t01"> <img
									src="https://joyfesta.kr/uploadedfiles/eventbanner/2019/09/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%89%E1%85%A5%E1%84%83%E1%85%B5%E1%84%91%E1%85%A6_%E1%84%90%E1%85%B5%E1%84%8F%E1%85%A6%E1%86%BA%E1%84%8C%E1%85%B3%E1%86%BC%E1%84%8C%E1%85%A5%E1%86%BC%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A6%E1%86%AB%E1%84%90%E1%85%B3_185703411.jpg"
									width="260px" height="114px" /></a>
							</div>
							<div class="cont">
								<a
									href="/gukminview/community/eventDetailView"
									class="t01">서울디저트페어 티켓증정 이벤트</a>
								<div class="t02">
									<span class="status01">종료</span> <span
										class="date">2019.09.30~2019.10.06</span>
								</div>
							</div>
						</li>
					
						<li>
							<div class="pic">
								<a
									href="#"
									class="t01"> <img
									src="https://joyfesta.kr/uploadedfiles/eventbanner/2019/09/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%8B%E1%85%B5%E1%86%AB%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1%E1%84%80%E1%85%B3%E1%84%85%E1%85%A2%E1%86%B7_%E1%84%91%E1%85%A1%E1%86%AF%E1%84%85%E1%85%A9%E1%84%8B%E1%85%AE%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A6%E1%86%AB%E1%84%90%E1%85%B3_185039314.jpg"
									width="260px" height="114px" /></a>
							</div>
							<div class="cont">
								<a
									href="#"
									class="t01">ALLFestMoa 인스타그램 팔로우 이벤트</a>
								<div class="t02">
									<span class="status01">종료</span> <span
										class="date">2019.09.04~2019.09.23</span>
								</div>
							</div>
						</li>
					
						<li>
							<div class="pic">
								<a
									href="#"
									class="t01"> <img
									src="https://joyfesta.kr/uploadedfiles/eventbanner/2019/07/%E1%84%8C%E1%85%A9%E1%84%8B%E1%85%B5%E1%84%91%E1%85%A6%E1%84%89%E1%85%B3%E1%84%90%E1%85%A1_%E1%84%8B%E1%85%A9%E1%84%91%E1%85%B3%E1%86%AB%E1%84%8B%E1%85%B5%E1%84%87%E1%85%A6%E1%86%AB%E1%84%90%E1%85%B3_%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF_190630_092917407.jpg"
									width="260px" height="114px" /></a>
							</div>
							<div class="cont">
								<a
									href="#"
									class="t01">ALLFestMoa 정식 오픈 이벤트</a>
								<div class="t02">
									<span class="status01">종료</span> <span
										class="date">2019.07.01~2019.07.31</span>
								</div>
							</div>
						</li>
					
				</ul>
			</div>
		</div>
		<div class="commRight">
			<div class="commQnaBox">
				<div class="tit">
					자주묻는질문 <a href="/gukminview/community/faqView"><img
						src="https://joyfesta.kr/include/img/ico/ico_more01.png" /></a>
				</div>
				<!--
				<ul class="commCategory">
					<li><a href="javascript:void(0)" class="on">전체</a></li>
					<li><a href="javascript:void(0)">서비스이용</a></li>
					<li><a href="javascript:void(0)">회원가입·탈퇴</a></li>
					<li><a href="javascript:void(0)">로그인·계정정보</a></li>
					<li><a href="javascript:void(0)">기타</a></li>
				</ul> 
				 -->
				<ul class="commQnaList">
					
						<li><a
							href="#">회원가입 시, 인증 메일이 오지 않아요!</a> <span class="date">19.07.18</span></li>
					
						<li><a
							href="#">축제은 어떻게 등록하나요?</a> <span class="date">19.07.09</span></li>
					
						<li><a
							href="#">회원 정보는 어떻게 변경하나요?</a> <span class="date">19.06.18</span></li>
					
						<li><a
							href="#">비밀번호를 잊어버렸는데 어떻게 찾나요?</a> <span class="date">19.06.18</span></li>
					
						<li><a
							href="#">비회원도 ALLFestMoa를 이용할 수 있나요?</a> <span class="date">19.06.18</span></li>
				</ul>
<!-- 				<ul class="commQnaList">
					
						<li><a
							href="Faq.festa?faqseq=22">#회원가입 시, 인증 메일이 오지 않아요!</a> <span class="date">19.07.18</span></li>
					
						<li><a
							href="Faq.festa?faqseq=21">#축제은 어떻게 등록하나요?</a> <span class="date">19.07.09</span></li>
					
						<li><a
							href="Faq.festa?faqseq=12">#회원 정보는 어떻게 변경하나요?</a> <span class="date">19.06.18</span></li>
					
						<li><a
							href="Faq.festa?faqseq=11">#비밀번호를 잊어버렸는데 어떻게 찾나요?</a> <span class="date">19.06.18</span></li>
					
						<li><a
							href="Faq.festa?faqseq=10">#비회원도 ALLFestMoa를 이용할 수 있나요?</a> <span class="date">19.06.18</span></li>
				</ul> -->				
			</div>
			<div class="commNoticeBox">
				<div class="tit">
					공지사항 <a href="/gukminview/community/boardList"><img
						src="https://joyfesta.kr/include/img/ico/ico_more01.png" /></a>
				</div>
				<ul class="commNoticeList">
					
						<li><a
							href="/gukminview/community/noticeDetailView">서울디저트페어 티켓증정 이벤트 당첨자 발표</a> <span class="date">19.10.07</span></li>
					
						<li><a
							href="#">인스타그램 팔로잉 이벤트 당첨자 발표</a> <span class="date">19.09.30</span></li>
					
						<li><a
							href="#">ALLFestMoa 정식 오픈 이벤트 당첨자 발표</a> <span class="date">19.09.04</span></li>
					
						<li><a
							href="#">ALLFestMoa 정식 오픈 안내</a> <span class="date">19.01.21</span></li>
					
				</ul>
			</div>
		</div>
	</div>
</section>



</th:block>

</html>