<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<section>
	<div class="commDesc">
		<p class="t01">공지사항</p>
		<p class="t02">ALLFestMoa의 최근 소식으르 만나보세요!</p>
	</div>
	<div class="norBox">
		<ul class="commTabs">
			<li><a href="/gukminview/community/eventView">이벤트</a></li>
			<li><a href="javascript:void(0)" class="on">공지사항</a></li>
			<li><a href="/gukminview/community/faqView">FAQ</a></li>
		</ul>

		<div class="viewBox">
			<div class="viewHeader">
				<p class="subj">
					서울디저트페어 티켓증정 이벤트 당첨자 발표
				</p>
				<div class="etc t01">
					<span class="th">ALLFestMoa 관리자</span>
					<span class="td">2019.10.07</span>
					<span class="th">조회</span> <span class="td">63</span>
				</div>
			</div>
			<div class="viewCont">
				<p>안녕하세요? ALLFestMoa입니다.</p><p>서울디저트페어 티켓증정 이벤트에 참여해주신 모든 분들께 감사의 말씀 올립니다 :)</p><p>1인 2매가 증정되오니 소환한 친구분과 함께 즐겁게 관람하세요!</p><p><br></p><p>* 당첨자분들께는 티켓 발송과 관련한 내용을 DM으로 발송해드립니다.</p><p>* 인스타그램이 비공개로 처리된 분들께는 먼저 DM을 발송해드릴 수 없으니, 비공개를 풀어주시거나 ALLFestMoa 인스타그램을 통해 먼저 DM을 발송해주세요. 티켓발송을 위한 url을 전달해드립니다.</p><p><br></p><p><b>[서울디저트페어 티켓증정 이벤트 당첨자]</b></p><p>@clairejskim</p><p>@jeong.min.lim</p><p>@flor_azul.y</p><p>@jjjjungbin</p><p>@dooro_omi</p><p>@__zulong</p><p>@s_hyeon0509</p><p>@vini_vani_</p><p>@dew._.ysl</p><p>@a_08_29</p><p><br></p><p>* 행사정보 &gt; https://joyfesta.kr/FestivalDetail.festa?festivalseq=725</p>
			</div>

			<div class="boardBtnBox">
				<a href="/gukminview/community/noticeView" class="btnType04">리스트</a>
				<a href="/gukminview/community/noticeModify" class="btnType04">수정</a>
				<a href="/gukminview/community/noticeView" class="btnType04">삭제</a>
			</div>

		</div>
	</div>
</section>


</th:block>

</html>