<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/gukmin/gukmindefault}">

<th:block layout:fragment="gukminMainContents">

<link rel="stylesheet" href="/gukmin/editors/trumbowyg/ui/trumbowyg.css">
<link rel="stylesheet"
	href="/gukmin/editors/trumbowyg/plugins/colors/ui/trumbowyg.colors.css">

<!-- Import Trumbowyg -->
<script src="/gukmin/editors/trumbowyg/trumbowyg.min.js"></script>
<script type="text/javascript" src="/gukmin/editors/trumbowyg/langs/ko.min.js"></script>

<!-- Import all plugins you want AFTER importing jQuery and Trumbowyg -->
<script src="/gukmin/editors/trumbowyg/plugins/base64/trumbowyg.base64.js"></script>
<script
	src="/gukmin/editors/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.js"></script>
<script src="/gukmin/editors/trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
<script
	src="/gukmin/editors/trumbowyg/plugins/fontfamily/trumbowyg.fontfamily.js"></script>
<script src="/gukmin/editors/trumbowyg/plugins/fontsize/trumbowyg.fontsize.js"></script>
<script src="/gukmin/editors/trumbowyg/plugins/history/trumbowyg.history.js"></script>
<script
	src="/gukmin/editors/trumbowyg/plugins/lineheight/trumbowyg.lineheight.js"></script>
<script
	src="/gukmin/editors/trumbowyg/plugins/pasteembed/trumbowyg.pasteembed.js"></script>
<script
	src="/gukmin/editors/trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.js"></script>


<form id="registerform" name="registerform" action="/HostSpotRegisterForm.festa" method="post">
	<input type="hidden" name="region" value="" id="region"/>
	<input type="hidden" name="imagefilepath" value="" id="imagefilepath"/>
	<input type="hidden" name="lat" value="" id="lat"/>
	<input type="hidden" name="lon" value="" id="lon"/>
	<input type="hidden" name="situationseqs" value="" id="situationseqs"/>
	<input type="hidden" name="seasonseqs" value="" id="seasonseqs"/>
	<input type="hidden" name="termseqs" value="" id="termseqs"/>
	<input type="hidden" name="openflag" value="" id="openflag"/>
	<input type="hidden" name="typeseqs" value="" id="typeseqs"/>
	<input type="hidden" name="holidayseqs" value="" id="holidayseqs"/>
	<input type="hidden" name="noholidayflag" value="" id="noholidayflag"/>
	<input type="hidden" name="videofilepath" value="" id="videofilepath"/>
	<input type="hidden" name="leafletfilepath" value="" id="leafletfilepath"/>
	<section>
		<div class="commDesc">
			<p class="t01">축제 등록하기</p>
			<p class="t02">당신의 축제을 ALLFestMoa에 등록해주세요.</p>
		</div>
		<div class="norBox">

			<p class="wSubj">
				요약정보 <span>(<mark>*</mark>항목 필수)</span>
			</p>
			<table class="writeTable t01">
				<colgroup>
					<col width="120" />
					<col width="" />
				</colgroup>
				<tr>
					<th>카테고리 <mark>*</mark></th>
					<td>
						<div class="radioBtn">
							<a href="javascript:void(0)" style="pointer-events: none;"
								class="on">축제·이벤트 </a> <a href="javascript:void(0)"
								style="pointer-events: none;">스토어</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>지역별 <mark>*</mark></th>
					<td>
						<div class="form">
							<p class="item">국내</p>
							<!-- 
							<div class="radioBtn">
								<a href="javascript:setRegion('1');" id="region1">서울</a> <a
									href="javascript:setRegion('2');" id="region2">경기</a> <a
									href="javascript:setRegion('3');" id="region3">인천</a> <a
									href="javascript:setRegion('4');" id="region4">대전·충청</a> <a
									href="javascript:setRegion('5');" id="region5">부산·울산·경남</a> <a
									href="javascript:setRegion('6');" id="region6">대구·경북</a> <a
									href="javascript:setRegion('7');" id="region7">광주·전라</a> <a
									href="javascript:setRegion('8');" id="region8">강원·기타</a>
							</div>
							 -->
							<select class="select" id="sido" name="sido">
								<option value="">지역(시도)</option>
								<option value="K01">서울특별시</option>
								<option value="K02">부산광역시</option>
								<option value="K03">대구광역시</option>
								<option value="K04">인천광역시</option>
								<option value="K05">광주광역시</option>
								<option value="K06">대전광역시</option>
								<option value="K07">울산광역시</option>
								<option value="K08">세종특별자치시</option>
								<option value="K09">경기도</option>
								<option value="K10">강원도</option>
								<option value="K11">충청북도</option>
								<option value="K12">충청남도</option>
								<option value="K13">전라북도</option>
								<option value="K14">전라남도</option>
								<option value="K15">경상북도</option>
								<option value="K16">경상남도</option>
								<option value="K17">제주특별자치도</option>
							</select> <select class="select" id="sigungu" name="sigungu">
								<option value="">지역(시군구)</option>
							</select>
						</div>
						
					</td>
				</tr>
				<tr>
					<th>상황</th>
					<td>
						<div class="checkBtn">
							
								<a
									href="javascript:setSituation('1');"
									id="situation1">나홀로</a>
							
								<a
									href="javascript:setSituation('2');"
									id="situation2">친구</a>
							
								<a
									href="javascript:setSituation('3');"
									id="situation3">연인</a>
							
								<a
									href="javascript:setSituation('4');"
									id="situation4">가족</a>
							
								<a
									href="javascript:setSituation('5');"
									id="situation5">비즈니스</a>
							
								<a
									href="javascript:setSituation('6');"
									id="situation6">모임</a>
							
						</div>
						<p class="rtxt">※ 복수 선택 가능</p>
					</td>
				</tr>
				<tr>
					<th>계절 <mark>*</mark></th>
					<td>
						<div class="checkBtn">
							
								<a
									href="javascript:setSeason('1');"
									id="season1">봄</a>
							
								<a
									href="javascript:setSeason('2');"
									id="season2">여름</a>
							
								<a
									href="javascript:setSeason('3');"
									id="season3">가을</a>
							
								<a
									href="javascript:setSeason('4');"
									id="season4">겨울</a>
							
						</div>
						<p class="rtxt">※ 복수 선택 가능</p>
					</td>
				</tr>
				<tr>
					<th>기간</th>
					<td>
						<div class="checkBtn">
							
								<a href="javascript:setTerm('1');"
									id="term1">당일치기</a>
							
								<a href="javascript:setTerm('2');"
									id="term2">2일이상</a>
							
								<a href="javascript:setTerm('3');"
									id="term3">주말</a>
							
								<a href="javascript:setTerm('4');"
									id="term4">평일</a>
							
								<a href="javascript:setTerm('5');"
									id="term5">연휴</a>
							
						</div>
						<p class="rtxt">※ 복수 선택 가능</p>
					</td>
				</tr>
			</table>
			<p class="wEtc">※ 요약정보는 사용자의 검색 및 큐레이션에 반영됩니다.</p>

			<p class="wSubj">
				기본정보 <span>(<mark>*</mark>항목 필수)
				</span>
			</p>
			<table class="writeTable t01">
				<colgroup>
					<col width="120" />
					<col width="" />
				</colgroup>
				<tr>
					<th>공개여부<mark>*</mark></th>
					<td>
						<div class="radioBtn">
							<a href="javascript:setOpenflag('Y');" id="openflagY">공개</a> <a
								href="javascript:setOpenflag('N');" id="openflagN">비공개</a>
						</div>
					</td>
				</tr>
				<tr>
					<th>축제유형<mark>*</mark></th>
					<td>
						<div class="checkBtn">
							
								<a href="javascript:setType('34');"
									id="type34">공연/영화/음악</a>
							
								<a href="javascript:setType('35');"
									id="type35">과학/IT</a>
							
								<a href="javascript:setType('36');"
									id="type36">꽃</a>
							
								<a href="javascript:setType('37');"
									id="type37">자연/생태계</a>
							
								<a href="javascript:setType('38');"
									id="type38">민속/전통</a>
							
								<a href="javascript:setType('39');"
									id="type39">먹거리</a>
							
								<a href="javascript:setType('40');"
									id="type40">지역특산물</a>
							
								<a href="javascript:setType('41');"
									id="type41">체험/참여</a>
							
								<a href="javascript:setType('42');"
									id="type42">레저/스포츠</a>
							
								<a href="javascript:setType('43');"
									id="type43">전시/박람회</a>
							
								<a href="javascript:setType('44');"
									id="type44">불꽃/빛</a>
							
								<a href="javascript:setType('45');"
									id="type45">대학축제</a>
							
								<a href="javascript:setType('46');"
									id="type46">우리동네축제</a>
							
								<a href="javascript:setType('47');"
									id="type47">교육</a>
							
								<a href="javascript:setType('48');"
									id="type48">이색/기타</a>
							
							<input type="text" id="typeetc" name="typeetc" class="etcForm"
								placeholder="기타 선택시 입력해주세요." />
						</div>
						<p class="rtxt">※ 복수 선택 가능</p>
					</td>
				</tr>
				<tr>
					<th>축제·이벤트명 <mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="title" name="title" class="inp"
								placeholder="입력 시 하단에 노출되는 연관검색어를 참고하여 등록해주세요." />
						</div>
					</td>
				</tr>
				<tr>
					<th>축제기간<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="festivalstartdate"
								name="festivalstartdate" autocomplete="off"
								class="inp datepicker" /> <span class="etxt">~</span> <input
								type="text" id="festivalenddate" name="festivalenddate"
								autocomplete="off" class="inp datepicker" />
							<!--
							<div class="chkForm">
								<input type="checkbox" id="dailyChk" /> <label for="dailyChk">당일축제</label>
							</div> 
								 -->
						</div>
					</td>
				</tr>
				<tr>
					<th>운영시간<!-- <mark>*</mark> --></th>
					<td>
						<div class="form">
							<div class="ritem">
								<span class="etxt rtype">OPEN&nbsp;</span> <input type="text"
									id="opentimeh" name="opentimeh" class="inp w40" maxlength="2" />
								<span class="etxt">:</span> <input type="text" id="opentimem"
									name="opentimem" class="inp w40" maxlength="2" /> <span
									class="etxt">~</span>
							</div>
							<div class="ritem">
								<span class="etxt rtype">ClOSE&nbsp;</span> <input type="text"
									id="closetimeh" name="closetimeh" class="inp w40" maxlength="2" />
								<span class="etxt">:</span> <input type="text" id="closetimem"
									name="closetimem" class="inp w40" maxlength="2" />
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>휴일정보<!-- <mark>*</mark> --></th>
					<td>
						<div class="checkBtn">
							
								<a
									href="javascript:setHoliday('1');"
									id="holiday1">월</a>
							
								<a
									href="javascript:setHoliday('2');"
									id="holiday2">화</a>
							
								<a
									href="javascript:setHoliday('3');"
									id="holiday3">수</a>
							
								<a
									href="javascript:setHoliday('4');"
									id="holiday4">목</a>
							
								<a
									href="javascript:setHoliday('5');"
									id="holiday5">금</a>
							
								<a
									href="javascript:setHoliday('6');"
									id="holiday6">토</a>
							
								<a
									href="javascript:setHoliday('7');"
									id="holiday7">일</a>
							
								<a
									href="javascript:setHoliday('8');"
									id="holiday8">공휴일</a>
							
								<a
									href="javascript:setHoliday('9');"
									id="holiday9">기타</a>
							
							<input type="text" id="holidayetc" name="holidayetc"
								class="etcForm" placeholder="기타 선택시 입력해주세요." />
							<div class="chkForm">
								<input type="checkbox" id="noholiday" name="noholiday" /> <label
									for="noholiday">축제기간에 휴일 없음</label>
							</div>
						</div>
						<p class="rtxt">※ 복수 선택 가능</p>
					</td>
				</tr>
				<tr>
					<th>개최 장소명<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="place" name="place" class="inp" />
						</div>
					</td>
				</tr>
				<tr>
					<th>주소<mark>*</mark></th>
					<td>
						<div class="form">
							<div class="addrBox">
								<!-- <input type="text" id="postcode" class="inp" /> -->
								<a href="javascript:void(0)" id="addresssearchbutton"
									onclick="address_execDaumPostcode()" class="btnEtc01">주소찾기</a>
							</div>
							<input type="text" id="roadaddress" name="roadaddress"
								class="inp" />
							
						</div>
					</td>
				</tr>
				
				<tr>
					<th>위치정보<mark>*</mark></th>
					<td>
						<div class="form">
													<div class="addrBox" id="floating-panel">
								<input type="text" id="googleaddress" class="inp" /> <a
									href="javascript:void(0)" id="locationsearchbutton"
									class="btnEtc01">위치표시</a>
							</div>
							<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce9799ace907394c3c6506c13da262a3&libraries=services"></script>
							<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce9799ace907394c3c6506c13da262a3"></script>	
							<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce9799ace907394c3c6506c13da262a3&libraries=LIBRARY"></script>
							<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce9799ace907394c3c6506c13da262a3&libraries=services"></script>
							<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce9799ace907394c3c6506c13da262a3&libraries=services,clusterer,drawing"></script>
							
							<p class="rtxt">
								※카카오지도에서 위치 검색 후 플러스코드(ex.서울특별시)를 복사하여 붙여넣기 해주세요 [<a
									href="https://map.kakao.com/?urlX=495835&urlY=1129435&urlLevel=4&map_type=TYPE_MAP&map_hybrid=false" target="_blank">카카오지도바로가기</a>]
							</p>
							
							<div id="map" style="width:100%;height:500px; margin-top: 10px; display:;"></div>
							
							<!-- <div class="mapBox" id="googlemap"style="width: 100%; height: 500px; margin-top: 10px; display:;"></div> -->						
							
							<script>
								// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
								var infowindow = new kakao.maps.InfoWindow({zIndex:1});
								
								var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
								    mapOption = {
								        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
								        level: 3 // 지도의 확대 레벨
								    };  
								
								// 지도를 생성합니다    
								
								var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
								
								//일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
								var mapTypeControl = new kakao.maps.MapTypeControl();
								
								//지도에 컨트롤을 추가해야 지도위에 표시됩니다
								//kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
								map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
								
								//지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
								var zoomControl = new kakao.maps.ZoomControl();
								map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
								
								// 장소 검색 객체를 생성합니다
								var ps = new kakao.maps.services.Places(); 
								
								// 키워드로 장소를 검색합니다
								ps.keywordSearch('이태원 맛집', placesSearchCB); 
								
								// 키워드 검색 완료 시 호출되는 콜백함수 입니다
								function placesSearchCB (data, status, pagination) {
								    if (status === kakao.maps.services.Status.OK) {
								
								        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
								        // LatLngBounds 객체에 좌표를 추가합니다
								        var bounds = new kakao.maps.LatLngBounds();
								
								        for (var i=0; i<data.length; i++) {
								            displayMarker(data[i]);    
								            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
								        }       
								
								        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
								        map.setBounds(bounds);
								    } 
								}
								
								// 지도에 마커를 표시하는 함수입니다
								function displayMarker(place) {
								    
								    // 마커를 생성하고 지도에 표시합니다
								    var marker = new kakao.maps.Marker({
								        map: map,
								        position: new kakao.maps.LatLng(place.y, place.x) 
								    });
								
								    // 마커에 클릭이벤트를 등록합니다
								    kakao.maps.event.addListener(marker, 'click', function() {
								        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
								        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
								        infowindow.open(map, marker);
								    });
								}
							</script>
						</div>
					</td>
				</tr>
				<tr>
					<th>주최<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="hostname" name="hostname" class="inp" />
						</div>
					</td>
				</tr>
				<tr>
					<th>주관<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="organizer" name="organizer" class="inp" />
						</div>
					</td>
				</tr>
				<tr>
					<th>후원<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="sponsor" name="sponsor" class="inp" />
						</div>
					</td>
				</tr>
				<tr>
					<th>개설년도<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="openyear" name="openyear" class="etcForm"
								placeholder="ex) 2019" />
						</div>
					</td>
				</tr>
				<tr>
					<th>홈페이지 주소<mark>*</mark></th>
					<td>
						<div class="form">
							<input type="text" id="homepageurl" name="homepageurl"
								placeholder="http:// 를 포함한 전체 주소를 입력해주세요" class="inp" />
						</div>
					</td>
				</tr>
				<tr>
					<th>연락처<mark>*</mark></th>
					<td>
						<div class="form">
							<select id="contact01" name="contact01" class="select w60"><option
									value="">선택</option>
								<option value="999">해외</option>
								<option value="02">서울 (02)</option>
								<option value="031">경기 (031)</option>
								<option value="032">인천 (032)</option>
								<option value="033">강원 (033)</option>
								<option value="041">충남 (041)</option>
								<option value="042">대전 (042)</option>
								<option value="043">충북 (043)</option>
								<option value="051">부산 (051)</option>
								<option value="052">울산 (052)</option>
								<option value="053">대구 (053)</option>
								<option value="054">경북 (054)</option>
								<option value="055">경남 (055)</option>
								<option value="061">전남 (061)</option>
								<option value="062">광주 (062)</option>
								<option value="063">전북 (063)</option>
								<option value="064">제주 (064)</option>
								<option value="070">인터넷전화 (070)</option>
								<option value="050">평생전화 (050)</option>
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="016">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option></select>
							<div id="contact0203">
								<span class="etxt">-</span> <input type="text" id="contact02"
									name="contact02" class="inp w60" /> <span class="etxt">-</span>
								<input type="text" id="contact03" name="contact03"
									class="inp w60" />
							</div>
							<input type="text" id="contact" name="contact"
								style="display: none;" placeholder="" class="etcForm" />
						</div>
					</td>
				</tr>
				<style>
.image-upload>input {
	display: none;
}
</style>
				<style>
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#sortable li {
	padding: 0px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 326px;
	height: 244px;
	font-size: 1em;
	text-align: left;
}

.input_hidden {
	position: absolute;
	left: -9999px;
}
</style>
				<tr>
					<th>이미지<mark>*</mark></th>
					<td>
						<div class="form">
							<div class="image-upload">
								<label for="spotimage" class="btnEtc01">찾아보기</label><input
									id="spotimage" name="spotimage" type="file" />
							</div>
							<p class="findDesc">
								※ 이미지파일(GIF, JPG, PNG)만 첨부 가능하고 최대 5MB까지 첨부할 수 있습니다. (최대 10장) <br />대표이미지는
								썸네일로 사용되며, 정사각형 비율의 이미지를 선택해주세요.
							</p>
							<ul class="imgList" id="sortable">
							</ul>
						</div>
					</td>
				</tr>
				<!-- <script>
					$(function() {
						$('#sortable').sortable(
								{
									update : function(event, ui) {
										var productOrder = $(this).sortable(
												'toArray').toString();
										$('#imagefilepath').val(productOrder);
									}
								});
						$("#sortable").disableSelection();
					});

					function deleteSpotImage(name) {
						$('[name="' + name + '"]').remove();
						var productOrder = $('#sortable').sortable('toArray')
								.toString();
						$('#imagefilepath').val(productOrder);
					}

					var imageindex = 0;
					$("#spotimage")
							.on(
									'change',
									function() {
										resetCommonDialog();
										indicatorOn();
										if ($('#sortable').sortable('toArray').length >= 10) {
											indicatorOff();
											$('#dialogtitle').append('이미지업로드');
											$('#dialogcontent')
													.append(
															'이미지 파일은 최대 10장까지 업로드할 수 있습니다.');
											$('#commondialog').show();
										} else {
											// 업로드
											$
													.ajax({
														url : 'JSONHostSpotImageUpload.festa',
														type : 'POST',
														data : new FormData(
																$('form')[1]),
														mimeType : 'multipart/form-data',
														dataType : 'json',
														contentType : false,
														cache : false,
														processData : false,
														success : function(
																data,
																textStatus,
																jqXHR) {
															if (data.resultcode == 0) {
																indicatorOff();
																$("#sortable")
																		.append(
																				'<li id="' + data.tempimagepath + '" name="image_' + imageindex + '">'
																						+ '<a href="javascript:void(0)" onclick="javascript:deleteSpotImage(\'image_'
																						+ imageindex
																						+ '\');"><font size="2em">삭제▼</font></a>'
																						+ '<input type="radio" id="mainimage_' + imageindex + '" name="mainimagepath" value="' + data.tempimagepath + '" class="input_hidden">'
																						+ '<label class="" for="mainimage_'
																						+ imageindex
																						+ '" onclick="$(\'#sortable li label\').removeClass(\'selected\');$(this).addClass(\'selected\');$(\'#sortable li a\').removeClass(\'on\');$(\'#mainimagetitle_'
																						+ imageindex
																						+ '\').addClass(\'on\');$(\'#mainimage_'
																						+ imageindex
																						+ '\').prop(\'checked\', true);">'
																						+ '<a href="#none" id="mainimagetitle_'
																						+ imageindex
																						+ '" class="">'
																						+ '<img src="' + data.tempimagepath + '" style="max-height: 234px; width: 326px;" /></label></a></li>');
																imageindex++;
																$(
																		'#imagefilepath')
																		.val(
																				$(
																						'#sortable')
																						.sortable(
																								'toArray')
																						.toString());
															} else {
																indicatorOff();
																if (data.resultcode == 1) {
																	$(
																			'#dialogtitle')
																			.append(
																					'이미지업로드');
																	$(
																			'#dialogcontent')
																			.append(
																					'이미지를 첨부해 주세요.');
																	$(
																			'#commondialog')
																			.show();
																} else if (data.resultcode == 2) {
																	$(
																			'#dialogtitle')
																			.append(
																					'이미지업로드');
																	$(
																			'#dialogcontent')
																			.append(
																					'이미지 파일만 첨부 가능합니다.');
																	$(
																			'#commondialog')
																			.show();
																} else if (data.resultcode == 3) {
																	$(
																			'#dialogtitle')
																			.append(
																					'이미지업로드');
																	$(
																			'#dialogcontent')
																			.append(
																					'최대 5MB까지 첨부할 수 있습니다.');
																	$(
																			'#commondialog')
																			.show();
																} else if (data.resultcode == 4) {
																	$(
																			'#dialogtitle')
																			.append(
																					'이미지업로드');
																	$(
																			'#dialogcontent')
																			.append(
																					'축제등록은 로그인 후 이용해 주세요.');
																	$(
																			'#commondialog')
																			.show();
																}
															}
														},
														error : function(jqXHR,
																textStatus,
																errorThrown) {
															indicatorOff();
															$('#dialogtitle')
																	.append(
																			'이미지업로드');
															$('#dialogcontent')
																	.append(
																			textStatus);
															$('#commondialog')
																	.show();
														}
													});
										}
									});
				</script> -->
				<tr>
					<th>동영상<mark></mark></th>
					<td>
						<div class="form">
							<p class="item">외부링크</p>
							<input type="text" id="embedvideo" name="embedvideo"
								class="inp t05" />
						</div>
						<div class="form t01">
							<p class="item">파일첨부</p>
							<div class="image-upload">
								<label for="spotvideo" class="btnEtc01">찾아보기</label> <input
									type="file" id="spotvideo" name="spotvideo">
							</div>
							<p class="" id="videofilename"></p>
						</div>
						<p class="rtxt mt5">※ 동영상파일(mp4, mov, avi)만 첨부 가능하고 최대 500MB까지
							첨부할 수 있습니다.</p>
					</td>
				</tr>
				<!-- <script>
					$("#spotvideo")
							.on(
									'change',
									function() {
										resetCommonDialog();
										indicatorOn();
										// 업로드
										$
												.ajax({
													url : 'JSONHostSpotVideoUpload.festa',
													type : 'POST',
													data : new FormData(
															$('form')[1]),
													mimeType : 'multipart/form-data',
													dataType : 'json',
													contentType : false,
													cache : false,
													processData : false,
													success : function(data,
															textStatus, jqXHR) {
														if (data.resultcode == 0) {
															indicatorOff();
															$('#videofilepath')
																	.val(
																			data.tempspotvideopath);
															$('#videofilename')
																	.html(
																			data.tempspotvideopath);
														} else {
															indicatorOff();
															if (data.resultcode == 1) {
																$(
																		'#dialogtitle')
																		.append(
																				'동영상업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'동영상을 첨부해 주세요.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 2) {
																$(
																		'#dialogtitle')
																		.append(
																				'동영상업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'동영상 파일만 첨부 가능합니다.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 3) {
																$(
																		'#dialogtitle')
																		.append(
																				'동영상업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'최대 500MB까지 첨부할 수 있습니다.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 4) {
																$(
																		'#dialogtitle')
																		.append(
																				'동영상업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'다시 로그인 해주세요.');
																$(
																		'#commondialog')
																		.show();
															}
														}
													},
													error : function(jqXHR,
															textStatus,
															errorThrown) {
														indicatorOff();
														$('#dialogtitle')
																.append(
																		'동영상업로드');
														$('#dialogcontent')
																.append(
																		textStatus);
														$('#commondialog')
																.show();
													}
												});
									});
				</script> -->
				<tr>
					<th>리플렛<mark></mark></th>
					<td>
						<div class="form t01">
							<p class="item">파일첨부</p>
							<div class="image-upload">
								<label for="spotleaflet" class="btnEtc01">찾아보기</label> <input
									type="file" id="spotleaflet" name="spotleaflet">
							</div>
							<p class="" id="leafletfilename"></p>
						</div>
						<p class="rtxt mt5">※ PDF파일만 첨부 가능하고 최대 100MB까지 첨부할 수 있습니다.</p>
					</td>
				</tr>
				<!-- <script>
					$("#spotleaflet")
							.on(
									'change',
									function() {
										resetCommonDialog();
										indicatorOn();
										// 업로드
										$
												.ajax({
													url : 'JSONHostSpotLeafletUpload.festa',
													type : 'POST',
													data : new FormData(
															$('form')[1]),
													mimeType : 'multipart/form-data',
													dataType : 'json',
													contentType : false,
													cache : false,
													processData : false,
													success : function(data,
															textStatus, jqXHR) {
														if (data.resultcode == 0) {
															indicatorOff();
															$('#leafletfilepath')
																	.val(
																			data.tempspotleafletpath);
															$('#leafletfilename')
																	.html(
																			data.tempspotleafletpath);
														} else {
															indicatorOff();
															if (data.resultcode == 1) {
																$(
																		'#dialogtitle')
																		.append(
																				'리플렛업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'리플렛을 첨부해 주세요.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 2) {
																$(
																		'#dialogtitle')
																		.append(
																				'리플렛업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'PDF파일만 첨부 가능합니다.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 3) {
																$(
																		'#dialogtitle')
																		.append(
																				'리플렛업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'최대 100MB까지 첨부할 수 있습니다.');
																$(
																		'#commondialog')
																		.show();
															} else if (data.resultcode == 4) {
																$(
																		'#dialogtitle')
																		.append(
																				'리플렛업로드');
																$(
																		'#dialogcontent')
																		.append(
																				'다시 로그인 해주세요.');
																$(
																		'#commondialog')
																		.show();
															}
														}
													},
													error : function(jqXHR,
															textStatus,
															errorThrown) {
														indicatorOff();
														$('#dialogtitle')
																.append(
																		'리플렛업로드');
														$('#dialogcontent')
																.append(
																		textStatus);
														$('#commondialog')
																.show();
													}
												});
									});
				</script> -->
				<tr>
					<th>축제소개<mark>*</mark></th>
					<td>
						<div class="form"></div> <textarea id="description"
							name="description" class="textarea"></textarea>
					</td>
				</tr>
				<tr>
					<th>해시태그<mark>*</mark>
					</th>
					<td>
						<div class="form">
							<input type="text" id="hashtags" name="hashtags" class="inp"
								placeholder="" />
						</div>
						<p class="rtxt mt5">※ 각 태그는 쉼표로 구분하며, '한글/영문/숫자/_(언더바)' 만 최대
							10개까지 입력 가능합니다. ex) ALLFestMoa,축제,이벤트,전통시장</p>
					</td>
				</tr>
			</table>

			<p class="wSubj">
				이용정보 <span>(선택)</span>
			</p>
			<table class="writeTable t01">
				<colgroup>
					<col width="120" />
					<col width="" />
				</colgroup>
				<tr>
					<th>수용인원</th>
					<td>
						<div class="form">
							<input type="text" id="capacity" name="capacity" class="inp w100" />
							<span class="etxt">명</span>
						</div>
					</td>
				</tr>
				<tr>
					<th>입장료</th>
					<td>
						<div class="form">
							<input type="radio" name="entrancefeeflag" id="entrancefeeflag1"
								value="N" checked /> <label for="entrancefeeflag1">무료</label> <input
								type="radio" name="entrancefeeflag" id="entrancefeeflag2"
								value="Y" /> <label for="entrancefeeflag2">유료</label>
						</div>
						<div class="form t01">
							<textarea class="textarea" id="entrancefee" name="entrancefee"
								placeholder="입장료와 관련된 정보를 작성해주세요."></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<th>티켓구매처</th>
					<td>
						<!--
						<div class="form">
							<input type="radio" id="rd03" /> <label for="rd03">온라인</label> <input
								type="radio" id="rd04" /> <label for="rd04">오프라인</label>
						</div>
						<div class="form t01">
							<p class="item">연락처</p>
							<select class="select w60"><option>선택</option></select> <span
								class="etxt">-</span> <input type="text" class="inp w60" /> <span
								class="etxt">-</span> <input type="text" class="inp w60" />
						</div> 
					 -->
						<div class="form t01">
							<p class="item">온라인</p>
							<input type="text" id="onlinebuysite" name="onlinebuysite"
								class="inp t05" placeholder="http:// 를 포함한 전체 주소를 입력해주세요" />
						</div>
						<div class="form t01">
							<p class="item">오프라인</p>
							<input type="text" id="offlinebuysite" name="offlinebuysite"
								class="inp t05" />
						</div>
					</td>
				</tr>
				<tr>
					<th class="vm">음식물반입</th>
					<td>
						<div class="form">
							<input type="radio" name="foodflag" id="foodflag1" value="Y"
								checked /> <label for="foodflag1">가능</label> <input
								type="radio" name="foodflag" id="foodflag2" value="N" /> <label
								for="foodflag2">불가</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>주차장</th>
					<td>
						<div class="form">
							<input type="radio" name="parkingflag" id="parkingflag1"
								value="Y" checked /> <label for="parkingflag1">있음</label> <input
								type="radio" name="parkingflag" id="parkingflag2" value="N" />
							<label for="parkingflag2">없음</label>
						</div>
						<div class="form t01">
							<textarea class="textarea" id="parkingremark"
								name="parkingremark" placeholder="주차에 대한 정보를 작성해주세요."></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<th>공중화장실</th>
					<td>
						<div class="form">
							<input type="radio" name="toiletflag" id="toiletflag1" value="Y"
								checked /> <label for="toiletflag1">있음</label> <input
								type="radio" name="toiletflag" id="toiletflag2" value="N" /> <label
								for="toiletflag2">없음</label>
						</div>
						<div class="form t01">
							<textarea class="textarea" id="toiletremark" name="toiletremark"
								placeholder="공중화장실에 대한 특이사항을 작성해주세요."></textarea>
						</div>
					</td>
				</tr>

				<tr>
					<td colspan="2">
						<!-- 전체 수정2019.05.24-->
						<div class="kangoWarp">
							<p class="kangoSubj">유료광고 신청하기</p>
							<p class="kangoTxt">※ 유료광고는 필수사항이 아니며, 컨텐츠 등록 이후에도 신청할 수
								있습니다.</p>
							<div class="btnKango">
								<a href="javascript:void(0)"
									onclick="javascript:$.serviceDialog('광고신청 내역', '<br />서비스 준비중 입니다.<br />', '');">
									<img src="https://joyfesta.kr/include/img/ico/ico_kango.png" /> <span>광고집행신청서
										작성</span> <input type="checkbox" id="chk_adapply" /> <label
									for="chk_adapply" class="label"></label>
								</a>
							</div>
						</div> <!--광고집행신청서--> <!--//광고집행신청서-->
					</td>
				</tr>
			</table>
			<div class="boardBtnBox ac">
				<a href="javascript:void(0)" id="registerbutton" class="btnType03">등록
					승인요청</a> <a href="javascript:void(0)" onclick="window.history.back();"
					class="btnType04">목록</a>
			</div>
		</div>
	</section>
</form>

<!-- <script>

	$('#sido').on('change', function() {
		$('#sigungu').val('');
		$.setSigungu($('#sido').val(), 'sigungu');
		
		$('#regions').val('');
		$.setCountry($('#regions').val(), 'country');

		$('#region').val('');
	});

	$('#sigungu').on('change', function() {
		$('#region').val($('#sigungu').val());
	});
	
	$('#regions').on('change', function() {
		$('#country').val('');
		$.setCountry($('#regions').val(), 'country');
		
		$('#sido').val('');
		$.setSigungu($('#sido').val(), 'sigungu');

		$('#region').val('');
	});

	$('#country').on('change', function() {
		$('#region').val($('#country').val());
	});
	
	$('#festivalstartdate').on('changeDate', function() {
		var startdate = $('#festivalstartdate').val();
		var enddate = $('#festivalenddate').val();
		if (startdate != '' && enddate != '') {
			checkDate2(startdate, enddate, 'festivalstartdate');
		}
	});
	$('#festivalenddate').on('changeDate', function() {
		var startdate = $('#festivalstartdate').val();
		var enddate = $('#festivalenddate').val();
		if (startdate != '' && enddate != '') {
			checkDate2(startdate, enddate, 'festivalenddate');
		}
	});

	function checkDate2(startDate, endDate, target) {
		var startDateArr = startDate.split('.');
		var endDateArr = endDate.split('.');
		var startDateCompare = new Date(startDateArr[0], startDateArr[1],
				startDateArr[2]);
		var endDateCompare = new Date(endDateArr[0], endDateArr[1],
				endDateArr[2]);
		if (startDateCompare.getTime() > endDateCompare.getTime()) {
			alert("축제기간 날짜를 확인해 주세요.");
			$('#' + target).val('');
		}
	}

	$('#contact01').change(function() {
		if ($('#contact01').val() == '999') {
			$('#contact0203').hide();
			$('#contact').show();
		} else {
			$('#contact0203').show();
			$('#contact').hide();
		}
	});

	function setRegion(region) {
		$("a[id^='region']").each(function(i, el) {
			$(this).attr('class', '');
		});
		$('#region' + region).attr('class', 'on');
		$('#region').val(region);
	}

	var situationseqs = [];
	function setSituation(situationseq) {
		if ($('#situation' + situationseq).attr('class') == 'on') {
			situationseqs.push(situationseq);
		} else {
			situationseqs.splice($.inArray(situationseq, situationseqs), 1);
		}
		$('#situationseqs').val(situationseqs);
	}

	var seasonseqs = [];
	function setSeason(seasonseq) {
		if ($('#season' + seasonseq).attr('class') == 'on') {
			seasonseqs.push(seasonseq);
		} else {
			seasonseqs.splice($.inArray(seasonseq, seasonseqs), 1);
		}
		$('#seasonseqs').val(seasonseqs);
	}

	var termseqs = [];
	function setTerm(termseq) {
		if ($('#term' + termseq).attr('class') == 'on') {
			termseqs.push(termseq);
		} else {
			termseqs.splice($.inArray(termseq, termseqs), 1);
		}
		$('#termseqs').val(termseqs);
	}

	function setOpenflag(openflag) {
		$("a[id^='openflag']").each(function(i, el) {
			$(this).attr('class', '');
		});
		$('#openflag' + openflag).attr('class', 'on');
		$('#openflag').val(openflag);
	}

	var typeseqs = [];
	function setType(typeseq) {
		if ($('#type' + typeseq).attr('class') == 'on') {
			typeseqs.push(typeseq);
		} else {
			typeseqs.splice($.inArray(typeseq, typeseqs), 1);
		}
		$('#typeseqs').val(typeseqs);
	}

	var holidayseqs = [];
	function setHoliday(holidayseq) {
		if ($('#holiday' + holidayseq).attr('class') == 'on') {
			holidayseqs.push(holidayseq);
		} else {
			holidayseqs.splice($.inArray(holidayseq, holidayseqs), 1);
		}
		$('#holidayseqs').val(holidayseqs);
	}

	$('#chk_adapply').change(function() {
		if ($(this).is(':checked')) {
			$('#adapplyflag').val('Y');
		} else {
			$('#adapplyflag').val('N');
		}
	});

	$('#chk_mtop').change(function() {
		if ($(this).is(':checked')) {
			$('#maintopbannerflag').val('Y');
		} else {
			$('#maintopbannerflag').val('N');
		}
	});

	$('#chk_mhot').change(function() {
		if ($(this).is(':checked')) {
			$('#hotspotbannerflag').val('Y');
		} else {
			$('#hotspotbannerflag').val('N');
		}
	});

	$('#chk_mbest').change(function() {
		if ($(this).is(':checked')) {
			$('#bestbannerflag').val('Y');
		} else {
			$('#bestbannerflag').val('N');
		}
	});

	$('#chk_mplan').change(function() {
		if ($(this).is(':checked')) {
			$('#promotionflag').val('Y');
		} else {
			$('#promotionflag').val('N');
		}
	});

	$('#chk_mprim').change(function() {
		if ($(this).is(':checked')) {
			$('#premiumpageflag').val('Y');
		} else {
			$('#premiumpageflag').val('N');
		}
	});

	$('#chk_msearch').change(function() {
		if ($(this).is(':checked')) {
			$('#keywordflag').val('Y');
		} else {
			$('#keywordflag').val('N');
		}
	});

	$('#chk_mtag').change(function() {
		if ($(this).is(':checked')) {
			$('#hashtagflag').val('Y');
		} else {
			$('#hashtagflag').val('N');
		}
	});

	$('#chk_metc').change(function() {
		if ($(this).is(':checked')) {
			$('#etcflag').val('Y');
		} else {
			$('#etcflag').val('N');
		}
	});

	$("#maintopbannerimage").on('change', function() {
		resetCommonDialog();
		indicatorOn();
		// 업로드
		$.ajax({
			url : 'JSONAdApplyImageUpload.festa?imagetype=banner',
			type : 'POST',
			data : new FormData($('form')[1]),
			mimeType : 'multipart/form-data',
			dataType : 'json',
			contentType : false,
			cache : false,
			processData : false,
			success : function(data, textStatus, jqXHR) {
				if (data.resultcode == 0) {
					indicatorOff();
					$('#maintopbannerimagetag').html(data.tempimagepath);
					$('#maintopbannerimagetag').show();
					$('#maintopbannerimagefilepath').val(data.tempimagepath);
				} else {
					indicatorOff();
					if (data.resultcode == 1) {
						$('#dialogtitle').append('이미지업로드');
						$('#dialogcontent').append('이미지를 첨부해 주세요.');
						$('#commondialog').show();
					} else if (data.resultcode == 2) {
						$('#dialogtitle').append('이미지업로드');
						$('#dialogcontent').append('이미지 파일만 첨부 가능합니다.');
						$('#commondialog').show();
					} else if (data.resultcode == 3) {
						$('#dialogtitle').append('이미지업로드');
						$('#dialogcontent').append('최대 5MB까지 첨부할 수 있습니다.');
						$('#commondialog').show();
					} else if (data.resultcode == 4) {
						$('#dialogtitle').append('이미지업로드');
						$('#dialogcontent').append('다시 로그인 해주세요.');
						$('#commondialog').show();
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				indicatorOff();
				$('#dialogtitle').append('이미지업로드');
				$('#dialogcontent').append(textStatus);
				$('#commondialog').show();
			}
		});
	});

	$("#bizimage").on('change', function() {
		resetCommonDialog();
		indicatorOn();
		// 업로드
		$.ajax({
			url : 'JSONAdApplyImageUpload.festa?imagetype=biz',
			type : 'POST',
			data : new FormData($('form')[1]),
			mimeType : 'multipart/form-data',
			dataType : 'json',
			contentType : false,
			cache : false,
			processData : false,
			success : function(data, textStatus, jqXHR) {
				if (data.resultcode == 0) {
					indicatorOff();
					$('#bizimagefilepathtag').html(data.tempimagepath);
					$('#bizimagefilepathtag').show();
					$('#bizimagefilepath').val(data.tempimagepath);
				} else {
					indicatorOff();
					if (data.resultcode == 1) {
						$('#dialogtitle').append('사업자등록증업로드');
						$('#dialogcontent').append('사업자등록증을 첨부해 주세요.');
						$('#commondialog').show();
					} else if (data.resultcode == 2) {
						$('#dialogtitle').append('사업자등록증업로드');
						$('#dialogcontent').append('이미지 파일만 첨부 가능합니다.');
						$('#commondialog').show();
					} else if (data.resultcode == 3) {
						$('#dialogtitle').append('사업자등록증업로드');
						$('#dialogcontent').append('최대 5MB까지 첨부할 수 있습니다.');
						$('#commondialog').show();
					} else if (data.resultcode == 4) {
						$('#dialogtitle').append('사업자등록증업로드');
						$('#dialogcontent').append('다시 로그인 해주세요.');
						$('#commondialog').show();
					}
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				indicatorOff();
				$('#dialogtitle').append('사업자등록증업로드');
				$('#dialogcontent').append(textStatus);
				$('#commondialog').show();
			}
		});
	});

	$('#registerbutton')
			.click(
					function() {
						resetCommonDialog();
						indicatorOn();

						if ($("input:checkbox[id='noholiday']").is(":checked") == true) {
							$('#noholidayflag').val('Y');
						} else {
							$('#noholidayflag').val('N');
						}

						var contact = $('#contact01').val() + '-'
								+ $('#contact02').val() + '-'
								+ $('#contact03').val();
						if ($('#contact01').val() == '999') {
							contact = $('#contact').val();
						}

						if ($('#sigungu').val() != '') {
							$('#region').val($('#sigungu').val());
						}
						if ($('#country').val() != '') {
							$('#region').val($('#country').val());
						}

						$
								.ajax({
									url : 'JSONHostFestivalRegister.festa',
									type : 'POST',
									data : {
										region : $('#region').val(),
										situationseqs : $('#situationseqs')
												.val(),
										seasonseqs : $('#seasonseqs').val(),
										termseqs : $('#termseqs').val(),
										openflag : $('#openflag').val(),
										typeseqs : $('#typeseqs').val(),
										typeetc : $('#typeetc').val(),
										title : $('#title').val(),
										startdate : $('#festivalstartdate')
												.val(),
										enddate : $('#festivalenddate').val(),
										closetime : $('#closetimeh').val()
												+ ':' + $('#closetimem').val(),
										opentime : $('#opentimeh').val() + ':'
												+ $('#opentimem').val(),
										holidayseqs : $('#holidayseqs').val(),
										holidayetc : $('#holidayetc').val(),
										noholidayflag : $('#noholidayflag')
												.val(),
										place : $('#place').val(),
										roadaddress : $('#roadaddress').val(),
										lat : $('#lat').val(),
										lon : $('#lon').val(),
										host : $('#hostname').val(),
										organizer : $('#organizer').val(),
										sponsor : $('#sponsor').val(),
										openyear : $('#openyear').val(),
										homepageurl : $('#homepageurl').val(),
										contact : contact,
										imagefilepath : $('#imagefilepath')
												.val(),
										mainimagepath : $(
												'input[name=mainimagepath]:checked')
												.val(),
										embedvideo : $('#embedvideo').val(),
										videofilepath : $('#videofilepath')
										.val(),
										leafletfilepath : $('#leafletfilepath')
										.val(),
										description : $('#description').val(),
										hashtags : $('input[name=hashtags]')
												.val(),
										capacity : $('#capacity').val(),
										entrancefeeflag : $(
												'input[name=entrancefeeflag]:checked')
												.val(),
										entrancefee : $('#entrancefee').val(),
										onlinebuysite : $('#onlinebuysite')
												.val(),
										offlinebuysite : $('#offlinebuysite')
												.val(),
										foodflag : $(
												'input[name=foodflag]:checked')
												.val(),
										parkingflag : $(
												'input[name=parkingflag]:checked')
												.val(),
										parkingremark : $('#parkingremark')
												.val(),
										toiletflag : $(
												'input[name=toiletflag]:checked')
												.val(),
										toiletremark : $('#toiletremark').val()
									/*,

																			// 광고신청
																			adapplyflag : $('#adapplyflag').val(),
																			maintopbannerflag : $(
																					'#maintopbannerflag').val(),
																			maintopbannerimagefilepath : $(
																					'#maintopbannerimagefilepath')
																					.val(),
																			hotspotbannerflag : $(
																					'#hotspotbannerflag').val(),
																			bestbannerflag : $('#bestbannerflag')
																					.val(),
																			promotionflag : $('#promotionflag')
																					.val(),
																			premiumpageflag : $('#premiumpageflag')
																					.val(),
																			keywordflag : $('#keywordflag').val(),
																			keyword : $('#keyword').val(),
																			hashtagflag : $('#hashtagflag').val(),
																			hashtag : $('#hashtag').val(),
																			etcflag : $('#etcflag').val(),
																			etccost : $('#etccost').val(),
																			expectamout : $('#expectamout').val(),

																			corpname : $('#corpname').val(),
																			zipcode : $('#zipcode').val(),
																			address : $('#address').val(),
																			biznumber : $('#biznumber01').val()
																					+ '-' + $('#biznumber02').val()
																					+ '-' + $('#biznumber03').val(),
																			representname : $('#representname')
																					.val(),
																			biztype : $('#biztype').val(),
																			bizcate : $('#bizcate').val(),
																			taxemail : $('#taxemail01').val() + '@'
																					+ $('#taxemail02').val(),
																			bizimagefilepath : $(
																					'#bizimagefilepath').val(),
																			managername : $('#managername').val(),
																			manageremail : $('#manageremail01')
																					.val()
																					+ '@'
																					+ $('#manageremail02').val(),
																			managercontact : $('#managercontact01')
																					.val()
																					+ '-'
																					+ $('#managercontact02').val()
																					+ '-'
																					+ $('#managercontact03').val(),
																			managerphonenumber : $(
																					'#managerphonenumber01').val()
																					+ '-'
																					+ $('#managerphonenumber02')
																							.val()
																					+ '-'
																					+ $('#managerphonenumber03')
																							.val(),
																			requestcontent : $('#requestcontent')
																					.val()
									 */
									},
									dataType : 'json',
									success : function(data, textStatus, jqXHR) {
										indicatorOff();
										if (data.resultcode == 0) {
											$('#dialogtitle').append('축제등록');
											$('#dialogcontent').append(
													'축제등록신청이 완료되었습니다.');
											dialogtargeturl = 'HostSpot.festa';
											$('#commondialog').show();
										} else if (data.resultcode == 2) {
											$('#dialogtitle').append('축제등록');
											$('#dialogcontent').append(
													data.resultmessage);
											$('#commondialog').show();
										} else {
											$('#dialogtitle').append('축제등록');
											$('#dialogcontent').append(
													data.resultmessage);
											$('#commondialog').show();
										}
									},
									error : function(jqXHR, textStatus,
											errorThrown) {
										indicatorOff();
										$('#dialogtitle').append('축제등록');
										$('#dialogcontent').append(textStatus);
										$('#commondialog').show();
									}
								});
					});

	$(document).ready(
			function() {
				if ($('#sido').val() != '') {
					$.setSigungu($('#sido').val(), 'sigungu');
					$('#sigungu').val($('#region').val());
				}

				if ($('#regions').val() != '') {
					$.setCountry($('#regions').val(), 'country');
					$('#country').val($('#region').val());
				}
				
				$('#situationseqs').val('');
				$('#seasonseqs').val('');
				$('#termseqs').val('');
				$('#typeseqs').val('');
				$('#holidayseqs').val('');

				$('#description').trumbowyg(
						{
							lang : 'ko',
							btnsDef : {
								// Create a new dropdown
								image : {
									dropdown : [ 'insertImage', 'base64' ],
									ico : 'insertImage'
								}
							},
							// Redefine the button pane
							btns : [
									[ 'strong', 'em', 'del' ],
									[ 'fontfamily' ],
									[ 'fontsize' ],
									[ 'foreColor', 'backColor' ],
									[ 'link' ],
									[ 'image' ], // Our fresh created dropdown
									[ 'justifyLeft', 'justifyCenter',
											'justifyRight', 'justifyFull' ],
									[ 'lineheight' ],
									[ 'unorderedList', 'orderedList' ],
									[ 'horizontalRule' ], [ 'fullscreen' ],
									[ 'historyUndo', 'historyRedo' ] ]
						});
				
				
			});

	
</script> -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function address_execDaumPostcode() {
	new daum.Postcode(
			{
				oncomplete : function(data) {
					var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 도로명 조합형 주소 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== ''
							&& /[동|로|가]$/g
									.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== ''
							&& data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', '
								+ data.buildingName
								: data.buildingName);
					}
					// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' ('
								+ extraRoadAddr
								+ ')';
					}
					// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
					if (fullRoadAddr !== '') {
						fullRoadAddr += extraRoadAddr;
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					//document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
					document
							.getElementById('roadaddress').value = fullRoadAddr;

					//autoLocation(fullRoadAddr);
				}
			}).open();
}
</script>






</th:block>

</html>